.jumbotron, footer {
	color: #27272b !important;
	background-color: #f2f2f2 !important;
}
.switch-calculator {
	margin-top: 10px;
}
.shipment-list {
	line-height: 50px;
}
h3, h4 {
	font-weight: normal !important;
}
.home-image {
	height: auto;
	background-image: 'images/home-bg.jpg';
}
#home-wrapper {
	margin-top: -20px;
	margin-bottom: -28px;
}
#utl_fees {
	margin-bottom: 24px;
}