.jumbotron,
footer {
    color: #27272b !important;
    background-color: #fff !important;
}

.jumbotron {
    min-height: 620px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.switch-calculator {
    margin-top: 10px;
}

.shipment-list {
    line-height: 50px;
}

h3,
h4 {
    font-weight: normal !important;
}

.home-image {
    height: auto;
    background-image: url('images/home-image.png');
}

#home-wrapper {
    margin-top: -20px;
    margin-bottom: -28px;
}

#utl_fees {
    margin-bottom: 24px;
}

.comments-box {
    padding: 0px;
}

.mailbox-nav .active a,
.mailbox-nav li a:hover {
    color: #333;
}

.mailbox-nav li a i {
    margin-right: 5px
}

.mailbox-content {
    background: #fff;
    padding: 15px;
    overflow: hidden
}

.mailbox-header {
    margin-bottom: 20px
}

.mailbox-header h2 {
    margin: 3px 0
}

.mailbox-content table thead tr th {
    border-bottom: 1px solid #ddd
}

.mailbox-content table tbody tr td {
    cursor: pointer
}

.mailbox-content table tbody tr:hover {
    background: #FAFAFA
}

.mailbox-content table tbody tr.read {
    background: #EEEAFF;
    color: #7F7F7F
}

.mailbox-content table tbody tr.checked {
    background: #FFC
}

.mail-hidden-options {
    display: none
}

.message-sender img,
.message-sender p {
    display: inline-block
}

.message-header {
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0 15px;
    margin-bottom: 10px
}

.message-content,
.message-sender {
    padding: 0 0 5px
}

.message-header h3 {
    float: left;
    font-size: 18px;
    margin: 0;
    color: #666
}

.message-header p {
    float: right;
    margin: 0
}

.message-attachments,
.message-content,
.message-sender {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    margin-bottom: 10px
}

.message-sender img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px
}

.message-sender span {
    color: #7F7F7F
}

.message-attachments {
    padding: 0 0 15px
}

.message-attachment {
    position: relative;
    width: 200px;
    float: left;
    margin-right: 10px;
    border: 1px solid #f1f1f1
}

.attachment-info p,
.box-notifications ul li p {
    margin: 0
}

.compose-options,
.message-attachment img {
    display: block;
    width: 100%
}

.attachment-info {
    background: #f9f9f9;
    padding: 10px
}

.attachment-info span {
    font-size: 11px;
    color: #aaa
}

.compose-message {
    overflow: hidden;
    padding: 0 0 10px
}

.compose-options {
    overflow: hidden
}

.box-notifications {
    max-height: 312px;
    overflow-y: scroll
}

.mailbox-nav li a {
    display: block;
    padding: 10px 7px;
    color: #999;
    border-bottom: 1px solid #E7EAEC;
    overflow: hidden;
    text-decoration: none;

}
.dash-unit {        
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background-image:url('../img/sep-half.png');
    background-color: #3d3d3d;
    color:white;
    height:290px;
}

.dash-unit:hover {
    background-color: #4f4f4f;
    -moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}

.dash-unit dtitle {
    font-size:11px;
    text-transform:uppercase;
    color:#ffffff;
    margin:8px;
    padding:0px;
    height:inherit  
    }
    
.dash-unit hr {
    border: 0;
    border-top: 1px solid #151515;
    border-top-style: dashed;
    margin-top:3px;
}

.dash-unit h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit h3 {
    font-weight:300;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #b2c831;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit p {
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: inherit;
    margin: 0 0 10px;
    padding:5px;
 }

.dash-unit h4 {
    padding-left:5px;
    margin-top:2px;
    font-size: 13px;
    font-weight:lighter;
    line-height: 1;
    letter-spacing: 0px;
    color: #fff;
}

.dash-unit bold{
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}