<template name="dwollaTransfers">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
					<th>Transfer ID</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Status</th>
				</tr>
				</thead>
				<tbody>
					{{#each adminTransfers}}
						<tr>
							<td>{{this.id}}</td>
							<td>{{this.created}}</td>
							<td>{{this.amount.value}}</td>
							<td>{{this.status}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>			
		</div>
	</div>
</template>