<template name="userTransfers">
	<div class="row">
		<div class="col-md-12">
			<h4>{{userName}} - Transfers</h4>
		</div>
		{{#if isProvider}}
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Transfer ID</th>
								<th>Date</th>
								<th>Amount</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{{#each userTransfers}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{formatDate this.created}}</td>
									<td>{{this.amount.value}}</td>
									<td>{{this.status}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		{{/if}}
		{{#if isBuyer}}
			<div class="col-md-12">
				{{>ReactiveDatatable tableData=previousDeposits options=previousDepositOptions}}
			</div>
		{{/if}}
	</div>
</template>