<template name="buyerNotifications">
	<ul class="list-group">
		{{#each buyerNotifications}}
			{{#if $eq this.notificationType 'newJobApplication'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}" class="item-info">{{this.pname}}</a> has applied for your job.
								<p><a href="/jobs/{{this.jobId}}">{{jobName}}</a></p>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
			{{#if $eq this.notificationType 'confirmAssignment'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}">{{this.pname}}</a> has confirmed assignment. The job is now assigned.
								<p><a href="/jobs/{{this.jobId}}">{{jobName}}</a></p>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
			{{#if $eq this.notificationType 'declineAssignment'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}">{{this.pname}}</a> has declined assignment. Your job status is now open again. You can choose a different provider from posted applications.
								<p><a href="/jobs/{{this.jobId}}">{{jobName}}</a></p>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
			{{#if $eq this.notificationType 'submitAssignment'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}">{{this.pname}}</a> has submitted assigned job for approval.
								<p><a href="/jobs/{{this.jobId}}">{{jobName}}</a></p>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
			{{#if $eq this.notificationType 'requestPayment'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}">{{this.pname}}</a> has requested for payment.
								<p><a href="/jobs/{{this.jobId}}">{{jobName}}</a></p>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
			{{#if $eq this.notificationType 'addFavBuyer'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}">{{this.pname}}</a> has added you to his/her favorites. <br>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
			{{#if $eq this.notificationType 'remFavBuyer'}}
				{{#with this}}
					<div class="notification-item markRead {{#if $eq this.read false}} isNotRead {{else}} isRead {{/if}}">
						<div class="media">
							<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image" width='64px'></a></div>
							<div class="media-body">
								<a href="/profiles/{{this.providerId}}">{{this.pname}}</a> has removed you from his/her favorites. <br>
								<small>{{this.notificationTime}}</small>
							</div>
						</div>
					</div>
				{{/with}}
			{{/if}}
		{{/each}}
	</ul>
</template>