<template name="buyerNotifications">
	<ul class="timeline">
		{{#each buyerNotifications}}
			{{#if $eq this.notificationType 'newJobApplication'}}
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">New Job Application</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <i>{{this.notificationTime}}</i></small></p>
						</div>
						<div class="timeline-body">
							<div class="media">
								<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image img-circle" width='48px'></a></div>
								<div class="media-body">
									<p>
										{{#with jobDetails this.jobId}}
											<a href="{{pathFor 'job'}}"># {{readableID}} {{title}}</a>
											<br>
										{{/with}}
										{{this.pname}} has applied for your job.
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/if}}
			{{#if $eq this.notificationType 'confirmAssignment'}}
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Provider Confirmed Assignment</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <i>{{this.notificationTime}}</i></small></p>
						</div>
						<div class="timeline-body">
							<div class="media">
								<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image img-circle" width='48px'></a></div>
								<div class="media-body">
									<p>
										{{#with jobDetails this.jobId}}
											<a href="{{pathFor 'job'}}"># {{readableID}} {{title}}</a>
											<br>
										{{/with}}
										{{this.pname}} has confirmed assignment. The job is now assigned.
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/if}}
			{{#if $eq this.notificationType 'declineAssignment'}}
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Provider Declined Assignment</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <i>{{this.notificationTime}}</i></small></p>
						</div>
						<div class="timeline-body">
							<div class="media">
								<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image img-circle" width='48px'></a></div>
								<div class="media-body">
									<p>
										{{#with jobDetails this.jobId}}
											<a href="{{pathFor 'job'}}"># {{readableID}} {{title}}</a>
											<br>
										{{/with}}
										{{this.pname}} has declined assignment. Your job status is now open again. You can choose a different provider from posted applications.
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/if}}
			{{#if $eq this.notificationType 'submitAssignment'}}
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Provider Submitted Assignment</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <i>{{this.notificationTime}}</i></small></p>
						</div>
						<div class="timeline-body">
							<div class="media">
								<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image img-circle" width='48px'></a></div>
								<div class="media-body">
									<p>
										{{#with jobDetails this.jobId}}
											<a href="{{pathFor 'job'}}"># {{readableID}} {{title}}</a>
											<br>
										{{/with}}
										{{this.pname}} has submitted assigned job for approval.
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/if}}
			{{#if $eq this.notificationType 'addFavBuyer'}}
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Provider Added You To His/Her Favorites</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <i>{{this.notificationTime}}</i></small></p>
						</div>
						<div class="timeline-body">
							<div class="media">
								<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image img-circle" width='48px'></a></div>
								<div class="media-body">
									{{this.pname}} has added you to his/her favorites. <br>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/if}}
			{{#if $eq this.notificationType 'remFavBuyer'}}
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Provider Removed You From His/Her Favorites</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <i>{{this.notificationTime}}</i></small></p>
						</div>
						<div class="timeline-body">
							<div class="media">
								<div class="media-left"><a href="/profiles/{{this.providerId}}"><img src="{{this.imgUrl}}" alt="{{this.pname}}" class="media-object avatar-image img-circle" width='48px'></a></div>
								<div class="media-body">
									{{this.pname}} has removed you from his/her favorites. <br>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/if}}
		{{/each}}
	</ul>
</template>