<template name="breadcrumbs">
	{{#if currentUser}}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="homePageIntro" class="container-fluid gradient-blue-orange-h"></div>
				</div>
				<div class="col-sm-12">
					{{#if profileCreated}}
						{{#if isInRole 'buyer, dispatcher'}}
			                <div class="row spacer-top">
			                    <div class="col-md-6">
			                        <div class="widget widget-default widget-item-icon">
			                            <div class="widget-data">
			                            	<div class="widget-title">
			                            		<a href="{{pathFor 'myJobs'}}">Posted Jobs <span class="badge">{{postedJobCount}}</span></a>
				                            </div>
				                            <div class="widget-subtitle">
												<a href="{{pathFor 'buyerOpenJobs'}}">Open - {{buyerOpenCount}}</a> &#124;
												<a href="{{pathFor 'buyerInvitedJobs'}}">Invited - {{buyerInvitedCount}}</a> &#124;
												<a href="{{pathFor 'buyerAssignedJobs'}}">Assigned - {{buyerAssignedCount}}</a> &#124;
												<a href="{{pathFor 'buyerPendingApprovalJobs'}}">Pending Payment - {{buyerPendingApprovalCount}}</a> &#124;
												<a href="{{pathFor 'buyerPaidJobs'}}">Paid - {{buyerPaidCount}}</a> &#124;
												<a href="{{pathFor 'deactivatedJobs'}}">Deactivated - {{deactivatedCount}}</a>
				                            </div>
				                            <div class="widget-title seperator">
			                            		<a href="/job">Post New Job</a>		
			                            	</div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-md-3">
			                        <div class="widget widget-default widget-item-icon">
			                        	<div class="widget-data">
			                                <div class="widget-title">
			                                	My Team <span class="badge">{{teamCount}}</span>
			                                </div>
			                                <div class="widget-subtitle">
			                                	<a href="/dispatchers">Dispatchers - {{teamDispatcherCount}}</a> &#124; 
			                                	<a href="/accountants">Accountants - {{teamAccountantCount}}</a> 
			                                	{{#if isInRole 'buyer'}}
			                                		&#124; <a href="/addTeam">Invite</a>
			                                	{{/if}}
			                                </div>
			                                <div class="widget-title seperator">
			                                	<a href="/profiles">Providers <span class="badge">{{providerCount}}</span></a>
			                                </div>
			                                <div class="widget-subtitle">
			                                	<a href="/profiles/favorites">Favorites - {{favUserCount}}</a>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-md-3">
			                        <div class="widget widget-info widget-padding-sm">
			                            <div class="widget-big-int plugin-clock">{{userAccountBalance}}</div>
			                            <div class="widget-subtitle plugin-date">Account Balance (USD)</div>
			                            <div class="widget-buttons widget-c2">
			                                {{#if isInRole 'buyer'}}
			                                	<div class="col widget-title right-border">
				                                    <a href="/wallet/deposit">Deposit</a>
				                                </div>
			                                {{/if}}
			                                <div class="col widget-title">
			                                    <a href="/wallet/invoices">Invoices - {{invoicesCount}}</a>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-sm-12">
			                    	<hr>
			                    </div>
			                </div>
						{{/if}}
						{{#if isInRole 'provider'}}
			                <div class="row spacer-top">
			                    <div class="col-md-6">
			                        <div class="widget widget-default widget-item-icon">
			                            <div class="widget-data">
			                            	<div class="widget-title">
			                            		<a href="/jobs">Open Jobs <span class="badge">{{openJobsCount}}</span></a>
			                            	</div>
			                                <div class="widget-subtitle">
			                                    <a href="/recommendedJobs">Recommended - {{recommendedJobsCount currentUser._id}}</a> &#124; 
			                                    <a href="/invitedJobs">Invited - {{invitedJobsCount}}</a>
			                                </div>
			                                <div class="widget-title seperator">
			                            		<a href="/allProviderJobs">My Jobs <span class="badge">{{providerAllCount}}</span></a>
			                            	</div>				                                
			                                <div class="widget-subtitle">
			                                    <a href="{{pathFor 'appliedJobs'}}">Applied - {{appliedJobsCount}}</a> &#124;
												<a href="{{pathFor 'providerAssignedJobs'}}">Assigned - {{assignedJobsCount}}</a> &#124;
												<a href="{{pathFor 'providerPendingApprovalJobs'}}">Pending Payment - {{proPendingApprovalCount}}</a> &#124;
												<a href="{{pathFor 'providerPaidJobs'}}">Paid - {{proPaidJobsCount}}</a> &#124;
												<a href="{{pathFor 'providerDeactivatedJobs'}}">Deactivated - {{proDeactivatedCount}}</a>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-md-3">
			                        <div class="widget widget-default widget-item-icon">
			                            <div class="widget-data">
			                                <div class="widget-title">
			                                	<a href="/buyers">Buyers <span class="badge">{{buyerCount}}</span></a>
			                                </div>
			                                <div class="widget-subtitle">
			                                	<a href="/buyers/favorites">Favorites - {{favUserCount}}</a>
			                                </div>
			                                <div class="widget-title seperator">
				                                {{#with myProfile}}
	                                				<a href="{{pathFor 'providerNotifications'}}">New Notifications <span class="badge">{{providerNotificationCount}}</span></a>
	                                			{{/with}}
			                                </div>
			                                <div class="widget-subtitle">
			                                	<a href="{{pathFor 'mailBox' tab="mails"}}">New Messages - {{unreadMsgCount currentUser._id}}</a>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-md-3">
			                        <div class="widget widget-info widget-padding-sm">
			                            <div class="widget-big-int plugin-clock">{{userAccountBalance}}</div>
			                            <div class="widget-subtitle plugin-date">Account Balance (USD)</div>
			                            <div class="widget-buttons widget-c2">
			                                <div class="col widget-title right-border">
			                                    <a href="/wallet/withdraw">Withdraw</a>
			                                </div>
			                                <div class="col widget-title">
			                                    <a href="/wallet/invoices">Invoices - {{invoicesCount}}</a>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-sm-12">
			                    	<hr>
			                    </div>
			                </div>
						{{/if}}
					{{/if}}
					{{#if isInRole 'admin'}}
		                <div class="row spacer-top">
		                    <div class="col-md-6">
		                        <div class="widget widget-default widget-item-icon">
		                            <div class="widget-data">
	                                	<div class="widget-title">
	                                		<a href="/allUsers">Users <span class="badge">{{getPublishedCount 'userCount'}}</span></a>
	                                	</div>
	                                    <div class="widget-subtitle">
	                                    	Buyers - {{buyerCount}} &#124; 
	                                    	Providers - {{providerCount}} &#124; 
	                                    	Dispatchers - {{dispatcherCount}} &#124; 
	                                    	Accountants - {{accountantCount}} &#124; 
	                                    	Admin - 1
	                                    </div>		                                
		                            </div>
		                            <div class="widget-data">
		                            	<div class="widget-title seperator">
	                                    	<a href="/allJobs">Jobs <span class="badge">{{getPublishedCount 'adminJobs'}}</span></a> &#124; <a href="/allInvoices">Invoices <span class="badge">{{allInvoicesCount}}</span></a>
	                                    </div>
	                                    <div class="widget-subtitle">
	                                    	Open - {{allOpenJobs}} &#124; 
	                                    	Assigned - {{allAssignedJobs}} &#124; 
	                                    	Paid - {{allCompletedJobs}} &#124;  
	                                    	Deactivated - {{allDeactivatedCount}}
	                                    </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-3">
		                        <div class="widget widget-default widget-item-icon">
	                                <div class="widget-data">
	                                	<div class="widget-title">
	                                		Dwolla
	                                	</div>
	                                	<div class="widget-subtitle">
	                                		<a href="{{pathFor 'dwollaCustomers'}}">Customers</a> &#124;
	                                		<a href="{{pathFor 'dwollaTransfers'}}">Transfers</a> &#124;
	                                		<a href="" class="authUrl">Login</a>
	                                	</div>
	                                </div>
	                                <div class="widget-data">
	                                	<div class="widget-title seperator">
	                                		Payezee
	                                	</div>
	                                	<div class="widget-subtitle">
	                                		<a href="{{pathFor 'allDeposits'}}">Deposits</a>
	                                	</div>
	                                </div>
		                        </div>     
		                    </div>
		                    <div class="col-md-3">
		                        <div class="widget widget-info widget-padding-sm">
		                            <div class="row">
		                            	<div class="col-xs-12 col-md-6">
		                            		<div class="widget-big-int plugin-clock">{{userAccountBalance}}</div>
		                            		<div class="widget-subtitle plugin-date">Acc. Balance (USD)</div>
		                            	</div>
		                            	<div class="col-xs-12 col-md-6">
		                            		<div class="widget-big-int plugin-clock">
		                            			{{utlEarnings}}
		                            		</div>
		                            		<div class="widget-subtitle plugin-date">Earned (USD)</div>
		                            	</div>
		                            </div>
		                            <div class="widget-buttons widget-c2">
		                                <div class="col widget-title right-border">
		                                    <a href="allDeposits">Deposits</a>
		                                </div>
		                                <div class="col widget-title">
		                                    <a href="allWithdrawls">Withdrawls</a>
		                                </div>
		                            </div>                            
		                        </div>
		                    </div>
		                    <div class="col-sm-12">
		                    	<hr>
		                    </div>
		                </div>
					{{/if}}
				</div>
			</div>
		</div>
	{{/if}}
</template>
