<template name="footer">
	<footer class="footer left-to-right">
		<div class="container">
			<div class="row">
				<div data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.1s; animation-name: fadeInUp;" class="col-lg-3 col-sm-3 address wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".1s">
					<h3>contact info</h3>
					<address>
						<p><i class="fa fa-home pr-10"></i>Address: No.XXXXXX street</p>
						<p><i class="fa fa-globe pr-10"></i>Mars city, Country </p>
						<p><i class="fa fa-mobile pr-10"></i>Mobile : (123) 456-7890 </p>
						<p><i class="fa fa-phone pr-10"></i>Phone : (123) 456-7890 </p>
						<p><i class="fa fa-envelope pr-10"></i>Email :   <a href="javascript:;">support@example.com</a></p>
					</address>
				</div>
				<div data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;" class="col-lg-3 col-sm-3 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".3s">
					<h3>latest tweet</h3>
					<div class="tweet-box">
						<i class="fa fa-twitter"></i>
						<em>
							Please follow <a href="javascript:;">@example</a>
							for all future updates of us!<a href="javascript:;">twitter.com/acme</a>
						</em>
					</div>
					<div class="tweet-box">
						<i class="fa fa-twitter"></i>
						<em>
							Please follow<a href="javascript:;">@example</a>
							for all future updates of us!<a href="javascript:;">twitter.com/acme</a>
						</em>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;" class="page-footer wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".5s">
						<h3>Our Company</h3>
						<ul class="page-footer-list" style="list-style: none;">
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="about.html">About Us</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="{{pathFor 'howItWorks'}}">How It Works</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="{{pathFor 'buyerBenefits'}}">Buyer Benefits</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="{{pathFor 'providerBenefits'}}">Provider Benefits</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="{{pathFor 'corporateAccounts'}}">Corporate Account</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a>
							</li>
						</ul>
					</div>
				</div>
			  <div class="col-lg-3 col-sm-3">
			    <div data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.7s; animation-name: fadeInUp;" class="text-footer wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".7s">
			      <h3>
			        Text Widget
			      </h3>
			      <p>
			        This is a text widget.Lorem ipsum dolor sit amet.
			        This is a text widget.Lorem ipsum dolor sit amet.
			      </p>
			    </div>
			  </div>
			</div>
		</div>
    </footer>
</template>