<template name="footer">
	<footer class="footer left-to-right">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-3">
					<h4>Our Company</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-lg-3 col-sm-3">
					<h4>latest tweet</h4>
					<div class="tweet-box">
						<i class="fa fa-twitter"></i>
						<em>
							Please follow <a href="javascript:;">@example</a>
							for all future updates of us!<a href="javascript:;">twitter.com/acme</a>
						</em>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<h4>General Information</h4>
					<ul class="page-footer-list" style="list-style: none;">
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'aboutUs'}}">About Us</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'howItWorks'}}">How It Works</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'buyerBenefits'}}">Buyer Benefits</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'providerBenefits'}}">Provider Benefits</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'corporateAccounts'}}">Corporate Account</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-3">
					<h4>contact info</h4>
					<address>
						<p><i class="fa fa-home pr-10"></i>Address: No.XXXXXX street</p>
						<p><i class="fa fa-globe pr-10"></i>Mars city, Country </p>
						<p><i class="fa fa-mobile pr-10"></i>Mobile : (123) 456-7890 </p>
						<p><i class="fa fa-phone pr-10"></i>Phone : (123) 456-7890 </p>
						<p><i class="fa fa-envelope pr-10"></i>Email :   <a href="javascript:;">support@example.com</a></p>
					</address>
				</div>
			</div>
		</div>
    </footer>
</template>