<template name="footer">
	<footer class="footer">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<h4>Our Company</h4>
					<p><strong>US</strong>TECH<strong>LAND</strong> is an I.T. services marketplace headquartered in Union, New Jersey. Our network of freelance professionals covers the nation from coast to coast, providing businesses and organizations with the talent and expertise they need, instantaneously, at the click of a button. No matter what your project may be, no matter where you are, our talented professionals are waiting for the call. Think of us as your personal traveling helpdesk, or your omniscient IT department, or your business emergency number. See what instantaneous services can do for you.</p>
				</div>
				<div class="col-lg-3 col-sm-12">
					<h4>General Information</h4>
					<ul class="page-footer-list" style="list-style: none;">
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'aboutUs'}}">About Us</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'howItWorks'}}">How It Works</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'buyerBenefits'}}">Buyer Benefits</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'providerBenefits'}}">Provider Benefits</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'payments'}}">Pricing</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'faq'}}">FAQ's</a>
						</li>
						<li>
							<i class="fa fa-angle-right"></i>
							<a href="{{pathFor 'contactUs'}}">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-12">
					<img src="/images/logo.png" alt="USTECHLAND CORP." class="img-responsive" width="50%">
					<address>
						<strong>US</strong>TECH<strong>LAND</strong> CORP.<br>
						2444 MORRIS AVE<br>
						UNION, NJ 07083<br>
						<abbr title="Phone">P:</abbr> (844)810-2256
					</address>
					<address>
						<strong>Customer Support</strong><br>
						E: support(at)ustechland.com
					</address>
					<ul class="social-network social-circle">
		                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
		                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		            </ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<small>&copy; 2017 USTECHLAND. All Rights Reserved</small>
				</div>
				<div class="col-sm-6 text-right">
					<ul class="list-inline">
						<li><small><a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a></small></li>
						<li><small><a href="{{pathFor 'terms'}}">Terms and Conditions</a></small></li>
					</ul>
				</div>
			</div>
		</div>
    </footer>
</template>