<template name="header">
    <section id="header">
        {{>connectionBanner}}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'home'}}">UTL</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {{#if currentUser}}
                            {{#if isInRole 'admin'}}
                                <li><a href="{{pathFor 'dashboard' tab='dashboard'}}">Dashboard</a></li>
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Users <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'buyers'}}">Buyers</a></li>
                                        <li><a href="{{pathFor 'profiles'}}">Providers</a></li>
                                        <li><a href="{{pathFor 'corporates'}}">Corporate Accounts</a></li>
                                    </ul>
                                </li>
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Jobs <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'allJobs'}}">All New Jobs</a></li>
                                        <li><a href="{{pathFor 'allAssignedJobs'}}">Assigned Jobs</a></li>
                                        <li><a href="{{pathFor 'allCompletedJobs'}}">Completed Jobs</a></li>
                                    </ul>
                                </li>
                            {{/if}}
                            {{#if isInRole 'buyer, corporate-manager, corporate-admin, provider, corporate-provider, corporate-accountant'}}
                                <li>
                                    <a href="{{pathFor 'dashboard' tab='dashboard'}}">Dashboard</a>
                                </li>
                            {{/if}}
                            {{#if isInRole 'buyer'}}
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Jobs <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'jobNew'}}">Post a Job</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">My Jobs</li>
                                        <li><a href="{{pathFor 'myJobs'}}">Posted Jobs <span class="badge pull-right">{{postedJobCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerRoutedJobs'}}">Routed Jobs <span class="badge pull-right">{{buyerRoutedCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerAssignedJobs'}}">Assigned Jobs <span class="badge pull-right">{{buyerAssignedCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerPaymentPendingJobs'}}">Payment Pending Jobs <span class="badge pull-right">{{buyerPaymentPendingCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerCompletedJobs'}}">Completed Jobs <span class="badge pull-right">{{buyerCompletedCount}}</span></a></li>
                                    </ul>
                                </li>
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Providers <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'profiles'}}">All Providers</a></li>
                                        <li><a href="{{pathFor 'favoriteProfiles'}}">Favorite Providers</a></li>
                                    </ul>
                                </li>
                                {{#unless currentUser.isBuyer}}
                                    <li><a href="{{pathFor 'buyerNew'}}">Create your Profile</a></li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'provider'}}
                                <li id="user-drop-down" class="dropdown">
                                    <a href="#" class="dropdown-toggle box-user-option" data-toggle="dropdown">Jobs <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'jobs'}}">All Jobs</a></li>
                                        <li><a href="{{pathFor 'recommendedJobs'}}">Recommended Jobs</a></li>
                                        <li><a href="{{pathFor 'invitedJobs'}}">Invited Jobs</a></li>
                                        <li class="divider" role="seperator"></li>
                                        <li class="dropdown-header">My Jobs</li>
                                        <li><a href="{{pathFor 'appliedJobs'}}">Applied Jobs <span class="badge inline pull-right">{{appliedJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerRoutedJobs'}}">Routed Jobs <span class="badge inline pull-right">{{routedJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerAssignedJobs'}}">Assigned Jobs <span class="badge inline pull-right">{{assignedJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerPaymentPendingJobs'}}">Payment Pending <span class="badge inline pull-right">{{proPaymentJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerCompletedJobs'}}">Completed Jobs <span class="badge inline pull-right">{{completedJobsCount}}</span></a></li>
                                    </ul>
                                </li>
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Buyers <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{pathFor 'buyers'}}">All Buyers</a></li>
                                        <li><a href="{{pathFor 'favoriteBuyers'}}">Favorite Buyers</a></li>
                                    </ul>
                                </li>
                                {{#unless currentUser.isDeveloper}}
                                    <li class="{{isActiveRoute regex='^profile$'}}">
                                        <a href="{{pathFor 'profileNew'}}">Create Your Profile</a>
                                    </li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'corporate-admin'}}
                                {{#with corpProfile}}<li><a href="{{pathFor 'corpTeam' tab='corp-providers'}}">View Team</a></li>{{/with}}
                                <li><a href="{{pathFor 'addTeam'}}">Add Your Team</a></li>
                                {{#unless currentUser.isCorporate}}
                                    <li>
                                        <a href="{{pathFor 'corporateNew'}}">Create Your Profile</a>
                                    </li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'corporate-provider'}}
                                {{#with corpProfile}}<li><a href="{{pathFor 'corpTeam'}}">View Team</a></li>{{/with}}
                                <li id="user-drop-down" class="dropdown">
                                    <a href="#" class="dropdown-toggle box-user-option" data-toggle="dropdown">Jobs <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'jobs'}}">All Jobs</a></li>
                                        <li><a href="{{pathFor 'recommendedJobs'}}">Recommended Jobs</a></li>
                                        <li><a href="{{pathFor 'invitedJobs'}}">Invited Jobs</a></li>
                                        <li class="divider" role="seperator"></li>
                                        <li class="dropdown-header">My Jobs</li>
                                        <li><a href="{{pathFor 'appliedJobs'}}">Applied Jobs <span class="badge inline pull-right">{{appliedJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerRoutedJobs'}}">Routed Jobs <span class="badge inline pull-right">{{routedJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerAssignedJobs'}}">Assigned Jobs <span class="badge inline pull-right">{{assignedJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerPaymentPendingJobs'}}">Payment Pending <span class="badge inline pull-right">{{proPaymentJobsCount}}</span></a></li>
                                        <li><a href="{{pathFor 'providerCompletedJobs'}}">Completed Jobs <span class="badge inline pull-right">{{completedJobsCount}}</span></a></li>
                                    </ul>
                                </li>
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Buyers <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{pathFor 'buyers'}}">All Buyers</a></li>
                                        <li><a href="{{pathFor 'favoriteBuyers'}}">Favorite Buyers</a></li>
                                    </ul>
                                </li>
                                {{#unless currentUser.isDeveloper}}
                                    <li class="{{isActiveRoute regex='^profile$'}}">
                                        <a href="{{pathFor 'profileNew'}}">Create Your Profile</a>
                                    </li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'corporate-manager'}}
                                {{#with corpProfile}}<li><a href="{{pathFor 'corpTeam'}}">View Team</a></li>{{/with}}
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Jobs <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'jobNew'}}">Post a Job</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">My Jobs</li>
                                        <li><a href="{{pathFor 'myJobs'}}">Posted Jobs <span class="badge pull-right">{{postedJobCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerRoutedJobs'}}">Routed Jobs <span class="badge pull-right">{{buyerRoutedCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerAssignedJobs'}}">Assigned Jobs <span class="badge pull-right">{{buyerAssignedCount}}</span></a></li>
                                        <li><a href="{{pathFor 'buyerCompletedJobs'}}">Completed Jobs <span class="badge pull-right">{{buyerCompletedCount}}</span></a></li>
                                    </ul>
                                </li>
                                <li id="user-drop-down" class="dropdown">
                                    <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
                                        Providers <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{pathFor 'profiles'}}">All Providers</a></li>
                                        <li><a href="{{pathFor 'favoriteProfiles'}}">Favorite Providers</a></li>
                                    </ul>
                                </li>
                                {{#unless currentUser.isBuyer}}
                                    <li><a href="{{pathFor 'buyerNew'}}">Create your Profile</a></li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'corporate-accountant'}}
                                <li><a href="#">Approve Payments</a></li>
                                {{#with corpProfile}}<li><a href="{{pathFor 'corpTeam'}}">View Team</a></li>{{/with}}
                            {{/if}}
                        {{else}}
                            <li><a href="{{pathFor 'howItWorks'}}">How It Works</a></li>
                            <li id="user-drop-down" class="dropdown">
                                <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">Users <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{pathFor 'buyerBenefits'}}">Buyers</a></li>
                                    <li><a href="{{pathFor 'providerBenefits'}}">Providers</a></li>
                                    <li><a href="{{pathFor 'corporateAccounts'}}">Corporates</a></li>
                                </ul>
                            </li>
                            <li><a href="{{pathFor 'payments'}}">Pricing</a></li>
                            <li><a href="{{pathFor 'faq'}}">FAQ's</a></li>
                        {{/if}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}
                        	{{>headerUserMenu}}
                        {{else}}
                            <li class="{{isActiveRoute regex='signIn'}}"><a href="{{pathFor 'signIn'}}">Log In</a></li>
                            <li class="{{isActiveRoute regex='sign.up'}}"><a href="{{pathFor 'signUp'}}">Sign Up</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</template>
<template name="headerUserMenu">
    <li id="user-drop-down" class="dropdown">
        <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
            {{#if customImageUrl}}
                <div class="avatar avatar-small">
                    <img class="avatar-image" src="{{customImageUrl}}" alt="avatar" onerror="this.style.display='none';">
                    <span class="avatar-initials" style="background-color: #aaa; color: #fff;"></span>
                </div>
            {{else}}
                {{> avatar user=currentUser size="small"}}
            {{/if}}
            {{currentUserDisplayName}} <span class="caret"></span>
		</a>
        <ul class="dropdown-menu" role="menu">
            {{#if isInRole 'admin'}}
                <li><a href="/admin"><i class="fa fa-cogs fa-fw"></i> Admin</a></li>
            {{/if}}
            {{#if isInRole 'provider, corporate-provider'}}
                {{#if currentUser.isDeveloper}}
                    <li>
                        {{#with profile}}<a href="{{pathFor 'profile'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>{{/with}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor 'profileNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
                    </li>
                {{/if}}
            {{/if}}
            {{#if isInRole 'corporate-admin'}}
                {{#if currentUser.isCorporate}}
                    <li>
                        {{#with corporate}}<a href="{{pathFor 'corporate'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>{{/with}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor 'corporateNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
                    </li>
                {{/if}}
            {{/if}}
            {{#if isInRole 'buyer, corporate-manager'}}
                {{#if currentUser.isBuyer}}
                    <li>
                        {{#with buyer}}<a href="{{pathFor 'buyer'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>{{/with}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor 'buyerNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
                    </li>
                {{/if}}
            {{/if}}
            <li class="divider"></li>
            <li><a href="#" id="signOut"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
        </ul>
    </li>
    <li id="user-drop-down" class="dropdown">
        <a class="dropdown-toggle box-user-option" style="margin-top: 8px;" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>({{#if currentUser.isBuyer}}
                    {{bNotificationCount}}
                {{else}}
                    {{#if currentUser.isDeveloper}}
                        {{pNotificationCount}}
                    {{else}}
                        {{#if isInRole 'admin'}}
                            {{adminNotificationCount}}
                        {{/if}}
                    {{/if}}
                {{/if}})<span class="caret"></span>
        </a>
        <ul class="dropdown-menu notifications" role="menu" id="notifications">
            <div class="notification-heading">
                <h4 class="menu-title">Notifications</h4>
            </div>
            {{>notifications}}
            <div class="notification-footer text-center">
                {{#if currentUser.isDeveloper}}
                    {{#with profile}}
                        <a href="{{pathFor 'providerNotifications'}}">View All Notifications</a>
                    {{/with}}
                {{/if}}
                {{#if currentUser.isBuyer}}
                    {{#with buyer}}
                        <a href="{{pathFor 'buyerNotifications'}}">View All Notifications</a>
                    {{/with}}
                {{/if}}
            </div>
        </ul>
    </li>    
</template>
