<template name="header">
    <section id="header">
        {{>connectionBanner}}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'home'}}">UTL</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {{#if currentUser}}
                            {{#if isInRole 'admin'}}
                                <li><a href="{{pathFor 'profiles'}}">View Providers</a></li>
                                <li><a href="{{pathFor 'buyers'}}">View Buyers</a></li>
                                <li><a href="{{pathFor 'corporates'}}">View Corporates</a></li>
                                <li><a href="{{pathFor 'jobs'}}">Find Jobs</a></li>
                            {{/if}}
                            {{#if isInRole 'employer'}}
                                <li class="{{isActiveRoute regex='jobNew'}}"><a href="{{pathFor 'jobNew'}}">Post a Job</a></li>
                                <li><a href="{{pathFor 'profiles'}}">View Providers</a></li>
                                {{#unless currentUser.isBuyer}}
                                    <li><a href="{{pathFor 'buyerNew'}}">Create your Profile</a></li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'individual-employee'}}
                                <li><a href="{{pathFor 'jobs'}}">Find Jobs</a></li>
                                <li><a href="{{pathFor 'buyers'}}">View Buyers</a></li>
                                <li><a href="{{pathFor 'corporates'}}">View Corporates</a></li>
                                {{#unless currentUser.isDeveloper}}
                                    <li class="{{isActiveRoute regex='^profile$'}}">
                                        <a href="{{pathFor 'profileNew'}}">Create Your Profile</a>
                                    </li>
                                {{/unless}}
                            {{/if}}
                            {{#if isInRole 'company-employee'}}
                                {{#unless currentUser.isCorporate}}
                                    <li>
                                        <a href="{{pathFor 'corporateNew'}}">Create Your Profile</a>
                                    </li>
                                {{/unless}}
                                <li><a href="{{pathFor 'jobs'}}">Find Jobs</a></li>
                                <li><a href="{{pathFor 'jobNew'}}">Post A Job</a></li>
                                <li><a href="{{pathFor 'profiles'}}">View Providers</a></li>
                                <li><a href="{{pathFor 'addTeam'}}">Add Your Team</a></li>
                            {{/if}}
                        {{else}}
                            <li><a href="{{pathFor 'howItWorks'}}">How It Works</a></li>
                            <li><a href="{{pathFor 'buyerBenefits'}}">Buyers</a></li>
                            <li><a href="{{pathFor 'providerBenefits'}}">Providers</a></li>
                            <li><a href="{{pathFor 'corporateAccounts'}}">Corporates</a></li>
                        {{/if}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}
                        	{{>headerUserMenu}}
                        {{else}}
                            <li class="{{isActiveRoute regex='signIn'}}"><a href="{{pathFor 'signIn'}}">Log In</a></li>
                            <li class="{{isActiveRoute regex='sign.up'}}"><a href="{{pathFor 'signUp'}}">Sign Up</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</template>
<template name="headerUserMenu">


    <li id="user-drop-down" class="dropdown">
        <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
            <i style="font-size: 20px;padding: 3px;color: #6C6C6C;" class="fa fa-envelope fa-fw"></i>({{msgCount}})<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
                    <li><a href="{{pathFor 'dashboard' tab='mails-inbox'}}"><i class="fa fa-folder-open"></i>Goto Inbox</a></li>
                    <!-- <li class="divider"></li> -->
            <li><a href="{{pathFor 'dashboard' tab='dashboard'}}"><i class="fa fa-building fa-fw"></i> Dashboard</a></li>
            <li class="divider"></li>
            <li><a href="/admin"><i class="fa fa-cogs fa-fw"></i> Admin</a></li>
            <li class="divider"></li>
            <li>
                <a href="{{pathFor 'profile'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>
            </li>
            <li>
                <a href="{{pathFor 'profileNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
            </li>
            <li class="divider"></li>
        </ul>
    </li>

    <li id="user-drop-down" class="dropdown">
        <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
			{{> avatar user=currentUser size="small"}}{{currentUserDisplayName}} <span class="caret"></span>
		</a>
        <ul class="dropdown-menu" role="menu">
            {{#if isInRole 'employer'}}
                <li>
                    <a href="{{pathFor 'dashboard' tab='dashboard'}}"><i class="fa fa-building fa-fw"></i> Dashboard</a>
                    <li class="divider"></li>
                </li>
                {{else}}
                {{#if isInRole 'company-employee, individual-employee'}}
                    <li><a href="{{pathFor 'dashboard' tab='dashboard'}}"><i class="fa fa-building fa-fw"></i> Dashboard</a></li>
                    <li class="divider"></li>
                {{/if}}
            {{/if}}
            {{#if isInRole 'admin'}}
                <li><a href="/admin"><i class="fa fa-cogs fa-fw"></i> Admin</a></li>
                <li class="divider"></li>
            {{/if}}
            {{#if isInRole 'individual-employee'}}
                {{#if currentUser.isDeveloper}}
                    <li>
                        {{#with profile}}<a href="{{pathFor 'profile'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>{{/with}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor 'profileNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
                    </li>
                {{/if}}
            {{/if}}
            {{#if isInRole 'company-employee'}}
                {{#if currentUser.isCorporate}}
                    <li>
                        {{#with corporate}}<a href="{{pathFor 'corporate'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>{{/with}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor 'corporateNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
                    </li>
                {{/if}}
            {{/if}}
            {{#if isInRole 'employer'}}
                {{#if currentUser.isBuyer}}
                    <li>
                        {{#with buyer}}<a href="{{pathFor 'buyer'}}"><i class="fa fa-rocket fa-fw"></i> My Profile</a>{{/with}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor 'buyerNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Your Profile</a>
                    </li>
                {{/if}}
            {{/if}}
            <li>
                <a href="#" id="userProfile"><i class="fa fa-user fa-fw"></i> User Name</a>
            </li>
            <li class="divider"></li>
            <li><a href="#" id="signOut"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
        </ul>
    </li>






</template>
