<template name="corporateSmall">
	<div class="col-md-3">
        <div class="corporate-grid panel panel-default text-center">
            <div class="panel-body">
                <a href="{{pathFor 'corporate'}}">
					{{#if customImageUrl}}
						<div class="avatar center-block">
							<img class="img-responsive" src="{{resizeImageUrl customImageUrl 100 100}}"/>
						</div>
					{{else}}
						{{> avatar userId=userId size="medium" class="center-block"}}
					{{/if}}
				</a>
                <h4 class="name"><a href="{{pathFor 'corporate'}}">
					{{#if name}}{{name}}{{else}}{{userName}}{{/if}}
				</a></h4>
                <div>
                    <label class="btn btn-default btn-xs">{{readableId}}</label>
                </div>
                <div class="labels">
                    {{companyName}}
                </div>
                <div class="title">
                    <small>{{title}}</small>
                </div>
            </div>
        </div>
    </div>
</template>