<template name="corporateNew">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Introduce Your Company</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Corporates" id="corporateNew" type="insert"}}
					    {{>corporateFields}}
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="corporateEdit">
    <div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Corporate Profile</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Corporates" id="corporateEdit" type="update" doc=corporateProfile}}
					    {{>corporateFields}}
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    	<button id="cancel" class="btn btn-default"> Cancel</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="corporateFields">
	<div class="form-group"  id="profileAvatarPreview">
		<label class="control-label">{{#if customImagePreviewUrl}}Corporate{{else}}Automatic Corporate{{/if}} Avatar</label>
		<div class="row">
			<div class="col-md-4">
				{{#if customImagePreviewUrl}}
					<div class="avatar avatar-large">
						<img class="img-responsive" src="{{resizeImageUrl customImagePreviewUrl 200 200}}"/>
					</div>
				{{else}}
					{{> avatar user=currentUser size="large"}}
				{{/if}}
			</div>
			<div class="col-md-4">
				<input
					id="custom-image"
					name="customImageUrl"
					data-schema-key="customImageUrl" 
					type="hidden"
					role="uploadcare-uploader"
					data-tabs="file camera url facebook gdrive dropbox instagram flickr skydrive"
					data-image-shrink="800x800"
					data-images-only="true"
					data-preview-step="true"
					data-clearable="true"
					data-multiple="false"
					data-system-dialog="false"
					data-crop="800:800"
					data-cdn-base="https://ucarecdn.com/"
				/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			{{>afQuickField name='companyName' value=companyName readOnly=true}}
		</div>
		<div class="col-xs12 col-sm12 col-md-6 col-lg-6">
			{{>afQuickField name="companyUrl" placeholder="Your website address"}}
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			{{>afQuickField name="eintinNumber" placeholder="99-9999999"}}
		</div>		
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="form-group">
                <label for="loc" class="control-label">Location</label>
                <input id="loc" data-schema-key="location" class="form-control typeahead" name="location" type="text" placeholder="Location" autocomplete="off" spellcheck="off" data-source="location" maxlength="128" />
                <span class="help-block"></span>
            </div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{>afQuickField name='industryTypes' noselect="true"}}
		</div>
	</div>
	<hr>
	{{>afQuickField name='description' rows=8  placeholder="Tell us about your professional self, how long you've been programming, things like that"}}
	<hr>
	<h5>Corporate Administrator Profile</h5>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='name' placeholder="Your Name"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='title' placeholder="What do you professionally do?"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name="corpAdminEmail" readOnly=true value=corpAdminEmail}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name="contactNumber" placeholder="+1 541-754-3010"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name="mobileCarrier"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name="pager" readonly=true value=pagerAddress}}
		</div>
	</div>
	<hr>
</template>