<template name="accountantSmall">
	<div class="col-md-4">
        <div class="panel panel-default {{#if $eq this.status 'active'}} activeProfile {{else}} inactiveProfile {{/if}}">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-assigned">
                    <span class="pull-right rateit"></span>
                    <small>ID: {{readableId}}</small>
                    <h3 class="widget-user-username"><a href="{{pathFor 'accountant'}}">{{firstName}} {{lastName}}</a></h3>
                    <h5 class="widget-user-desc">{{title}}</h5>
                    <small><i class="fa fa-map-marker"></i>&nbsp;{{location}}</small>
                </div>
                <div class="widget-user-image">
                    <a href="{{pathFor 'accountant'}}">
                        {{#if customImageUrl}}
                            <div class="avatar center-block">
                                <img class="img-circle" src="{{customImageUrl}}"/>
                            </div>
                        {{else}}
                            {{> avatar userId=userId size="medium" class="center-block"}}
                        {{/if}}
                    </a>
                </div>
                <div class="box-footer">                    
                    <div class="row">
                        <div class="col-xs-4 border-right">
                            <div class="description-block text-center">
                                <a href="{{pathFor 'deposit'}}">
                                    <h5 class="description-header"><i class="glyphicon glyphicon-send"></i></h5>
                                    <span class="description-text">View Trans</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4 border-right">
                            <div class="description-block text-center">
                                <a href="{{pathFor 'accountant'}}">
                                    <h5 class="description-header"><i class="fa fa-chain"></i></h5>
                                    <span class="description-text">View Profile</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="description-block text-center">
                                <a href="" class="sendAccountantMessage">
                                    <h5 class="description-header"><i class="fa fa-envelope"></i></h5>
                                    <span class="description-text">Send Msg</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
