<template name="favoriteBuyers">
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<p>
				<a href="{{pathFor 'buyers'}}">All Buyers</a>&nbsp;&#124;&nbsp;Favorite Buyers
			</p>
		</div>
		<div class="col-sm-12">
			<hr>
		</div>
		{{#if isInRole 'provider, corporate-provider'}}
	        {{#each favBuyers}}
	            <div class="col-md-4">
	            	{{>buyerSmall}}
	            </div>
	        {{else}}
	        	<div class="col-sm-12">
	            	You haven't added any favorite buyers. <a href="{{pathFor 'buyers'}}">View buyers</a> if you want to add some.
	            </div>
	        {{/each}}
	    {{/if}}
	</div>
</template>