<template name="profile">
	{{#if currentUser}}
		<div id="profile">
			<div class="row">
				<div class="col-md-8">
					<div role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#providerDetails" aria-controls="providerDetails" role="tab" data-toggle="tab">PROFILE</a>
							</li>
							<li role="presentation">
								<a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">REVIEWS</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="providerDetails">
								<br>
								<div class="panel panel-default {{#if $eq this.status 'active'}} activeProfile {{else}} inactiveProfile {{/if}}">
									<div class="panel-body">
										<p>Average Rate per Hour: {{avgRatesPerHour}} USD</p>
										<hr>
										<small>
											{{#if adminOrProvider}}
												{{#if fullLocation}}
													{{fullLocation.street}}, 
													{{#if fullLocation.sublocality}}
													{{fullLocation.sublocality}},{{/if}} {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}, {{fullLocation.country}}
												{{/if}}
												<hr>
												EIN/SSN: {{socialSecurityNumber}}
											{{else}}
												{{#if fullLocation}}
													{{#if fullLocation.sublocality}}
													{{fullLocation.sublocality}},{{/if}} {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}
												{{/if}}
											{{/if}}
										</small>
										<hr>
										Member since: <br> {{formatDate createdAt}}
										<hr>
										{{#if adminOrProvider}}
											<i class="fa fa-envelope"></i> {{userName}}
											<br>
											<i class="fa fa-mobile"></i> {{contactNumber}}
											<br>
											<i class="fa fa-mobile"></i> {{smsAddress}}
											<hr>
											{{#with dwollaFundingSource}}
												<i class="fa fa-credit-card"></i> Account No: {{this.bank_account_number}} <br>
												<i class="fa fa-university"></i> Routing No: {{this.routing_number}} <br>
												<i class="fa fa-dot-circle-o"></i> Account Type: {{toUpperCase this.account_type}} <br>
												<i class="fa fa-credit-card"></i> SSN: {{this.socialSecurityNo}}
											{{/with}}
											{{url}}
										{{/if}}
										<h4>About Me</h4>
										{{{description}}}
										{{#if freelancerSkills}}
											<hr>
											<h4>Skills</h4>
											{{freelancerSkills}}
										{{/if}}
										{{#if industryTypes}}
											<hr>
											<h4>Job Categories</h4>
											{{#each itypes}}
												{{#if isInRole 'provider'}}
													<a href="/subcategory/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
												{{/if}}
												{{#if isInRole 'buyer, dispatcher'}}
													<a href="/pro/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
												{{/if}}
												{{#if isInRole 'admin'}}
													<label class="label label-default">{{this.decodedType}}</label>
												{{/if}}
											{{/each}}
										{{/if}}
										{{#if preferredWorkLocation}}
											<hr>
											<h4>Preferred Work Location</h4>
											{{preferredWorkLocation}}
										{{/if}}
										{{#if educationDetails}}
											<hr>
											<h4>Education Details</h4>
											{{#each educationDetails}}
												University: {{this.university}} <br>
												Degree: {{this.degree}} <br>
												Major: {{this.major}} <br>
												Starting: {{formatServiceSchedule this.startTime}} <br>
												Ending: {{formatServiceSchedule this.endTime}} <br>
											{{/each}}
										{{/if}}
										{{#if certifications}}
											<hr>
											<h4>Certifications</h4>
											<p>{{certifications}}</p>
										{{/if}}
										{{#if languages}}
											<hr>
											<h4>Languages Known</h4>
											<ul class="list-unstyled">
												{{#each languages}}
													<li>{{level}} in {{language}}</li>
												{{/each}}
											</ul>
										{{/if}}
										{{#if resumeURL}}
											<hr>
											<h4>Resume</h4>
											<ul class="list-unstyled">
												{{#with resumeURL}}
													<li><a href="{{file_url}}" download><i class="fa fa-download"></i> {{file_name}}</a></li>
												{{/with}}
											</ul>
										{{/if}}
										{{#if adminOrProvider}}
											<hr>
											<div class="pull-right">
												&nbsp;
												<a href="{{pathFor 'profileEdit'}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</a>
											</div>
											<div class="pull-right">
												<button class="btn btn-sm btn-danger {{#if $eq status 'active'}}deactivateProfile{{else}} activateProfile{{/if}}">{{#if $eq status 'active'}}Deactivate{{else}} Activate{{/if}}</button>
											</div>
										{{/if}}
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="reviews">
								<br>
								{{>userReviews userId=userId}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					{{>profileSmall}}
					<hr>
					{{#unless $eq userId $.Meteor.userId}}
						{{>messages}}
					{{/unless}}
				</div>
			</div>
		</div>
	{{else}}
		{{>mustBeLoggedIn}}
	{{/if}}
</template>
