<template name="profileNew">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Introduce Yourself</h4>
                </div>
                <div class="panel-body">
                    {{#autoForm collection="Profiles" id="profileNew" type="insert"}}
                        {{>profileFields}}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="profileEdit">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit Provider Profile</h4>
                </div>
                <div class="panel-body">
                    {{#autoForm collection="Profiles" id="profileEdit" type="update" doc=profile}}
                        {{>profileFields}}
                        <div class="text-center">
                            <button class="btn btn-primary editProfile"><i class="fa fa-floppy-o"></i> Update</button>
                            <button id="cancel" class="btn btn-default"> Cancel</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="profileFields">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" id="profileAvatarPreview">
                <label class="control-label">{{#if customImagePreviewUrl}}Profile{{else}}Automatic{{/if}} Avatar</label>
                {{#if customImagePreviewUrl}}
                <div class="avatar avatar-large">
                    <img class="img-responsive" src="{{customImagePreviewUrl}}" onerror="this.src='/images/avatar.png'"/>
                </div>
                {{else}} {{> avatar user=currentUser size="large"}} {{/if}}
            </div>
            <div class="form-group pull-left" style="margin-top: -30px;">
                <label class="control-label"></label>
                <div class="input-group">
                    &nbsp;
                    <label class="btn btn-success" data-toggle="tooltip" data-placement="top">
                        <input type="file" accept="image/*" class="file_bag"> Change
                    </label>
                    <!-- <button type="button" class="btn btn-danger remove-img">Remove</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="imgspinner" style="position: relative;">
            {{> spinner}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='firstName' placeholder="Your First Name"}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='lastName' placeholder="Your Last Name"}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='title' placeholder="Let us know about your professional role"}}
        </div>
        {{#if isInRole 'corporate-provider'}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='companyName' value=companyInvited readOnly=true}}
        </div>
        {{else}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='companyName' placeholder="Company name"}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='url' placeholder="ex: http://www.example.com"}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name="avgRatesPerHour" placeholder="Mention your hourly rates like 20 USD"}}
        </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='contactNumber' placeholder="10 Digit Phone Number (Do not separate with hyphens)"}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name='mobileCarrier'}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name="smsAddress" placeholder="johndoe@example.com" readonly=true}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="date_of_birth">Date of Birth *</label>
            <input type="text" id="dateOfBirth" name="dateOfBirth" data-schema-key="dateOfBirth" class="form-control" placeholder="Date of Birth" required>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{>afQuickField name="socialSecurityNumber" placeholder="Last 4 digits of your SSN"}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="loc" class="control-label">Location *</label>
                {{>providerLocationMap}}
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="control-label"></label>
                <div class="input-group">
                    <label class="btn btn-success input-group-btn btn-lbl" data-toggle="tooltip" data-placement="top" style="font-size: 12px">
                        <input type="file" class="resume_bag" accept=".doc, .docx, .pdf"> Upload Resume
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="resumespinner">
                {{> spinner}}
            </div>
            {{#each uploadedFiles}}
                <div class="resumeProgress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                    aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent_uploaded}}%">{{percent_uploaded}}%</div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="row">
        {{#each resumeUrl}}
            <div class="col-sm-2">
                <div class="thumbnail" style="position: relative;">
                    <span title="Remove" class="close-preview remove-resume" data-url={{this.file_url}} style="cursor: pointer;">&times;</span>
                    <a href="{{this.file_path}}" target="_blank">
                      <img src="{{this}}" style="height:100px;" onerror="this.src='/images/genericFile.jpg'">
                    </a>
                    <div class="caption" style="overflow: hidden;word-wrap: break-word;">
                        <a href="{{this.file_path}}" target="_blank">{{this.file_name}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            {{>afQuickField name='industryTypes' noselect="true" placeholder="What are you interested in?"}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skills">
            {{>afQuickField create=test name="freelancerSkills" placeholder="Cable Operator, DB Administrator, Hardware Technician, ..."}}
        </div>
    </div>
    {{>afQuickField name='description' rows=8 placeholder="Tell us about your professional self, how long you've been programming, things like that"}}
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{>afQuickField name="educationDetails" rows=8 placeholder="Enter your education details."}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{>afQuickField rows=8 name="certifications" placeholder="Enter your certifications."}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{>afArrayField name="languages"}}
        </div>
    </div>
</template>

<template name="providerLocationMap">
    <div class="map-container">
        <input type="text" id="loc" data-schema-key="location" name="location" class="form-control" value="{{locationData}}" data-source="location" placeholder="Enter full address with zip code" required>
    </div>
    <div id="locationDetails">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" name="name" data-schema-key="fullLocation.street" class="form-control" value="{{this.profile.fullLocation.street}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Sub Locality</label>
                    <input type="text" name="sublocality" class="form-control" data-schema-key="fullLocation.sublocality" value="{{this.profile.fullLocation.sublocality}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Locality</label>
                    <input name="locality" type="text" class="form-control" data-schema-key="fullLocation.locality" value="{{this.profile.fullLocation.locality}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="administrative_area_level_1_short" data-schema-key="fullLocation.state" value="{{this.profile.fullLocation.state}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" data-schema-key="fullLocation.country" value="{{this.profile.fullLocation.country}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Formatted Address</label>
                    <input type="text" class="form-control" name="formatted_address" data-schema-key="fullLocation.formatted_address" value="{{this.profile.fullLocation.formatted_address}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Zip</label>
                    <input type="text" class="form-control" name="postal_code" data-schema-key="fullLocation.zip" value="{{this.profile.fullLocation.zip}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Map Link</label>
                    <input type="text" name="url" data-schema-key="fullLocation.mapLink" class="form-control" value="{{this.profile.fullLocation.mapLink}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" name="lat" data-schema-key="fullLocation.latitude" class="form-control" value="{{this.profile.fullLocation.latitude}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" name="lng" data-schema-key="fullLocation.longitude" class="form-control" value="{{this.profile.fullLocation.longitude}}">
                </div>
            </div>
        </div>
    </div>
</template>