<template name="profile">
	{{#if currentUser}}
	<div id="profile">
		<div class="panel panel-default {{#if $eq this.status 'active'}} activeProfile {{else}} inactiveProfile {{/if}}">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						{{#if customImageUrl}}
							<div class="avatar avatar-large">
								<img class="img-responsive img-thumbnail" src="{{customImageUrl}}"/>
							</div>
						{{else}}
							{{> avatar userId=userId size="large"}}
						{{/if}}
						{{#if isInRole 'buyer, corporate-manager'}}
							{{#if currentUser.isBuyer}}
								<br>
								{{#if $eq this.status 'active'}}
									<a href="{{pathFor 'assignJob'}}" class="btn btn-primary btn-xs">Route Job</a>
									<a href="" class="btn btn-xs {{#if fav}}favActive{{else}}favInactive{{/if}}"><i class="fa fa-thumbs-up"></i>&nbsp;{{#if fav}}Remove Fav{{else}}Add Fav{{/if}}&nbsp;({{favCount}})</a>
								{{else}}
									<p class="label label-deactivated">Inactive</p>
								{{/if}}
							{{/if}}
						{{/if}}
						<hr>
						<small>
							{{#if location}}
								<i class="fa fa-map-marker"></i>&nbsp;{{location}}
							{{/if}}
							{{#if contactNumber}}
								<br>
								<i class="fa fa-mobile">&nbsp;{{contactNumber}}</i>
							{{/if}}
							{{#if smsAddress}}
								<br>
								<i class="fa fa-envelope">&nbsp;{{smsAddress}}</i>
							{{/if}}
							<hr>
							{{#if url}}
								<i class="fa fa-external-link"></i>&nbsp;<a href="{{url}}" target="_blank">Website</a>
							{{/if}}
							{{#if contact}}
								<br>
								<i class="fa fa-envelope"></i>&nbsp;{{contact}}
							{{/if}}
							{{#if resumeUrl}}
								<i class="fa fa-file-text"></i>&nbsp;&nbsp;<a href="{{resumeUrl}}" target="_blank">View Resume</a>
								<hr>
							{{/if}}
						</small>
						{{#if adminOrProvider}}
							<small>
								{{#if eintinNumber}}
									EIN/TIN: {{eintinNumber}}
								{{/if}}
								<br>
								{{#if socialSecurityNumber}}
									SSN: {{socialSecurityNumber}}
								{{/if}}
								<br>
								<hr>
							</small>
						{{/if}}
						<i class="fa fa-calendar"></i> Member since {{formatDate createdAt}}
						<hr>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12">
								<label class="label label-default">{{readableId}}</label>
								<label class="label label-default">{{userRole}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h2 class="top-flush">
									{{displayName}}
								</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h4>
									{{title}} {{#if companyName}} - {{companyName}} {{/if}}
								</h4>
							</div>
							<div class="col-sm-12">
								Average Rate per Hour: {{avgRatesPerHour}} USD
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{{#if htmlDescription}}
									<hr>
									<h4>About Me</h4>
									{{{htmlDescription}}}
								{{/if}}
								{{#if freelancerSkills}}
									<hr>
									<h4>Skills</h4>
									{{freelancerSkills}}
								{{/if}}
								{{#if industryTypes}}
									<hr>
									<h4>Job Categories</h4>
									{{#each itypes}}
										{{#if isInRole 'provider, corporate-provider'}}
											<a href="/subcategory/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
										{{/if}}
										{{#if isInRole 'buyer, corporate-manager'}}
											<a href="/pro/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
										{{/if}}
									{{/each}}
								{{/if}}
								{{#if preferredWorkLocation}}
									<hr>
									<h4>Preferred Work Location</h4>
									{{preferredWorkLocation}}
								{{/if}}
								{{#if educationDetails}}
									<hr>
									<h4>Education Details</h4>
									<p>{{educationDetails}}</p>
								{{/if}}
								{{#if certifications}}
									<hr>
									<h4>Certifications</h4>
									<p>{{certifications}}</p>
								{{/if}}
								{{#if languages}}
									<hr>
									<h4>Languages Known</h4>
									<ul>
										{{#each languages}}
											<li>{{level}} in {{language}}</li>
										{{/each}}
									</ul>
								{{/if}}
								{{#if files}}
									<hr>
									<h4>Resume</h4>
									<ul style="list-style: none">
										<li><a href="{{files}}" download>{{files}}</a></li>
									</ul>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{#if adminOrProvider}}
							<div class="pull-right">
								&nbsp;
								<a href="{{pathFor 'profileEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
							</div>
							<div class="pull-right">
								<button class="btn btn-danger {{#if $eq status 'active'}}deactivateProfile{{else}} activateProfile{{/if}}">{{#if $eq status 'active'}}Deactivate{{else}} Activate{{/if}}</button>
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-white">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5>Job History and Feedback</h5>
						{{#if providerCompletedJobs}}
							<ul class="list-group">
								{{#each providerCompletedJobs}}
									<li class="list-group-item">
										<a href="{{pathFor 'job'}}">{{this.title}}</a>
										<h5>Review</h5>
										{{#with reviews}}
											<span class="rateit" data-rateit-value="{{this.pointsRated}}" data-rateit-readonly=true></span> <br>
											Message: {{this.reviewMessage}}
										{{/with}}
									</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
		<p>You access is restricted. <a href="/sign-in">Login</a></p>
	{{/if}}
</template>
