<template name="profileSmall">
    <div class="col-md-3">
        <div class="developer-grid panel panel-default text-center">
            <div class="panel-body">
                <a href="{{#if currentUser}}{{pathFor 'profile'}}{{else}}/sign-in{{/if}}">
					{{#if customImageUrl}}
                        <div class="avatar center-block">
                            <img class="img-thumbnail" src="{{customImageUrl}}"/>
                        </div>
                    {{else}}
                        {{> avatar userId=userId size="medium" class="center-block"}}
                    {{/if}}
				</a>
                <h4><a href="{{#if currentUser}}{{pathFor 'profile'}}{{else}}/sign-in{{/if}}">
					{{name}}
				</a></h4>
                <p class="label label-xs label-default">
                    {{readableId}}
                </p>
                <div>
                    <small>{{title}} {{#if companyName}}- <b>{{companyName}}</b> {{/if}}</small>
                </div>
                <div>
                    {{#if location}}
                        <small><i class="fa fa-map-marker"></i>&nbsp;{{location}}</small>
                    {{/if}}
                </div>
                {{#if isInRole 'corporate-manager, buyer'}}
                    {{#if currentUser.isBuyer}}
                        <div>
                            <span><a href="{{pathFor 'assignJob'}}" class="btn btn-primary btn-xs assignJob"><i class="fa fa-rocket"></i>&nbsp;Route Job</a></span>
                            <span><a href="" class="btn btn-xs {{#if fav}}favActive{{else}}favInactive{{/if}}"><i class="fa fa-thumbs-up"></i>&nbsp;{{#if fav}}Remove Fav{{else}}Add Fav{{/if}}&nbsp;({{favCount}})</a></span>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
