<template name="profiles">
	<div class="row">
		{{#if currentUser}}			
			<div class="col-sm-12 col-md-3 col-md-offset-9">
				<input type="text" id="search-providers" class="form-control" placeholder="Search Providers By Name, Location, or Designation">
				<br>
			</div>
			{{#if isInRole 'buyer, admin, corporate-admin, dispatcher'}}
				{{#each profilesList}}
					<div class="col-md-4">
						{{>profileSmall}}
					</div>
				{{/each}}
			{{/if}}
		{{/if}}
	</div>
	<div class="text-center">
		{{> infiniteScroll }}
	</div>
</template>
