<template name="profileSmall">
    <div class="panel panel-default {{#if $eq this.status 'active'}} activeProfile {{else}} inactiveProfile {{/if}}">
        <div class="box box-widget widget-user">
            <div class="widget-user-header {{#if fav}}bg-fav{{else}}bg-assigned{{/if}}">
                <span class="pull-right rateit"></span>
                <small><i># {{readableId}}</i></small>
                <p class="budgetFont">
                    <a href="{{pathFor 'profile'}}">{{firstName}} {{lastName}}</a>
                    &nbsp;
                    {{#unless $eq userId $.Meteor.userId}}
                        {{#if userOnline userId}}
                            <i class="fa fa-circle fa-online"></i>
                        {{else}}
                            <i class="fa fa-circle fa-offline"></i>
                        {{/if}}
                    {{/unless}}
                </p>
                <h5 class="widget-user-desc">{{title}}</h5>
                <small>{{#if fullLocation.sublocality}} {{fullLocation.sublocality}},{{/if}} {{#if fullLocation.locality}} {{fullLocation.locality}},{{/if}} {{fullLocation.state}}, {{fullLocation.zip}}</small>
            </div>
            <div class="widget-user-image">
                <a href="{{pathFor 'profile'}}">
                    {{#if customImageUrl}}
                        <div class="avatar center-block">
                            <img class="img-circle" src="{{customImageUrl}}"/>
                        </div>
                    {{else}}
                        <img src="/images/avatar.png" alt="">
                    {{/if}}
                </a>
            </div>
            <div class="box-footer">
                {{#if $eq userId currentUser._id}}
                    <div class="row">
                        <div class="col-xs-6 border-right">
                            <div class="description-block text-center">
                                <a href="{{pathFor 'recommendedJobs'}}">
                                    <h5 class="description-header"><i class="fa fa-thumbs-up"></i></h5>
                                    <span class="description-text">Rcmd. Jobs</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="description-block text-center">
                                <a href="">
                                    <h5 class="description-header"><i class="fa fa-heart"></i></h5>
                                    <span class="description-text">{{favCount}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if $eq this.status 'active'}}
                    <div class="row">
                        <div class="col-xs-6 border-right">
                            <div class="description-block text-center">
                                <a href="{{pathFor 'assignJob'}}">
                                    <h5 class="description-header"><i class="fa fa-paper-plane"></i></h5>
                                    <span class="description-text">Assign Job</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="description-block text-center">
                                <a href="" class="{{#if fav}}favActive{{else}}favInactive{{/if}}">
                                    <h5 class="description-header"><i class="fa {{#if fav}}fa-heart fav-icon{{else}}fa-heart-o{{/if}}"></i></h5>
                                    <span class="description-text ">{{#if fav}}Del Fav{{else}}Add Fav{{/if}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="description-block text-center">
                                    <h5 class="description-header"><i class="fa fa-ban"></i></h5>
                                    <span class="description-text">Inactive</span>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}                    
            </div>
        </div>
    </div>
</template>
