<template name="buyerSmall">
	<div class="col-md-3">
        <div class="buyer-grid panel panel-default text-center">
            <div class="panel-body">
                <a href="{{pathFor 'buyer'}}">
					{{#if customImageUrl}}
						<div class="avatar center-block">
							<img class="img-responsive" src="{{resizeImageUrl customImageUrl 100 100}}"/>
						</div>
					{{else}}
						{{> avatar userId=userId size="medium" class="center-block"}}
					{{/if}}
				</a>
                <h4 class="name"><a href="{{pathFor 'buyer'}}">
					{{#if name}}{{name}}{{else}}{{userName}}{{/if}}
				</a></h4>
                <div class="labels">
                    {{#if $eq type 'Company'}}
                        <span class="label label-danger"><i class="fa fa-users"></i> Company</span>
                    {{/if}}
                </div>
                <div class="title">
                    <small>{{title}}</small>
                </div>
            </div>
        </div>
    </div>
</template>