<template name="buyer">
	<div id="buyerProfile">
		<div class="panel panel-default {{#if $eq this.status 'active'}} activeProfile {{else}} inactiveProfile {{/if}}">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4">
						{{#if customImageUrl}}
							<div class="avatar avatar-large">							
								<img class="img-responsive img-thumbnail" src="{{customImageUrl}}"/>
							</div>
						{{else}}
							<div class="avatar avatar-large">
								<img class="img-responsive img-thumbnail" src="/images/avatar.png" width="200px">
							</div>
						{{/if}}
						{{#if isInRole 'provider, corporate-provider'}}
							{{#if currentUser.isDeveloper}}
								<br>
								{{#if $eq this.status 'active'}}
									<a href="{{pathFor 'buyerJobs'}}" class="btn btn-xs btn-white" data-balloon="View Jobs ({{buyerOpenCount userId}})" data-balloon-pos="up"><i class="fa fa-rocket"></i></a>
									<a href="" class="{{#if fav}}favActive{{else}}favInactive{{/if}} btn btn-xs btn-white" data-balloon="{{#if fav}}Del Fav{{else}}Add Fav{{/if}}" data-balloon-pos="up"><i class="fa {{#if fav}}fa-heart{{else}}fa-heart-o{{/if}}"></i></a>
									<a href id="sendBuyerMessage" class="btn btn-xs btn-white" data-balloon="Send Msg." data-balloon-pos="up"><i class="fa fa-envelope"></i></a>
								{{else}}
									<p class="label label-deactivated">Inactive</p>
								{{/if}}
							{{/if}}
						{{/if}}
					</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-12">
								<small><i># {{readableID}}</i></small>
								<p class="budgetFont">{{displayName}} </p>
								<p>{{title}} {{#if companyName}} - {{companyName}} {{/if}}</p>
								<span class="rateit"></span>
								<hr>
								{{#if adminOrBuyer}}
									{{#if fullLocation}}
										{{fullLocation.street}}, 
										{{#if fullLocation.sublocality}}
										{{fullLocation.sublocality}},{{/if}} {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}, {{fullLocation.country}}
									{{/if}}
								{{else}}
									{{#if fullLocation}}
										{{#if fullLocation.sublocality}}
										{{fullLocation.sublocality}},{{/if}} {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}
									{{/if}}
								{{/if}}
								<hr>
								Member since: <br>
								{{formatDate createdAt}}
								<hr>
								{{#if adminOrBuyer}}
									<i class="fa fa-envelope"></i> {{userName}}
									<br>
									<i class="fa fa-mobile"></i> {{contactNumber}}
									<br>
									<i class="fa fa-mobile"></i> {{smsAddress}}
									<br>
									<i class="fa fa-at"></i> {{companyUrl}}
									<hr>
									{{#with dwollaFundingSource}}
										<i class="fa fa-credit-card"></i> Account No: {{this.accountNumber}} <br>
										<i class="fa fa-university"></i> Routing No: {{this.routingNumber}} <br>
										<i class="fa fa-dot-circle-o"></i> Account Type: {{toUpperCase this.bankAccountType}}
										<hr>
									{{/with}}
								{{/if}}
								<h4>About Me</h4>
								{{{description}}}
								{{#if industryTypes}}
									<hr>
									<h4>Job Categories</h4>
										{{#each itypes}}
											{{#if isInRole 'buyer, corporate-manager'}}
												<a href="/pro/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
											{{/if}}
											{{#if isInRole 'provider, corporate-provider'}}
												<a href="/subcategory/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
											{{/if}}
										{{/each}}
									<hr>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{#if adminOrBuyer}}
							<div class="pull-right">
								&nbsp;
								<a href="{{pathFor 'buyerEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
							</div>
							<div class="pull-right">
								<button class="btn btn-danger {{#if $eq status 'active'}}deactivateProfile{{else}} activateProfile{{/if}}">{{#if $eq status 'active'}}Deactivate{{else}} Activate{{/if}}</button>
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{>userReviews userId=userId}}
	</div>
</template>