<template name="buyerSmall">
	<div class="col-md-3">
        <div class="buyer-grid panel panel-default text-center">
            <div class="panel-body">
                <a href="{{pathFor 'buyer'}}">
					{{#if customImageUrl}}
						<div class="avatar center-block">
							<img class="img-responsive" src="{{resizeImageUrl customImageUrl 100 100}}"/>
						</div>
					{{else}}
						{{> avatar userId=userId size="medium" class="center-block"}}
					{{/if}}
				</a>
                <h4 class="name"><a href="{{pathFor 'buyer'}}">
					{{#if name}}{{name}}{{else}}{{userName}}{{/if}}
				</a></h4>
                <div class="title">
                    <small>{{title}} {{#if companyName}}- <b>{{companyName}}</b>{{/if}}</small>
                </div>
                <div class="location" style="margin-top: -35px;">
                    {{#if location}}
                        <small><i class="fa fa-map-marker"></i>&nbsp;{{location}}</small>
                    {{/if}}
                </div>
                <div class="text-center">
                    <span><a href class="fa fa-heart fa-2x addToFavorites" style="text-decoration:none"></a></span>
                </div>
            </div>
        </div>
    </div>
</template>