<template name="buyer">
	<div id="buyerProfile">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						{{#if customImageUrl}}
							<div class="avatar avatar-large">
								<img class="img-responsive img-thumbnail" style="max-height: 200px; max-width: 200px" src="{{customImageUrl}}"/>
							</div>
						{{else}}
							{{> avatar userId=userId size="large"}}
						{{/if}}
						{{#if isInRole 'provider, corporate-provider'}}
							{{#if currentUser.isDeveloper}}
								<br>
								{{#if $eq this.status 'active'}}
									<a href="{{pathFor 'buyerJobs'}}" class="btn btn-primary btn-xs"><i class="fa fa-rocket"></i>&nbsp;View Jobs</a>
									<span><a href="" class="btn btn-xs {{#if fav}}favActive{{else}}favInactive{{/if}}"><i class="fa fa-thumbs-up"></i>&nbsp;{{#if fav}}Remove Fav{{else}}Add Fav{{/if}}&nbsp;({{favCount}})</a></span>
								{{else}}
									<p class="label label-deactivated">Inactive</p>
								{{/if}}
							{{/if}}
						{{/if}}
						<hr>
						<small>
							<i class="fa fa-map-marker"></i>&nbsp;{{location}}
							<br>
							<i class="fa fa-mobile"></i>&nbsp;{{contactNumber}}
							<br>
							<i class="fa fa-mobile"></i>&nbsp; {{smsAddress}}
							<br>
							<i class="fa fa-user"></i>&nbsp;{{userName}}
							<hr>
						</small>
						{{#if adminOrBuyer}}
							<small>
								{{#if eintinNumber}}
									<i class="fa fa-envelope"></i>&nbsp;EIN/TIN: {{eintinNumber}}
								{{/if}}
								<br>
								{{#if socialSecurityNumber}}
									<i class="fa fa-envelope"></i>&nbsp;SSN: {{socialSecurityNumber}}
								{{/if}}
								<br>
								{{#if alternateEmail}}
									<i class="fa fa-envelope"></i>&nbsp;{{alternateEmail}}
								{{/if}}
							</small>
							<hr>
						{{/if}}
						<i class="fa fa-calendar"></i> Created on {{formatDate createdAt}}
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12">
								<label class="label label-default">{{readableId}}</label>
								<label class="label label-default">{{userRole}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h2 class="top-flush">
									{{displayName}}
								</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h4>
									{{title}} {{#if companyName}}- {{companyName}}{{/if}}
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{{#if htmlDescription}}
									<hr>
									<h4>About Me</h4>
									{{{htmlDescription}}}
								{{/if}}
								{{#if industryTypes}}
									<hr>
									<h4>Job Categories</h4>
										{{#each itypes}}
											{{#if isInRole 'buyer, corporate-manager'}}
												<a href="/pro/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
											{{/if}}
											{{#if isInRole 'provider, corporate-provider'}}
												<a href="/subcategory/{{this.encodedType}}" class="label label-default profileLabel">{{this.decodedType}}</a>
											{{/if}}
										{{/each}}
									<hr>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{#if adminOrBuyer}}
							<div class="pull-right">
								&nbsp;
								<a href="{{pathFor 'buyerEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
							</div>
							<div class="pull-right">
								<button class="btn btn-danger {{#if $eq status 'active'}}deactivateProfile{{else}} activateProfile{{/if}}">{{#if $eq status 'active'}}Deactivate{{else}} Activate{{/if}}</button>
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-white">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5>Job History and Feedback</h5>
						<ul class="list-group">
							{{#each buyerCompletedJobs}}
								<li class="list-group-item">
									<a href="{{pathFor 'job'}}">{{this.title}}</a>
									<h5>Review</h5>
									{{#with reviews}}
										<span class="rateit" data-rateit-value="{{this.pointsRated}}" data-rateit-readonly=true></span> <br>
										Message: {{this.reviewMessage}}
									{{/with}}
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>