<template name="buyerNew">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Introduce Yourself</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Buyers" id="buyerNew" type="insert"}}
					    {{>buyerFields}}
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="buyerEdit">
    <div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Buyer Profile</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Buyers" id="buyerEdit" type="update" doc=buyerProfile}}
					    {{>buyerFields}}
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    	<button id="cancel" class="btn btn-default"> Cancel</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="buyerFields">
	<div class="row">
        <div class="col-md-4">
            <div class="form-group" id="profileAvatarPreview">
                <label class="control-label">{{#if customImagePreviewUrl}}Corporate{{else}}Automatic Corporate{{/if}} Avatar</label>
                {{#if customImagePreviewUrl}}
                <div class="avatar avatar-large">
                    <img class="img-responsive" src="{{customImagePreviewUrl}}" onerror="this.src='/images/avatar.png'" style="height:200px;width:200px" />
                </div>
                {{else}} {{> avatar user=currentUser size="large"}} {{/if}}
            </div>
            <div class="form-group pull-left" style="margin-top: -30px;">
                <label class="control-label"></label>
                <div class="input-group">
                    &nbsp;
                    <label class="btn btn-success input-group-btn btn-lbl"  style="font-size: 15px;margin-left:5px" data-toggle="tooltip" data-placement="top">
                        <input type="file" accept="image/*" class="file_bag" name="files" data-schema-key="files"> Change
                    </label>
                    <button type="button" class="btn btn-danger remove-img">Remove</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div id="spinner" style="position: relative;">
            {{> spinner}}
        </div>
        <div class="col-xs-12">
            {{#each uploadedFiles}}
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"
                  aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent_uploaded}}%">
                    {{percent_uploaded}}%
                  </div>
                </div>
            {{/each}}
        </div>
    </div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='name' placeholder="Your Name"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='title' placeholder="Let us know about your professional role"}}
		</div>
		{{#if isInRole 'corporate-manager'}}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                {{>afQuickField name='companyName' value=companyInvited readOnly=true}}
            </div>
        {{else}}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                {{>afQuickField name='companyName' placeholder="Company name"}}
            </div>
        {{/if}}
	</div>	
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			{{>afQuickField name="eintinNumber" placeholder="99-9999999"}}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			{{>afQuickField name="socialSecurityNumber" placeholder="999-99-9999"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
	            <label for="loc" class="control-label">Location</label>
	            <input id="loc" data-schema-key="location" class="form-control typeahead" name="location" type="text" placeholder="City, State, Zip" autocomplete="off"  value="{{locationData}}" spellcheck="off" data-source="location" maxlength="128" />
	            <span class="help-block"></span>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='contactNumber' placeholder="Mobile Number"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='mobileCarrier'}}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			{{>afQuickField name="smsAddress" readonly=true placeholder="johndoe@example.com"}}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{>afQuickField name='industryTypes' noselect="true" placeholder="What are you interested in?"}}
		</div>
	</div>
	<hr>
	{{>afQuickField name='description' rows=8  placeholder="Tell us about your professional self, how long you've been programming, things like that"}}
	<hr>
</template>