<template name="buyers">
	<div class="row">
		{{#if currentUser}}
			<div class="col-sm-12 col-md-9">
				<p>
					All buyers&nbsp;&#124;&nbsp;<a href="{{pathFor 'favoriteBuyers'}}">Favorite Buyers</a>
				</p>
			</div>
			<div class="col-sm-12">
				<hr>
			</div>
			{{#if isInRole 'corporate-admin, provider, corporate-provider'}}
				{{#each buyersList}}
					<div class="col-md-4">
						{{>buyerSmall}}
					</div>
				{{/each}}
			{{/if}}
		{{/if}}
	</div>
	<div class="text-center">
		{{> infiniteScroll }}
	</div>
</template>