<template name="buyers">
	<div class="row">
		{{#if currentUser}}
			<div class="col-sm-12 col-md-3 col-md-offset-9">
				<input type="text" id="search-buyers" class="form-control" placeholder="Search Buyers By Name, Location, or Designation">
				<br>
			</div>
			<!-- <div class="col-sm-12">
				<hr>
			</div> -->
			{{#if isInRole 'corporate-admin, provider, corporate-provider'}}
				{{#each buyersList}}
					<div class="col-md-4">
						{{>buyerSmall}}
					</div>
				{{/each}}
			{{/if}}
		{{/if}}
	</div>
	<div class="text-center">
		{{> infiniteScroll }}
	</div>
</template>