<template name="buyerNew">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Introduce Yourself</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Buyers" id="buyerNew" type="insert"}}
					    {{>buyerFields}}
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="buyerEdit">
    <div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Buyer Profile</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Buyers" id="buyerEdit" type="update" doc=buyer}}
					    {{>buyerFields}}
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    	<button id="cancel" class="btn btn-default"> Cancel</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="buyerFields">
	<div class="form-group"  id="profileAvatarPreview">
		<label class="control-label">{{#if customImagePreviewUrl}}Custom{{else}}Automatic{{/if}} Avatar</label>
		<div class="row">
			<div class="col-md-4">
				{{#if customImagePreviewUrl}}
					<div class="avatar avatar-large">
						<img class="img-responsive" src="{{resizeImageUrl customImagePreviewUrl 200 200}}"/>
					</div>
				{{else}}
					{{> avatar user=currentUser size="large"}}
				{{/if}}
			</div>
			<div class="col-md-4">
				<input
					id="custom-image"
					name="customImageUrl"
					data-schema-key="customImageUrl" 
					type="hidden"
					role="uploadcare-uploader"
					data-tabs="file camera url facebook gdrive dropbox instagram flickr skydrive"
					data-image-shrink="800x800"
					data-images-only="true"
					data-preview-step="true"
					data-clearable="true"
					data-multiple="false"
					data-system-dialog="false"
					data-crop="800:800"
					data-cdn-base="https://ucarecdn.com/"
				/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='name' placeholder="Your Name"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='title' placeholder="Title displayed for your listing"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='type' noselect="true" options="allowed"}}
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			{{>afQuickField name="eintinNumber" placeholder="Employment/Tax Identification Number"}}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			{{>afQuickField name="socialSecurityNumber" placeholder="Social Security Number"}}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			{{>afQuickField name="insuranceNumber" placeholder="Insurance Number"}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='location' placeholder="Where are you located"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='contactNumber' placeholder="Mobile Number"}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='contactEmail' placeholder="Secondary email"}}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='industryTypes' noselect="true"}}
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{>afQuickField name='url' placeholder="URL your personal website/blog"}}
		</div>
	</div>
	<hr>
	{{>afQuickField name='description' rows=8  placeholder="Tell us about your professional self, how long you've been programming, things like that"}}
	<hr>
</template>