<template name="dashboard">
    <div class="row">
        <div class="board">
            <div class="board-inner">
                <ul class="nav nav-tabs nav-justified" id="myTab">
                    <div class="liner"></div>
                    <li class="{{#if $eq active 'dashboard'}}active{{/if}}">
                        <a href="#dashboard" data-toggle="tab" title="welcome">
                            <span class="round-tabs one">
                                <i class="glyphicon glyphicon-home"></i>&nbsp; Dashboard
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#favusers" data-toggle="tab" title="profile">
                            <span class="round-tabs two">
                                <i class="glyphicon glyphicon-user"></i>&nbsp; My Favorite Users
                            </span>
                        </a>
                    </li>
                    <li class="{{#if $eq active 'myjobs'}}active{{/if}}">
                        <a href="#jobs" data-toggle="tab" title="bootsnipp goodies">
                            <span class="round-tabs three">
                                <i class="glyphicon glyphicon-gift"></i>&nbsp; My Jobs
                            </span>
                        </a>
                    </li>
                    <li  class="{{#if $eq active 'messaging'}}active{{/if}}">
                        <a href="#mails" data-toggle="tab" title="blah blah">
                            <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>&nbsp; My Message Box
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#bank" data-toggle="tab" title="completed">
                            <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>&nbsp; My Piggy Bank
                         </span> </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade {{#if $eq active 'dashboard'}} in active {{/if}}" id="dashboard">
                    <h4>Dashboard (Coming soon! WIP!)</h4>
                </div>
                <div class="tab-pane fade {{#if $eq active 'favoriteusers'}} in active {{/if}}" id="favusers">
                    <br>
                    {{#each favUsers}}
                        {{>profileSmall}}
                    {{else}}
                        You haven't added any favorite users. <a href="{{pathFor 'profiles'}}">View providers</a> if you want to add some.
                    {{/each}}
                </div>
                <div class="tab-pane fade {{#if $eq active 'myjobs'}} in active {{/if}}" id="jobs">
                    <br>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#postedJobs" data-toggle="tab">
                                {{#if currentUser.isBuyer}}
                                    Posted
                                {{else}}
                                    {{#if currentUser.isDeveloper}}
                                        Applied
                                    {{/if}}
                                {{/if}} Jobs
                            </a>
                        </li>
                        <li><a href="#favoriteJobs" data-toggle="tab">Favorite Jobs</a></li>
                        <li><a href="#" data-toggle="tab">Ongoing Jobs</a></li>
                        <li><a href="#" data-toggle="tab">Completed Jobs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="postedJobs">
                            <br>
                            {{#if currentUser.isDeveloper}}
                                {{#each appliedJobs}}
                                    {{>jobSmall}}
                                {{else}}
                                    You haven't applied for any jobs yet. <a href="{{pathFor 'jobs'}}">Find jobs</a> to apply.
                                {{/each}}
                            {{else}}
                                {{#if currentUser.isBuyer}}
                                    {{#each jobs}}
                                        {{>jobSmall}}
                                    {{else}}
                                        You haven't posted any jobs.  <a href="{{pathFor 'jobNew'}}">Post a Job</a> if you have one to offer.
                                    {{/each}}
                                {{/if}}
                            {{/if}}
                        </div>
                        <div class="tab-pane fade" id="favoriteJobs">
                            <br>
                            {{#each favJobs}}
                                {{>jobSmall}}
                            {{else}}
                                You haven't added any favorites. <a href="{{pathFor 'jobs'}}">View jobs</a> if you want to add some.
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {{#if $eq active 'messaging'}} in active {{/if}}" id="mails">
                    <br> 
                    {{#if $eq active 'messaging'}}
                      {{#if layout.mails}}
                        {{> mails}}
                      {{/if}}
                      {{#if layout.message}}
                        {{> message}}
                      {{/if}}
                      {{#if layout.compose}}
                        {{> compose}}
                      {{/if}}
                    {{else}}
                      {{> mails}}
                    {{/if}}
                </div>
                <div class="tab-pane fade" id="bank">
                    <h4>Piggy Bank (Coming soon! WIP!)</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>
