<template name="favoriteProfiles">
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<p>
				<a href="{{pathFor 'profiles'}}">All Providers</a>&nbsp;&#124;&nbsp;Favorite Providers
			</p>
		</div>
		<div class="col-sm-12">
			<hr>
		</div>
		{{#if isInRole 'buyer, dispatcher'}}
	        {{#each favUsers}}
	        	<div class="col-md-4">
	        		{{>profileSmall}}
	        	</div>
	        {{else}}
	        	<div class="col-sm-12">
	            	You haven't added any favorite users. <a href="{{pathFor 'profiles'}}">View providers</a> if you want to add some.
	            </div>
	        {{/each}}
	    {{/if}}
	</div>
</template>