<template name="payment">
    <button class="btn btn-primary authUrl">
        Login To Dwolla
    </button>
    <button class="btn btn-primary dwolla">
        Get User Info
    </button>
    <button class="btn btn-primary dwolla-customers">
        Show customers
    </button>
    <button class="btn btn-primary dwolla-trans">
        Show transactions
    </button>
    <button class="btn btn-primary listFS">
        Create Customer
    </button>
    <div class="alert alert-success show-info">
    </div>
    <button class="btn btn-primary genIavToken">
        Generate IAV Token
    </button>
    <div class="row">
        <div class="col-sm-12">
            <div id="iavContainer"></div>
            <script src="https://cdn.dwolla.com/1/dwolla.js"></script>
            <button id="start">Start IAV</button>
            <script>
                $('#start').click(function() {
                    var iavToken = 'qDkoqXKjHTOQoosM2YkIBt5DAXO5RDQrujvlZWHZQ2O6uuqqBS';
                    dwolla.config.dwollaUrl = 'https://uat.dwolla.com';
                    dwolla.iav.start('iavContainer', iavToken, function(err, res) {
                        if(err) {
                            console.log(err);
                        } else {
                            console.log(res);
                        }
                    })
                })
            </script>
        </div>
    </div>
</template>
