<template name="aboutUs">
	<div class="row">
		<div class="col-sm-12">
			<div class="gradient-blue-orange-h"></div>
			<div id="staticPageIntro" class="gradient-red-orange-h">
				<h2 class="white">About Us</h2>
				<p>USTechland is an I.T. services marketplace headquartered in Union, New Jersey.</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h4>Our network of freelance professionals covers the nation from coast to coast, providing businesses and organizations with the talent and expertise they need, instantaneously, at the click of a button.</h4> 
			<hr>
			<p>No matter what your project may be, no matter where you are, our talented professionals are waiting for the call. Think of us as your personal traveling helpdesk, or your omniscient IT department, or your business emergency number. See what instantaneous services can do for you.</p>
		</div>
	</div>
</template>