<template name="buyerBenefits">
	<div class="row">
		<div class="col-lg-12">
			<div class="gradient-blue-orange-h"></div>
			<div id="staticPageIntro" class="gradient-red-orange-h">
				<h2 class="white">Buyer Benefits</h2>
				<p>Create. Choose. Collaborate. Achieve &amp; Pay.</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h4>Our work marketplace screens for providers with the right skill sets for your business needs, while also providing a portfolio of clients with jobs best suited to the specialties our providers offer. It only takes four steps.</h4>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-check"></i>1- Create project </h5>
				</div>
				<div class="panel-body">
					<p>Post your project. Describe what you need, and we'll instantly connect you with perfect matches.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-gift"></i>2- Choose providers</h5>
				</div>
				<div class="panel-body">
					<p>Check provider portfolios, work histories and feedback in one convenient place. Work with your favorite providers.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-compass"></i>3 - Collaborate</h5>
				</div>
				<div class="panel-body">
					<p>Work effortlessly. Meet and collaborate with your team using online communication and productivity tools. Follow your project's progress using real-time reporting and tracking.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-compass"></i>4 - Pay when done.</h5>
				</div>
				<div class="panel-body">
					<p>We help you streamline finances – from tracking freelancers' time to paying them securely. And our Payment Protection assures that you only pay for work you approve.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header"><i class="fa fa-hand-peace-o"></i>&nbsp;How Does USTechland’s Platform Benefit You?</h2>
		</div>
		<div class="col-md-12">
			<h4> “By finding the right people, for the right job.”</h4>
			<p>USTechland is a community of Buyers and Providers who share the same goal of doing IT-related business, without the complications.Our user friendly platform solution pairs you with a community of freelance workers in the IT industry who “provide” their service and expertise for whatever job or project you need completed, whether long term or short term; without the long, complicated and expensive process of recruitment, administration, when hiring a team. </p><p>You’ll have no more worries about finding the right people for your projects.  It’s on us, for your benefit. We verify all of our provider’s credentials and qualifications, and we offer background checks and reference checks, to make sure you have the right providers for your business.   We make human resources simple.  Just pick the right person for your project, and they’ll be on the job as fast as you approve them. Easy.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header"><i class="fa fa-hand-pointer-o"></i>&nbsp;Why Choose Freelancers?</h2>
		</div>
		<div class="col-md-12"> 
			<h4> “By finding the right people, for the right job.”</h4>
			<p>Projects may come and go, but not trusted employees, which take plenty of time and resources to recruit, verify, interview, and monitor their services within your company. </p>
			<p> Sometimes you just need someone for one thing and one thing only. With our platform, you are able to manage and get work done on your projects whether short-term or long-term, with trusted and certified individuals specializing in the IT field.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header"><i class="fa fa-hand-lizard-o"></i>&nbsp;So in short, what do I get?</h2>
		</div>
		<div class="col-md-12">
			<h4>Here is a list of benefits you receive when signing up on our platform:</h4>
			<ul>
				<li>Avoid mailing checks.</li>
				<li>Self pay checkout for providers.</li>
				<li>Self insured providers</li>
				<li>Hire and pay as you go.</li>
				<li>No paying benefits, no hassle</li>
				<li>Pick your Providers based on their skills and your needs.</li>
				<li>Friendly worker selection system. </li>
				<li>No contracts, no agreements.</li>
				<li>24/7 Help Desk and Support.</li>
				<li>Easy communication interface to contact providers or other buyers.</li>
				<li>No cancellation fees</li>
				<li>Platform updates performed daily</li>
				<li>Free banking system for payment processes.</li>
				<li>Rate and read review your providers and read your provider’s reviews.</li>
				<li>Keep track of your projects through our app.</li>
			</ul>
		</div>
	</div>
</template>