<template name="contactUs">
	<div class="row">
		<div class="col-sm-4">
			<img src="/images/logo.png" alt="USTechland Corp." class="img-responsive" width="50%">
			<address>
				<strong>USTECHLAND CORP.</strong><br>
				2444 MORRIS AVE<br>
				UNION, NJ 07083<br>
				<abbr title="Phone">P:</abbr> (844)810-2256 <br>
				<abbr title="Fax">F:</abbr> (877)809-9681
			</address>
			<address>
				<strong>Customer Support</strong><br>
				E: <a href="mailto: support@ustechland.com">support@ustechland.com</a>
			</address>
			<ul class="social-network social-circle">
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            </ul>
		</div>
		<div class="col-sm-8">
			<div class="pane panel-light">
				<div class="panel-body">
					<h1>Contact Us</h1>
                    <p>You can contact our Customer Support Department by calling our Customer Support Line at 732-272-0053, or through our customer support email at helpdesk@ustechland.com. We are open to any customer questions, feedback and suggestions. Use the form below to get in touch with us.</p>
					<form id="queryRequest">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="First Name*" required="required" name="firstName">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Last Name*" required="required" name="lastName">
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="My Company*" required="required" name="companyName">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email*" required="required" name="email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Phone*" required="required" name="mobile">
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="3" required="required" placeholder="Your Message*" name="query"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-sm">Submit</button>
						</div>
					</form>
					<div class="alert alert-success successAlert" hidden>We've submitted your query.</div>
					<div class="alert alert-danger failedAlert" hidden>Failed to submit your query.</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="hero-widget well well-sm">
                <div class="icon">
                     <i class="fa fa-lightbulb-o"></i>
                </div>
                <div class="text">
                    <h3>Still having doubts?</h3>
                    <h4>Get in contact with us!</h4>
                    <label class="text-muted">We will reply you ASAP</label>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="jumbotron">
                <div class="container">
                    <h1>Customer Support</h1>
                    <p>You can contact our Customer Support Department by calling our Customer Support Line at 732-272-0053, or through our customer support email at helpdesk@ustechland.com.</p>
                    <p>We are open to any customer questions, feedback and suggestions. Feel free to give us a call or send an email at any time.</p>
                    <p>
                        <a class="btn btn-primary btn-lg">Contact Us</a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
</template>