<template name="corporateAccounts">
	<div class="row">
		<div class="col-lg-12">
			<div id="staticPageIntro" class="gradient-red-orange-h">
				<h2 class="white">Corporate Account</h2>
				<p>On-demand projects need on-demand talent. Find your talent today. Find your expert today.</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<h4>When a big project or problem comes up with a short deadline on short notice, you’ll need all the resources you can get, immediately.</h4><p> With UTL, all the experts, their skills and knowledge included are right at your fingertips, waiting for you. Sign up today, and see what on-demand expertise can do for your business. Find out how our on-demand, just-in-time helpdesk services can better serve your corporate needs, in four clear-cut steps.  Leave the problem-solving to us.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-check"></i>1- Create project</h5>
				</div>
				<div class="panel-body">
					<p>Post your Project.  Detail what your company needs, when you want it, where you want it, and how your company wants it done.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-gift"></i>2- Choose Provider</h5>
				</div>
				<div class="panel-body">
					<p>Finding the precise talent with the skill and attention to details your project needs is easier.  Review our list of Providers’ credentials, work history, and reviews.  Our list of Providers range from talented individuals to large, specialized enterprises. Find your service Provider solutions that best fits the standards of your business, with our platform’s tools.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-compass"></i>3 - Collaborate &amp; Achieve</h5>
				</div>
				<div class="panel-body">
					<p>Manage and keep track of your project’s progress, and decide if the work matches up to your standards. Communicate efficiently and effectively with your Provider with our platform’s tools.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-compass"></i>4 - Payment &amp; Review</h5>
				</div>
				<div class="panel-body">
					<p>When you’re satisfied with the work, pay using our platform’s tools and efficient payment system.  Rate and review your Provider’s performance using our platform’s reputation system.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">How Does USTechland’s Platform Benefit Me?</h2>
		</div>
		<div class="col-md-6">
			<h4>“By finding the right provider solutions for your business.”</h4>
			<p>Our helpdesk services work by sending talented tech-savvy individuals and reputable companies composed of such individuals to work and cater to your businesses needs.  We only choose and accept individuals and companies with good reputations on our platform, because only the best will do for our clients.  When projects require on-demand services, we cater to our clients needs without sacrificing quality.</p>
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="http://placehold.it/700x450" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Why choose USTechland?</h2>
		</div>
		<div class="col-md-6">
			<h4> “Because we provide you with instant talent at a lower cost.”</h4>
			<p>Compared to our other freelance marketplace competitors, USTechland offers an extensive list of on-demand, talented providers with the skillsets and reputation your company needs at a lower price.  Our customer service is available 24 hours, 7 days a week.   Find out more about our pricing here.</p>
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="http://placehold.it/700x450" alt="">
		</div>
	</div>
</template>