<template name="corporateAccounts">
		<ol class="breadcrumb">
			<li>
				<a href="{{pathFor 'home'}}">Home</a>
			</li>
			<li class="active">
				Corporate Account
			</li>
		</ol>
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="http://placehold.it/1200x300" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header"> On-demand projects need on-demand talent. Find your talent today. Find your expert today.</h3>
				<p class="page-header">When a big project or problem comes up with a short deadline on short notice, you’ll need all the resources you can get, immediately. With UTL, all the experts, their skills and knowledge included are right at your fingertips, waiting for you. Sign up today, and see what on-demand expertise can do for your business.</p>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><i class="fa fa-fw fa-check"></i>1- Create project</h4>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui asperiores, minus sed quo quidem neque ipsa, quasi quas sequi numquam dolores exercitationem ea doloremque accusamus et eum odio accusantium.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><i class="fa fa-fw fa-gift"></i>2- Apply</h4>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus ex repellendus labore architecto cumque nesciunt velit quam incidunt deleniti, pariatur recusandae ab, ullam provident autem modi! Eaque aut, beatae.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><i class="fa fa-fw fa-compass"></i>3 - Achieve</h4>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequatur, facere officia saepe necessitatibus expedita libero tempora reprehenderit vel velit repellendus molestiae, dolorem perferendis, obcaecati, eius debitis nesciunt ipsum laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><i class="fa fa-fw fa-compass"></i>4 - Get Paid.</h4>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptatum rem nihil nam aliquid dolorum officia id officiis quasi ipsa perferendis architecto error expedita quod eligendi dolor, placeat voluptate dignissimos.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">How Does USTechland’s Platform Benefit Me?</h2>
			</div>
			<div class="col-md-6">
				<h4>“By finding the right client for your expertise.”</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id, ea! Eligendi nam molestias praesentium libero laboriosam, sed officia eius est asperiores repellat tenetur cupiditate ipsam placeat ipsum odit, a?</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="http://placehold.it/700x450" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Why choose USTechland?</h2>
			</div>
			<div class="col-md-6">
				<h4> “Because we help you get paired with clients, at a lower cost.”</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repudiandae dolor eveniet, laborum aliquam ad a deserunt! Veniam, dignissimos et fugiat officia aut. Earum inventore nulla cupiditate fuga, animi sint!</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="http://placehold.it/700x450" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">So in short, what do I get?</h2>
			</div>
			<div class="col-md-6">
				<h4>Here is a list of benefits you receive when signing up on our platform:</h4>
				<ul>
					<li>Avoid mailing checks.</li>
					<li>Self pay checkout for providers.</li>
					<li>Self insured providers</li>
					<li>Hire and pay as you go.</li>
					<li>No paying benefits, no hassle</li>
					<li>Pick your Providers based on their skills and your needs.</li>
					<li>Friendly worker selection system. </li>
					<li>No contracts, no agreements.</li>
					<li>24/7 Help Desk and Support.</li>
					<li>Easy communication interface to contact providers or other buyers.</li>
					<li>No cancellation fees</li>
					<li>Platform updates performed daily</li>
					<li>Free banking system for payment processes.</li>
					<li>Rate and read review your providers and read your provider’s reviews.</li>
					<li>Keep track of your projects through our app.</li>
				</ul>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="http://placehold.it/700x450" alt="">
			</div>
		</div>
</template>