<template name="faq">
    <div class="row">
        <div class="col-lg-12">
            <div class="gradient-blue-orange-h"></div>
            <div id="staticPageIntro" class="gradient-red-orange-h">
                <h2 class="white">Frequently Asked Questions</h2>
                <p>Lorem Ipsum Dolor Sit Amet.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is USTechland?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            USTechland is a job platform for people and businesses to post and assign jobs and/or projects, and for independent contractors and businesses to find jobs and projects.   Our platform facilitates fast communication, secure payment, and around-the-clock support, so you can get what you need done or find the right job tuned to your skills, whether you are a Buyer or a Provider.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What is a Buyer?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Buyers are platform users who post projects, tasks and jobs that they would like completed.  As a buyer, you post the job you would like completed, set the terms, requirements, desired skills, and pricing on the platform and choose which provider you would like to perform the job listed.   Alternatively, you can directly offer a job to a provider of your choice to have it performed.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What is a Provider?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Providers are the backbone of the platform.  Whether they work as independent contractors or as employees of a business, they perform the work a Buyer would like to be done to their standards.  Providers range from different backgrounds, experience and skills.  As a provider, you can choose any job or project to your preferences, pricing, or what is most tailored to your skills.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What is a Corporate Account?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            A Corporate Account is an account that is  best suited for businesses and large organizations.   A Corporate Account places many Users together in one centralized account, within the platform, whether these users are Buyers or Providers.    As a user with a corporate account, your employees do not need to create separate accounts; you control a portfolio of users that you directly manage to assign tasks as a Provider or to manage projects as a Buyer.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What is a Corporate Provider?</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            A ‘Corporate Provider’ is an individual service provider that is directly employed by the business (known as a Corporate Account) that has been approved to perform your posted job.   When you choose a Corporate or Business User Account to do work for your posted job, you can choose which individuals working for that company you would like to perform work, if you prefer to choose a preferred provider.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How much does it cost to use the platform?</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Using our platform and creating an account is free of charge; you only pay for the prices your Provider(s) charges or agree to for work done.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How do I decide whether to trust my Buyer or Provider?</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            USTechland uses a ratings system where users can leave recommendations, comments and reviews for other Users within the platform.   By researching our platform’s users, you can make better informed decisions on which user you would like to choose as your client or partner.   In regards to Providers, in addition to the above mentioned, we personally screen and review current and prospective Provider’s resumes, work experience, background, qualifications and certifications, references, and communicate with them on a personal basis.  At USTechland, we take the trust between our users seriously.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Who processes the tax-records? (Providers and Corporate Provider Accounts Only)</a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            Providers within the platform receive a 1099 form at the end of the year.  There are no charges for 1099 processing.  This does not apply to Corporate Providers, a 1099 form of the total income of all Corporate Providers, is sent to the respective parent Corporate Account instead.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="hero-widget well well-sm">
                <div class="icon">
                     <i class="fa fa-lightbulb-o"></i>
                </div>
                <div class="text">
                    <h3>Still having doubts?</h3>
                    <h4>Get in contact with us!</h4>
                    <label class="text-muted">We will reply you ASAP</label>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="jumbotron">
                <div class="container">
                    <h1>Customer Support</h1>
                    <p>You can contact our Customer Support Department by calling our Customer Support Line at 732-272-0053, or through our customer support email at helpdesk@ustechland.com.</p>
                    <p>We are open to any customer questions, feedback and suggestions. Feel free to give us a call or send an email at any time.</p>
                    <p>
                        <a class="btn btn-primary btn-lg">Contact Us</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>