<template name="home">
	<div id="homePageIntro" class="container-fluid gradient-blue-orange-h">
        
    </div>
	<div class="jumbotron jumbotron-bg">
		<div class="container">
			<div class="row">
				<h2 class="white">Connect. Collaborate. Coacheive.</h2>
			</div>
			<div class="row">
				<br>
				<p>
					Pairing business and savvy professionals across USA, together to get the job done.
					<br>A simple and precise platform to manage work, workforce and payments.
				</p>
			</div>			
			<div id="callToAction" class="row">
				{{#if currentUser}}
					{{#if isInRole 'buyer, dispatcher'}}
						<a class="text-center btn btn-primary btn-sm" role="button" href="{{pathFor 'jobNew'}}">Post A Job</a>
						<a href="{{pathFor 'profiles'}}" class="text-center btn btn-primary btn-sm" role="button">View Providers</a>
					{{else}}
						{{#if isInRole 'provider'}}
							<a class="text-center btn btn-primary btn-sm" role="button" href="{{pathFor 'jobs'}}">Find Jobs</a>
							<a class="text-center btn btn-primary btn-sm" role="button" href="{{pathFor 'buyers'}}">View Buyers</a>
						{{/if}}
					{{/if}}
				{{else}}
					<div class="col-sm-3 left-border">
						<p>
							The best way to <br> find a professional
						</p>
						<a href="{{pathFor 'jobNew'}}" class="text-center btn btn-primary btn-sm">Post A Job</a>
					</div>
					<div class="col-sm-3 left-border">
						<p>Need a job?<br> Tell us your skills</p>
						<a class="text-center btn btn-primary btn-sm" role="button" href="{{pathFor 'profileNew'}}">Create a Profile</a>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
