<template name="home">
	<div id="homePageIntro" class="jumbotron container-fluid gradient-blue-orange-h">
		<div class="container">
			<div class="row">
				<h1 class="white">Connect &amp; Collaborate.</h1>
			</div>
			<div class="row">
				<p class="white">
					Pairing business and savvy professionals across USA, together to get the job done.
					<br>
					A simple and precise platform to manage work, workforce and payments.
				</p>
			</div>			
			<div id="callToAction" class="row">
				{{#if currentUser}}
					{{#if isInRole 'buyer, corporate-manager, corporate-admin'}}
						<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'jobNew'}}">Post A Job</a>
						<a href="{{pathFor 'profiles'}}" class="text-center btn btn-primary btn-md" role="button">View Providers</a>
					{{else}}
						{{#if isInRole 'provider, corporate-provider'}}
							<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'jobs'}}">Find Jobs</a>
							<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'buyers'}}">View Buyers</a>
						{{/if}}
					{{/if}}
				{{else}}
					<a href="{{pathFor 'jobNew'}}" class="text-center btn btn-primary btn-md">Post A Job</a>
					<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'profileNew'}}">Create a Profile</a>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- {{#if currentUser}}
		<div class="container">
			{{#if isInRole 'corporate-admin, provider, corporate-provider'}}
				{{>jobsRecent}}
			{{/if}}
			{{#if isInRole 'corporate-admin, corporate-manager, buyer'}}
				<div class="row">
					<div class="col-sm-12">
						{{>profilesRecent}}
					</div>
				</div>
			{{/if}}
		</div>
	{{/if}} -->
</template>
