<template name="home">
	<div class="jumbotron container-fluid home-image">
		<div class="container text-center">
			<div class="row">
				<h1>Connect &amp; Collaborate.</h1>
			</div>
			<div class="row">
				<p>
					Pairing business and savvy professionals across USA, together to get the job done.
					<br>
					A simple and precise platform to manage work, workforce and payments.
					<br>
					<!-- Browse the <a href="{{pathFor 'jobs'}}">{{getPublishedCount 'jobs'}} active job postings</a> or <a href="{{pathFor 'profileNew'}}">create your profile</a> to join the <a href="{{pathFor 'profiles'}}">{{getPublishedCount 'developers'}} registered professionals</a>. -->
				</p>
			</div>
			
			<div id="callToAction" class="row">
				{{#if currentUser}}
					{{#if isInRole 'employer'}}
						<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'jobNew'}}">Post A Job</a>
					{{else}}
						{{#if isInRole 'individual-employee'}}
							<a class="text-center btn btn-success btn-md" role="button" href="{{pathFor 'jobs'}}">Find Jobs</a>
							<a class="text-center btn btn-success btn-md" role="button" href="{{pathFor 'buyers'}}">View Buyers</a>
						{{else}}
							{{#if isInRole 'company-employee'}}
								<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'jobNew'}}">Post A Job</a>
							{{/if}}
						{{/if}}
					{{/if}}
				{{else}}
					<a href="{{pathFor 'jobNew'}}" class="text-center btn btn-primary btn-md">Post A Job</a>
					<a class="text-center btn btn-primary btn-md" role="button" href="{{pathFor 'profileNew'}}">Create a Profile</a>
				{{/if}}
			</div>
		</div>
	</div>
	{{#if currentUser}}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					{{>jobsRecent}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					{{>profilesRecent}}
				</div>
			</div>
		</div>
	{{/if}}
</template>
