<template name="howItWorks">
	<div class="row">
		<div class="col-lg-12">
			<div class="gradient-blue-orange-h"></div>
			<div id="staticPageIntro" class="gradient-red-orange-h">
				<h2 class="white">How It Works</h2>
				<p>It’s your own personal 24/7 helpdesk, ready for you, no matter where you are.</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h4>When your projects demand the quality and the care only a professional can give, you’ll find our providers are up to the challenge.</h4>
			<p><strong>US</strong>TECH<strong>LAND</strong> is a job platform for people and businesses to post and assign jobs and/or projects, and for independent contractors and businesses to find jobs and projects.   Our platform facilitates fast communication, secure payment, and around-the-clock support, so you can get what you need done or find the right job tuned to your skills, whether you are a Buyer or a Provider. No matter what your project may be, no matter where you are, our talented professionals are waiting for the call. Think of us as your personal traveling helpdesk, or your omniscient IT department, or your business emergency number. See what instantaneous services can do for you.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">			
			<h2 class="page-header"><i class="fa fa-cog"></i>&nbsp;How does the Platform work?</h2>
			<p>“By finding the right people, for the right job.”</p>
			<p>Our network of freelance professionals covers the nation from coast to coast, providing businesses and organizations with the talent and expertise they need, instantaneously, at the click of a button. By logging into our platform, either via our website, or through the App, you are able to manage all your projects, post new projects, and search for providers that fit the requirements for your project.  Our platform includes the ability to communicate directly with your chosen provider through our in-house messaging system, the ability to share files and images, and monitor or close existing projects with the touch of a button.  Everything you need to do business through the platform is available. </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header"><i class="fa fa-money"></i>&nbsp;How do Payments work?</h2>
			<p>“You set the price.   We’ll take care of everything else.”</p>
			<p>No matter how big or small your project is, or how big or small your budget is, when using our platform, YOU set the price for the job or project.  All projects are equally important, no matter the size.  As long as you have funds deposited on your account, you can freely post projects or jobs of any size or magnitude at whatever price point you wish. More information about Payments can be found <a href="{{pathFor 'payments'}}">here.</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header"><i class="fa fa-money"></i>&nbsp;How do I decide whether to trust my Buyer or Provider?</h2>
			<p>“At <strong>US</strong>TECH<strong>LAND</strong>, we take the trust between our users seriously.”</p>
			<p><strong>US</strong>TECH<strong>LAND</strong> uses a ratings system where users can leave recommendations, comments and reviews for other Users within the platform.   By researching our platform’s users, you can make better informed decisions on which user you would like to choose as your client or partner. In regards to Providers, in addition to the above mentioned, we personally screen and review current and prospective Provider’s resumes, work experience, background, qualifications and certifications, references, and communicate with them on a personal basis.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header"><i class="fa fa-user"></i>&nbsp;Our Customer Service</h2>
			<p>“We stand by our customers.  We listen and we solve.”</p>
			<p>Your satisfaction is important.  To that end, our Customer Service Department will always be on the call 24 hours a day, 7 days a week, rain or shine, no matter what.   
				Our Customer Service representatives are eager to answer and solve any questions or problems you may field to us.  We want to make sure your experience at <strong>US</strong>TECH<strong>LAND</strong> is as free of complications as our mission statement. </p><p> We’ll help you set up your User account, your payment system, guide you through our employment platform, and any accommodate with any other business related needs you may have.  We are also open to any comments or suggestions.  We want to hear from you.    Our platform has a customer service option where our representatives await for any of your potential needs.   Send a request to us through the Support Desk section of our website (or through the app) and our representatives will be with you as quickly as possible.</p><p>
				Additionally you can contact our Customer Support Department by calling our Customer Support Line at:
				: (Insert Number Here)
				Or through our Customer Support Email at :
				(insert e-mail here)
			</p>
		</div>
	</div>
</template>