<template name="howItWorks">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="http://placehold.it/1200x300" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">It’s your own personal 24/7 helpdesk, ready for you, no matter where you are.</h3>
				<p>When your projects demand the quality and the care only a professional can give, you’ll find our providers are up to the challenge. </p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
			</div>
			<div class="col-md-6">
				<h2>How does the Platform work?</h2>
				<p>“By finding the right people, for the right job.”</p>
				<p>By logging into our platform, either via our website, or through the App, you are able to manage all your projects, post new projects, and search for providers that fit the requirements for your project.  Our platform includes the ability to communicate directly with your chosen provider through our in-house messaging system, the ability to share files and images, and monitor or close existing projects with the touch of a button.  Everything you need to do business through the platform is available. </p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h2>How do Payments work?</h2>
				<p>“You set the price.   We’ll take care of everything else.”</p>

				<p>No matter how big or small your project is, or how big or small your budget is, when using our platform, YOU set the price for the job or project.  All projects are equally important, no matter the size.  As long as you have funds deposited on your account, you can freely post projects or jobs of any size or magnitude at whatever price point you wish. More information about Payments can be found <a href="{{pathFor 'payments'}}">here.</a>
				</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
			</div>
			<div class="col-md-6">

				<h2>Our Customer Service</h2>
				<p>“We stand by our customers.  We listen and we solve.”</p>

				<p>Your satisfaction is important.  To that end, our Customer Service Department will always be on the call 24 hours a day, 7 days a week, rain or shine, no matter what.   
					Our Customer Service representatives are eager to answer and solve any questions or problems you may field to us.  We want to make sure your experience at USTechland is as free of complications as our mission statement. </p><p> We’ll help you set up your User account, your payment system, guide you through our employment platform, and any accommodate with any other business related needs you may have.  We are also open to any comments or suggestions.  We want to hear from you.    Our platform has a customer service option where our representatives await for any of your potential needs.   Send a request to us through the Support Desk section of our website (or through the app) and our representatives will be with you as quickly as possible.</p><p>
					Additionally you can contact our Customer Support Department by calling our Customer Support Line at:
					: (Insert Number Here)
					Or through our Customer Support Email at :
					(insert e-mail here)
				</p>

			</div>
		</div>
	</div>
</template>