<template name="payments">
	<!-- <div class="jumbotron">
		<h1>Instantaneous, professional services, without the long price tag.</h1>
		<p>When it comes to starting and completing projects, you're the boss.</p>
		<p>You set the project, you set the standards, and you set the price. At UTL, you have all the control. Whether you choose to pay a one-time fee, or pay by the hour, you get to set the price for the project.</p>
		<p>Compared to our freelance marketplace competitors, UTL charges only 5% per transaction. Post your projects with the confidence of our on-demand services without denting your budget.</p>
	</div> -->
	<div class="row">
		<div class="col-sm-12">
			<div class="gradient-blue-orange-h"></div>
			<div id="staticPageIntro" class="gradient-red-orange-h">
				<h2 class="white">Pricing and Payments</h2>
				<p>Instantaneous, professional services, without the long price tag.</p>				
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h4>When it comes to starting and completing projects, you're the boss.	You set the project, you set the standards, and you set the price. At UTL, you have all the control.</h4>
			<p>Whether you choose to pay a one-time fee, or pay by the hour, you get to set the price for the project.Compared to our freelance marketplace competitors, UTL charges only 5% per transaction. Post your projects with the confidence of our on-demand services without denting your budget.</p>
		</div>
	</div>
	<hr>
</template>