<template name="payments">
	<ol class="breadcrumb">
		<li>
			<a href="{{pathFor 'home'}}">Home</a>
		</li>
		<li class="active">Pricing</li>
	</ol>
	<div class="jumbotron">
		<div class="container">
			<h1>Instantaneous, professional services, without the long price tag.</h1>
			<p>When it comes to starting and completing projects, you're the boss.</p>
			<p>You set the project, you set the standards, and you set the price. At UTL, you have all the control. Whether you choose to pay a one-time fee, or pay by the hour, you get to set the price for the project.</p>
			<p>Compared to our freelance marketplace competitors, UTL charges only 5% per transaction. Post your projects with the confidence of our on-demand services without denting your budget.</p>
		</div>
	</div>
</template>