<template name="providerBenefits">
	<div class="row">
		<div class="col-sm-12">
			<div id="staticPageIntro" class="gradient-red-orange-h">
				<h2 class="white">Provider Benefits</h2>
				<p>Find the best client. Finish your client’s project. Get paid and rated. All in four steps.</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquam, officiis inventore sed ducimus, vitae. Soluta libero maiores nostrum consectetur veritatis non mollitia dolorum at quibusdam totam delectus, dolores deserunt.</h4>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-check"></i>1- Find Projects</h5>
				</div>
				<div class="panel-body">
					<p>Find a project based on your preferences. </p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-gift"></i>2- Apply</h5>
				</div>
				<div class="panel-body">
					<p>Find the project you like that’s suited to your expertise.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-compass"></i>3 - Achieve</h5>
				</div>
				<div class="panel-body">
					<p> Work together with your client using our platform. Keep updated on your progress, with our web platform and App.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-fw fa-compass"></i>4 - Get Paid.</h5>
				</div>
				<div class="panel-body">
					<p>A job well done is money well spent. Receive payment through our secure payment system, and get good ratings and references for your work.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">How Does USTechland’s Platform Benefit Me?</h2>
		</div>
		<div class="col-md-12">
			<h4>“By finding the right client for your expertise.”</h4>
			<p>In this economy, the rise of the self-employed worker is quickly becoming the norm.  Companies no longer prefer to hire long term employees; instead companies prefer to hire a one-time workforce for a short-term project.   Finding potential clients that are looking for your specific skill set can often be difficult. At USTechland, our mission is to help you quickly get signed up with a potential client in the shortest amount of time possible.   Because no matter what direction the market may swing, your IT skills will always be in demand.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Why choose USTechland?</h2>
		</div>
		<div class="col-md-12">
			<h4> “Because we help you get paired with clients, at a lower cost.”</h4>
			<p>Compared to our other competitors such as Workmarket and FieldNation, our job searching platform is just as easy to access and use, while making you keep more of your payments, whenever you go out into the field and complete a job.In addition, USTechland, for a nominal fee, will provide you insurance whenever you go out onto a job site, if you choose. </p>
			<p> We require all our providers to have insurance. Searching our database for clients is easy.  All you need to do is select a field of IT services that you specialize in, enter in the preferred location you wish to work, and our database will retrieve any and all job postings relevant to your search. When you do many jobs successfully and your Buyer rating goes up, you will be featured on our Featured Provider list. Your skills will be in very high demand.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">How does the Platform work?</h2>
		</div>
		<div class="col-md-12">
			<h4>“By making the interface simple and easy to use.”</h4>
			<p>By logging into our platform, either via our website, or through the App, you are able to manage all your projects, post new projects, and search for providers that fit the requirements for your project.  Our platform includes the ability to communicate directly with your chosen provider through our in-house messaging system, the ability to share files and images, and monitor or close existing projects with the touch of a button.  Everything you need to do business through the platform is available.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Our Customer Service:</h2>
		</div>
		<div class="col-md-12">
			<h4>“We stand by our customers. We listen and we solve.”</h4>
			<p>Your satisfaction is important.  To that end, our Customer Service Department will always be on the call 24 hours a day, 7 days a week, rain or shine, no matter what. Our Customer Service representatives are eager to answer and solve any questions or problems you may field to us.  We want to make sure your experience at USTechland is as free of complications as our mission statement.  We’ll help you set up your User account, your payment system, guide you through our employment platform, and any accommodate with any other business related needs you may have.  We are also open to any comments or suggestions.  We want to hear from you. Our platform has a customer service option where our representatives await for any of your potential needs.   Send a request to us through the Support Desk section of our website (or through the app) and our representatives will be with you as quickly as possible.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class="container">
					<h1>Customer Support</h1>
					<p>You can contact our Customer Support Department by calling our Customer Support Line at 732-272-0053, or through our customer support email at helpdesk@ustechland.com.</p>
					<p>We are open to any customer questions, feedback and suggestions. Feel free to give us a call or send an email at any time.</p>
					<p>
						<a class="btn btn-primary btn-lg">Contact Us</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">So in short, what do I get?</h2>
		</div>
		<div class="col-md-12">
			<h4>Here is a list of benefits you receive when signing up on our platform:</h4>
			<ul>
				<li>Sign up for an account at no charge.</li>
				<li>Instant work assignments.</li>
				<li>An easy-to-access interface.</li>
				<li>A streamlined work order system.</li>
				<li>24/7 Help Desk and Support.</li>
				<li>A secure payment system.</li>
				<li>A convenient communication platform with a message board, and messaging system.</li>
				<li>An accessible and Mobile App when you're on the move.</li>
				<li>Detailed Buyer profiles and ratings.</li>
			</ul>
		</div>
	</div>
</template>