<template name="SignUp">
    <div class="container">
        <div class="row clearfix">
            <div class="column">
                <form class="form-horizontal" id="signup-form">
                    <fieldset>
                        <legend>Sign Up</legend>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email</label>
                            <div class="col-md-4">
                                <input id="email" name="email" placeholder="email address" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="password">Password</label>
                            <div class="col-md-4">
                                <input id="password" name="password" placeholder="password" class="form-control input-md" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>
                            <div class="col-md-4">
                                <input id="confirmPassword" name="confirmPassword" placeholder="confirm password" class="form-control input-md" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Account Type</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12" style="">
                                        <div class="radio">
                                            <label>
                                                <input class="type" name="type" type="radio" value="buyer">I am a buyer. I want to post jobs and hire service providers. <a href="{{pathFor 'buyerBenefits'}}">Read more.</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label>
                                                <input class="type" name="type" type="radio" value="provider">I am a service provider. I want to find jobs and connect with buyers. <a href="{{pathFor 'providerBenefits'}}">Read more.</a>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="radio">
                                            <label>
                                                <input class="type" name="type" type="radio" value="corporate-admin">I want a corporate account. <a href="{{pathFor 'corporateAccounts'}}">Read more.</a>
                                            </label><br><br>
                                            <label class="company-name">
                                                <input type="text" placeholder="Enter company name" class="form-control input-md txt-company-name" required>
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="button1id"></label>
                            <div class="col-md-8">
                                <input type="submit" class='signup-submit btn btn-primary' value="Submit" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</template>
