<template name="SignUp">
    <div id="homePageIntro" class="container-fluid gradient-blue-orange-h">
        
    </div>
    <div class="jumbotron jumbotron-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="white">Connect. Collaborate. Coacheive.</h2>
                    <p>
                        Pairing business and savvy professionals across USA, together to get the job done.
                        <br>A simple and precise platform to manage work, workforce and payments.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <form class="form-horizontal" id="signup-form">
                                <fieldset>
                                    <legend>Sign Up</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="email" name="email" placeholder="Email" class="form-control input-md" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="password" name="password" placeholder="Password" class="form-control input-md" type="password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="confirmPassword" name="onfirmPassword" placeholder="Confirm Password" class="form-control input-md" type="password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12" style="">
                                                    <div class="radio">
                                                        <label>
                                                            <input class="type" name="type" type="radio" value="buyer">I am a buyer. I want to post jobs and hire service providers. <a href="{{pathFor 'buyerBenefits'}}">Read more.</a>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="radio">
                                                        <label>
                                                            <input class="type" name="type" type="radio" value="provider">I am a service provider. I want to find jobs and connect with buyers. <a href="{{pathFor 'providerBenefits'}}">Read more.</a>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr>
                                                    I have read and agree to the <a href="/terms">Terms and Conditions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <input type="submit" class='btn btn-sm btn-primary' value="Agree &amp; Continue" />
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</template>
