<template name="compose">
    <div class="row m-t-md">
        <div class="col-md-12">
            <div class="row mailbox-header">
                <div class="col-md-2">
                    <a href="{{pathFor 'mailBox' tab='mails'}}" class="btn btn-success btn-block">Back to Inbox</a>
                </div>
                <div class="col-md-6">
                    <h2>Compose</h2>
                </div>
                <div class="col-md-4">
                    <div class="compose-options">
                        <div class="pull-right">
                            <a href="{{pathFor 'mailBox' tab='mails'}}" class="btn btn-danger"><i class="fa fa-trash m-r-xs"></i>Discard</a>
                            <button class="btn btn-success" id="sendMail"><i class="fa fa-send m-r-xs"></i>Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {{>msgSideMenu}}
        </div>
        <div class="col-md-10">
            <div class="mailbox-content">
                <div class="compose-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            {{#if $eq type 'newaccmsg'}}
                                <label for="recipient" class="col-sm-2 control-label">Recipient</label>
                            {{else}}
                                {{#if $eq type 'newdismsg'}}
                                    <label for="recipient" class="col-sm-2 control-label">Recipient</label>
                                {{else}}
                                    {{#if $eq type 'newpromsg'}}
                                        <label for="recipient" class="col-sm-2 control-label">Recipient</label>
                                    {{else}}
                                        {{#if $eq type 'newbyrmsg'}}
                                            <label for="recipient" class="col-sm-2 control-label">Recipient</label>
                                        {{else}}
                                            <label for="subject" class="col-sm-2 control-label">Subject</label>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            <div class="col-sm-10">
                                {{#if $eq type 'newfwd'}}                                    
                                    <select class="form-control" id="project">
                                        <option value="">Select project</option>
                                        {{#each projectList}}
                                            <option value="{{id}}">{{title}}</option>
                                        {{/each}} 
                                    </select> 
                                {{/if}}
                                {{#if $eq type 'newrep'}}
                                    <input type="text" disabled class="form-control" id="project" value="{{parentSub}}">
                                {{/if}}
                                {{#if $eq type 'new'}}
                                    <select class="form-control" id="project">
                                        <option value="">Select project</option>
                                        {{#each projectList}}
                                            <option value="{{id}}">{{title}}</option>
                                        {{/each}} 
                                    </select> 
                                {{/if}}
                                {{#if $eq type 'newapm'}}
                                    <input type="text" disabled class="form-control" id="project" value="{{messageJobId}}">
                                {{/if}}
                                {{#if $eq type 'newpbm'}}
                                    <input type="text" disabled class="form-control" id="project" value="{{messageJobId}}">
                                {{/if}}
                                {{#if $eq type 'newcsm'}}
                                    <input type="text" disabled class="form-control" id="project" value="{{messageJobId}}">
                                {{/if}}
                                {{#if $eq type 'newaccmsg'}}
                                    {{#with accRecipient}}
                                        <select id="recipient" class="form-control" disabled="disabled">
                                            <option value="{{accUserId}}">{{accName}}</option>
                                        </select>
                                        <!-- <input type="text" disabled class="form-control" id="recipient" value="{{accUserId}}"> -->
                                    {{/with}}
                                {{/if}}
                                {{#if $eq type 'newdismsg'}}
                                    {{#with disRecipient}}
                                        <select id="recipient" class="form-control" disabled="disabled">
                                            <option value="{{disUserId}}">{{disName}}</option>
                                        </select>
                                        <!-- <input type="text" disabled class="form-control" id="recipient" value="{{disUserId}}"> -->
                                    {{/with}}
                                {{/if}}
                                {{#if $eq type 'newpromsg'}}
                                    {{#with proRecipient}}
                                        <select id="recipient" class="form-control" disabled>
                                            <option value="{{proUserId}}">{{proName}}</option>
                                        </select>
                                    {{/with}}
                                {{/if}}
                                {{#if $eq type 'newbyrmsg'}}
                                    {{#with byrRecipient}}
                                        <select id="recipient" class="form-control" disabled>
                                            <option value="{{byrUserId}}">{{byrName}}</option>
                                        </select>
                                    {{/with}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{#if $eq type 'newaccmsg'}}
                                <label for="subject" class="col-sm-2 control-label">Subject</label>
                            {{else}}
                                {{#if $eq type 'newdismsg'}}
                                    <label for="subject" class="col-sm-2 control-label">Subject</label>
                                {{else}}
                                    {{#if $eq type 'newpromsg'}}
                                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                                    {{else}}
                                        {{#if $eq type 'newbyrmsg'}}
                                            <label for="subject" class="col-sm-2 control-label">Subject</label>
                                        {{else}}
                                            <label for="to" class="col-sm-2 pull-left control-label">Recipient</label>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}                            
                            <div class="col-sm-10">
                                {{#if $eq type 'newrep'}}                                    
                                    <select disabled id="recipient" class="form-control">
                                        {{#with parentUser}}
                                            <option value="{{parentUserId}}">{{firstName}} {{lastName}}</option>
                                        {{/with}}
                                    </select>
                                {{/if}}
                                {{#if $eq type 'new'}}
                                    <select class="form-control" id="recipient">
                                        {{#each userList}}
                                            <option value="{{id}}">{{firstName}} {{lastName}}</option>
                                        {{/each}}
                                    </select>
                                {{/if}}
                                {{#if $eq type 'newfwd'}}
                                    <select class="form-control" id="recipient">
                                        {{#each userList}}
                                            <option value="{{id}}">{{firstName}} {{lastName}}</option>
                                        {{/each}}
                                    </select>
                                {{/if}}
                                {{#if $eq type 'newapm'}}
                                    <select disabled id="recipient" class="form-control">
                                        {{#with assignedProvider}}
                                            <option value="{{userId}}">{{firstName}} {{lastName}}</option>
                                        {{/with}}
                                    </select>
                                {{/if}}
                                {{#if $eq type 'newpbm'}}
                                    <select disabled id="recipient" class="form-control">
                                        {{#with postedBuyer}}
                                            <option value="{{userId}}">{{firstName}} {{lastName}}</option>
                                        {{/with}}
                                    </select>
                                {{/if}}
                                {{#if $eq type 'newcsm'}}
                                    <select disabled id="recipient" class="form-control">
                                        {{#with adminDetails}}
                                            <option value="{{userId}}">{{firstName}} {{lastName}}</option>
                                        {{/with}}
                                    </select>
                                {{/if}}
                                {{#if $eq type 'newaccmsg'}}
                                    <input type="text" id="subject" class="form-control">
                                {{/if}}
                                {{#if $eq type 'newdismsg'}}
                                    <input type="text" id="subject" class="form-control">
                                {{/if}}
                                {{#if $eq type 'newpromsg'}}
                                    <input type="text" id="subject" class="form-control">
                                {{/if}}
                                {{#if $eq type 'newbyrmsg'}}
                                    <input type="text" id="subject" class="form-control">
                                {{/if}}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="compose-message">
                    <div id="summernote">
                        {{#if $eq type 'newfwd'}}
                            {{{parentMsg}}}
                        {{/if}}
                    </div>
                </div>
                {{#if thread}} 
                	<br>
                	<hr>
	                {{#each message}}
		                <div class="row">
		                    <div class="col-md-12">
		                        <div class="mailbox-content">
		                            <div class="message-header" style="background-color: aliceblue;padding: 10px;">
		                                <p style="float: left;">from: {{username}}</p>
		                                <p class="message-date">{{date}}</p>
		                            </div>
		                            <div class="message-content">
		                                {{{content}}}
		                            </div>
		                            {{#if attachment}}
		                            <div class="message-attachments">
		                                <p><i class="fa fa-paperclip m-r-xs"></i>2 Attachments - <a href="#">View all</a> | <a href="#">Download all</a></p>
		                                <div class="message-attachment">
		                                    <a href="#">
		                                        <div class="attachment-content">
		                                            <img src="assets/images/attachment1.jpg" alt="">
		                                        </div>
		                                        <div class="attachment-info">
		                                            <p>Attachment1.jpg</p>
		                                            <span>444 KB</span>
		                                        </div>
		                                    </a>
		                                </div>
		                            </div>
		                            {{/if}}
		                        </div>
		                    </div>
		                </div>
	                {{/each}} 
                {{/if}}
                <div class="form-group">
                    <div class="input-group">
                        <label class="btn btn-success">
                            <input type="file" class="file_bag" multiple=true> Upload Documents
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">  
            <div id="spinner">
                {{> spinner}}
            </div>              
            <ul class="fileList" style="list-style-type: none;">            
                {{#each files}}
                    <li><i class="fa fa-times-circle remove-msg-file" data-url="{{this}}" aria-hidden="true" title="Remove" style="cursor: pointer;"></i> <a href="{{this}}" target="_blank">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
