<template name="mails">
    <div class="row m-t-md">
        <div class="col-md-12">
            <div class="row mailbox-header">
                <div class="col-md-2">
                    <a href="{{pathFor 'mailBox' tab='new'}}" class="btn btn-success btn-block">Compose<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </div>
                <div class="col-md-6">
                    <h2 style="margin-top: 0px;font-weight: 100;margin-left: 10px;">Messages</h2>
                </div>
                <div class="col-md-4">
                    <form action="#" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control input-search" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- Input Group -->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        	{{>msgSideMenu}}
        </div>
        <div class="col-md-10">
            <div class="mailbox-content">
                {{#if $eq type 'sent'}}
                    <div class="pull-right"><i class="fa fa-stop" style="color: #EEEAFF;font-size: 25px;"></i> Unread Message</div>
                {{/if}}
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        {{#each msgList}}
                		    <tr class="{{#if $eq read false}}read{{else}}unread{{/if}} msg" data-id="{{_id}}">
                		        <td class="hidden-xs">
                		            {{username}}
                		        </td>
                		        <td style="text-align: left;">
                		            {{subject}}
                		        </td>
                		        <td>
                		        	{{#if attachment}}
                		            <i class="fa fa-paperclip"></i>
                		            {{/if}}
                		        </td>
                		        <td>
                		            {{date}}
                		        </td>
                		    </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
