<template name="mails">
    <div class="row m-t-md">
        <div class="col-md-12">
            <div class="row mailbox-header">
                <div class="col-md-2">
                    <a href="{{pathFor 'mailBox' tab='new'}}" class="btn btn-success btn-block">Compose<span style="margin-left:10px;" class="fa fa-envelope"></span></a>
                </div>
                <div class="col-md-6">
                    <h2 style="margin-top: 0px;font-weight: 100;margin-left: 10px;">Messages</h2>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        	{{>msgSideMenu}}
        </div>
        <div class="col-md-10">
            <div class="mailbox-content">
                {{>ReactiveDatatable tableData=msgList options=msgListOptionsObject}}
            </div>
        </div>
    </div>
</template>
