<template name="messages">
	<div class="panel panel-chat">
		<!-- <div class="panel-heading">
			{{#if jobSelected}}
				{{#with jobDetails}}
					<h4>#{{readableID}} - {{title}}</h4>
				{{/with}}
			{{/if}}
			{{#if userSelected}}
				{{#with userDetails}}
					<h4>
						#{{readableID}} - {{firstName}} {{lastName}}
						&nbsp;
						{{#if userOnline userId}}
	                        <i class="fa fa-circle fa-online"></i>
	                    {{else}}
	                    	<i class="fa fa-circle fa-offline"></i>
	                    {{/if}}
					</h4>
				{{/with}}
			{{/if}}
		</div> -->
		<div class="panel-body message-history-body" id="style-1">
			<div class="chat-background"></div>
			<div class="chat-messages">
				{{#if jobSelected}}
					{{#each messages}}
						{{>message}}
					{{/each}}
				{{/if}}
				{{#if userSelected}}
					{{#each userMessages}}
						{{>message}}
					{{/each}}
				{{/if}}
			</div>
		</div>
		{{#if jobSelected}}
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<div class="input-group">
								<label class="btn btn-white btn-sm">
									<input type="file" class="attach_documents"><i class="fa fa-paperclip fa-2x"></i>
								</label>
							</div>
						</div>
					</div>
					<div class="col-sm-10">
						<textarea class="form-control" name="message-text" id="message-text" rows="1" placeholder="Type And Press Enter"></textarea>
					</div>
				</div>
			</div>
		{{/if}}
		{{#if userSelected}}
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<div class="input-group">
								<label class="btn btn-white btn-sm">
									<input type="file" class="user_documents"><i class="fa fa-paperclip fa-2x"></i>
								</label>
							</div>
						</div>
					</div>
					<div class="col-sm-10">
						<textarea class="form-control" name="user-text" id="user-text" rows="1" placeholder="Type And Press Enter"></textarea>
					</div>
				</div>
			</div>
		{{/if}}
		<div class="row">
			<div class="col-md-12">
                <div id="spinner" hidden>
                    {{>spinner}}
                </div>
            </div>
		</div>
	</div>
</template>