<!-- <template name="message">	
    <div class="row m-t-md">
        <div class="col-md-12">
            <div class="row mailbox-header">
                <div class="col-md-2">
                    <a href="{{pathFor 'mailBox' tab='new' }}"  class="btn btn-success btn-block">Compose</a>
                </div>
                <div class="col-md-6">
                    <h2>View Message</h2>
                </div>
                <div class="col-md-4">
                    <div data-id="{{parentID}}" class="message-options pull-right">
                       <a href="compose.html" class="btn btn-default reply"><i class="fa fa-reply m-r-xs"></i>Reply</a> 
                       <a href="#" class="btn btn-default forward"><i class="fa fa-arrow-right m-r-xs"></i>Forward</a> 
                       <a href="#" class="btn btn-danger delete-msg"><i class="fa fa-trash m-r-xs"></i>Delete</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {{>msgSideMenu}}
        </div>
        <div class="col-md-10">
            {{#each message}}
                <div class="mailbox-content">
                    {{#if $eq parentID _id}}
                        <div class="message-header" style="background-color: aliceblue;padding: 10px;">
                            <h3>{{subject}}</h3>
                            <p class="message-date">{{date}}</p>
                        </div>
                        <div class="message-sender">
                            <p>from: {{firstName}} {{lastName}}</p>
                        </div>
                    {{else}}
                        <div class="message-header" style="background-color: aliceblue;padding: 10px;">
                            <p style="float: left;">from: {{firstName}} {{lastName}}</p>
                            <p class="message-date">{{date}}</p>
                        </div>
                    {{/if}}
                    <div class="message-content">
                        {{{content}}}
                        {{#if files}}
                            <hr>
                            <h4>Attachments</h4>
                            {{#each files}}
                                <a href="{{this.file_url}}" download><i class="fa fa-download"></i> {{this.file_name}}</a><br>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template> -->

<template name="message">
    <div class="message_container_base">
        <div class="message_container">
            <div class="row msg_container {{#if $eq sender $.Meteor.userId}} base_sent {{else}} base_receive {{/if}}">
                {{#if $eq sender $.Meteor.userId}}
                    <div class="col-md-11 col-xs-11">
                        <div class="messages msg_sent">
                            {{#if text}}
                                <p>{{text}}</p>
                            {{else}}
                                {{#if file}}
                                    <p><a href="{{file.fileUrl}}" download><i class="fa fa-download"></i> {{file.fileName}}</a></p>
                                {{/if}}
                            {{/if}}
                            <time>{{messageTime time}}</time>
                        </div>
                    </div>
                    <div class="avatar">
                        <img src="{{#if $.Meteor.user.imgURL}}{{$.Meteor.user.imgURL}}{{else}}/images/avatar.png{{/if}}" class="img img-responsive">
                    </div>
                {{else}}
                    <div class="avatar">
                        {{#if senderImgUrl sender}}
                            <img src="{{senderImgUrl sender}}" alt="" class="img img-responsive">
                        {{else}}
                            <img src="/images/avatar.png" class="img img-responsive">
                        {{/if}}
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <div class="messages msg_sent">
                            {{#if text}}
                                <p>{{text}}</p>
                            {{else}}
                                {{#if file}}
                                    <p><a href="{{file.fileUrl}}" download><i class="fa fa-download"></i> {{file.fileName}}</a></p>
                                {{/if}}
                            {{/if}}
                            <time>{{messageTime time}}</time>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>