<template name="messages">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{#if jobSelected}}
				{{#with jobDetails}}
					<h4>#{{readableID}} - {{title}}</h4>
				{{/with}}
			{{/if}}
			{{#if userSelected}}
				{{#with userDetails}}
					<h4>
						#{{readableID}} - {{firstName}} {{lastName}}
						&nbsp;
						{{#if userOnline userId}}
	                        <i class="fa fa-circle fa-online"></i>
	                    {{else}}
	                    	<i class="fa fa-circle fa-offline"></i>
	                    {{/if}}
					</h4>
				{{/with}}
			{{/if}}
		</div>
		<div class="panel-body message-history-body" id="style-1">
			{{#if jobSelected}}
				{{#each messages}}
					{{>message}}
				{{/each}}
			{{/if}}
			{{#if userSelected}}
				{{#each userMessages}}
					{{>message}}
				{{/each}}
			{{/if}}
		</div>
		{{#if jobSelected}}
			<div class="panel-footer">
				<div class="form-group">
					<textarea class="form-control" name="message-text" id="message-text" rows="2" placeholder="Type And Press Enter"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label"></label>
					<div class="input-group">
						<label class="btn btn-primary btn-sm">
							<input type="file" class="attach_documents"> Upload New
						</label>
					</div>
				</div>
			</div>
		{{/if}}
		{{#if userSelected}}
			<div class="panel-footer">
				<div class="form-group">
					<textarea class="form-control" name="user-text" id="user-text" rows="2" placeholder="Type And Press Enter"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label"></label>
					<div class="input-group">
						<label class="btn btn-primary btn-sm">
							<input type="file" class="user_documents"> Upload New
						</label>
					</div>
				</div>
			</div>
		{{/if}}
		<div class="row">
			<div class="col-md-12">
                <div id="spinner" hidden>
                    {{>spinner}}
                </div>
            </div>
		</div>
	</div>
</template>