<template name="dashboard">
    {{#if isInRole 'buyer, dispatcher'}}
        <div class="row">
            <div class="col-md-4">
                <label>Recent Conversations</label>
                <div class="panel panel-default">
                    <div class="panel-body message-notifications">
                        <div class="notifications-wrapper" id="style-1">
                            {{#each messageNotifications}}
                                <div class="notification-item">
                                    {{#if jobId}}
                                        {{#with channelJob jobId}}
                                            <a href="{{pathFor 'job'}}" class="budgetFont mark-job-msg-read" data-job-id="{{_id}}">
                                                {{title}}
                                                {{#if unreadJobMessages ../_id}}
                                                    <br>
                                                    <small><i class="mark-job-msg-read" data-job-id="{{_id}}">{{unreadJobMessages ../_id}} new messages</i></small>
                                                {{/if}}
                                            </a>
                                        {{/with}}
                                    {{else}}
                                        {{#with otherUser participants}}
                                            {{#if $eq userRole 'provider'}}
                                                <a href="{{pathFor 'profile'}}" class="budgetFont mark-message-read" data-other-user="{{userId}}">
                                                    {{firstName}} {{lastName}}
                                                    {{#if userOnline userId}}
                                                        &nbsp;<i class="fa fa-circle"></i>
                                                    {{else}}
                                                        &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                    {{/if}}
                                                    {{#if unreadMessages ../_id}}
                                                        <br>
                                                        <small><i class="mark-message-read" data-other-user="{{userId}}">{{unreadMessages ../_id}} new messages</i></small>
                                                    {{/if}}
                                                </a>
                                            {{/if}}
                                            {{#if $eq userRole 'dispatcher'}}
                                                <a href="{{pathFor 'dispatcher'}}" class="budgetFont mark-message-read" data-other-user="{{userId}}">
                                                    {{firstName}} {{lastName}}
                                                    {{#if userOnline userId}}
                                                        &nbsp;<i class="fa fa-circle"></i>
                                                    {{else}}
                                                        &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                    {{/if}}
                                                    {{#if unreadMessages ../_id}}
                                                        <br>
                                                        <small><i class="mark-message-read" data-other-user="{{userId}}">{{unreadMessages ../_id}} new messages</i></small>
                                                    {{/if}}
                                                </a>
                                            {{/if}}
                                            {{#if $eq userRole 'accountant'}}
                                                <a href="{{pathFor 'accountant'}}" class="budgetFont">
                                                    {{firstName}} {{lastName}}
                                                    {{#if userOnline userId}}
                                                        &nbsp;<i class="fa fa-circle"></i>
                                                    {{else}}
                                                        &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                    {{/if}}
                                                    {{#if unreadMessages ../_id}}
                                                        <br>
                                                        <small><i class="mark-message-read" data-other-user="{{userId}}">{{unreadMessages ../_id}} new messages</i></small>
                                                    {{/if}}
                                                </a>
                                            {{/if}}
                                        {{/with}}
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <label>Important Notifications &amp; Todos</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{>notifications}}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-4">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#buyerAssigned" aria-controls="buyerAssigned" role="tab" data-toggle="tab">ASGN'D JOBS</a>
                        </li>
                        <li role="presentation">
                            <a href="#buyerAllUsers" aria-controls="buyerAllUsers" role="tab" data-toggle="tab">USERS</a>
                        </li>
                        <li role="presentation">
                            <a href="#recentChats" aria-controls="recentChats" role="tab" data-toggle="tab">RECENT CONV.</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="buyerAssigned">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    <ul class="nav mailbox-nav">
                                        {{#each userChannels}}
                                            {{#with channelJob jobId}}
                                                <li>
                                                    <a href="{{pathFor 'dashboard'}}/?jobId={{_id}}" class="mark-job-msg-read" data-job-id="{{_id}}">
                                                        {{#if unreadJobMessages ../_id}}
                                                            <span class="pull-right badge">{{unreadJobMessages ../_id}}</span>
                                                        {{/if}}
                                                        <small><i>#{{readableID}}</i></small>
                                                        <p class="budgetFont">{{title}}</p>
                                                    </a>
                                                </li>
                                            {{/with}}
                                        {{else}}
                                            <p>There are no job related channels right now.</p>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="buyerAllUsers">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    {{>ReactiveDatatable tableData=allUsers options=allUserOptions}}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="recentChats">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    <ul class="nav mailbox-nav">
                                        {{#each userChats}}
                                            {{#with otherUser participants}}
                                                <li>
                                                    <a href="{{pathFor 'dashboard'}}/?userId={{this.userId}}" class="mark-message-read" data-other-user="{{userId}}">
                                                        {{#if unreadMessages ../_id}}
                                                            <span class="pull-right badge badge-default">
                                                                {{unreadMessages ../_id}}
                                                            </span>
                                                        {{/if}}
                                                        <small><i>#{{readableID}}</i></small>
                                                        <p class="budgetFont">
                                                            {{firstName}} {{lastName}}
                                                            &nbsp;
                                                            {{#if userOnline userId}}
                                                                &nbsp;<i class="fa fa-circle"></i>
                                                            {{else}}
                                                                &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                            {{/if}}
                                                        </p>
                                                    </a>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a aria-controls="home" role="tab" data-toggle="tab">DISCUZ</a>
                        </li>
                    </ul>
                    <br>
                </div>
                {{#if jobSelected}}
                    {{>messages}}
                {{else}}
                    {{#if userSelected}}
                        {{>messages}}
                    {{else}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Select an assigned job from the left panel and you can discuss directly with the corresponding assigned provider.</p>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div> -->
        <!-- <div class="row">
            {{#with myProfile}}
                <div class="col-md-4">
                    <label>You are</label>
                    {{#if isInRole 'buyer'}}
                        {{>buyerSmall}}
                    {{/if}}
                    {{#if isInRole 'dispatcher'}}
                        {{>dispatcherSmall}}
                    {{/if}}
                </div>
            {{/with}}
        </div> -->
        <!-- <div class="row">
            <div class="col-xs-12">
                <h4>Scheduled Dates of Assigned Jobs</h4>
                <hr>
                {{>buyerCalendar}}
            </div>
        </div> -->
    {{/if}}
    {{#if isInRole 'provider'}}
        <div class="row">
            <div class="col-md-4">
                <label>Recent Conversations</label>
                <div class="panel panel-default">
                    <div class="panel-body message-notifications">
                        {{#each messageNotifications}}
                            <div class="notification-item">
                                {{#if jobId}}
                                    {{#with channelJob jobId}}
                                        <a href="{{pathFor 'job'}}" class="budgetFont">
                                            {{title}}
                                            {{#if unreadJobMessages ../_id}}
                                                <br>
                                                <small><i>{{unreadJobMessages ../_id}} new messages</i></small>
                                            {{/if}}
                                        </a>
                                    {{/with}}
                                {{else}}
                                    {{#with otherUser participants}}
                                        {{#if $eq userRole 'buyer'}}
                                            <a href="{{pathFor 'buyer'}}" class="budgetFont">
                                                {{firstName}} {{lastName}}
                                                {{#if userOnline userId}}
                                                    &nbsp;<i class="fa fa-circle"></i>
                                                {{else}}
                                                    &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                {{/if}}
                                                {{#if unreadMessages ../_id}}
                                                    <br>
                                                    <small><i class="mark-message-read" data-other-user="{{userId}}">{{unreadMessages ../_id}} new messages</i></small>
                                                {{/if}}
                                            </a>
                                        {{/if}}
                                        {{#if $eq userRole 'dispatcher'}}
                                            <a href="{{pathFor 'dispatcher'}}" class="budgetFont">
                                                {{firstName}} {{lastName}}
                                                {{#if userOnline userId}}
                                                    &nbsp;<i class="fa fa-circle"></i>
                                                {{else}}
                                                    &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                {{/if}}
                                                {{#if unreadMessages ../_id}}
                                                    <br>
                                                    <small><i class="mark-message-read" data-other-user="{{userId}}">{{unreadMessages ../_id}} new messages</i></small>
                                                {{/if}}
                                            </a>
                                        {{/if}}
                                        {{#if $eq userRole 'accountant'}}
                                            <a href="{{pathFor 'accountant'}}" class="budgetFont">
                                                {{firstName}} {{lastName}}
                                                {{#if userOnline userId}}
                                                    &nbsp;<i class="fa fa-circle"></i>
                                                {{else}}
                                                    &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                {{/if}}
                                                {{#if unreadMessages ../_id}}
                                                    <br>
                                                    <small><i class="mark-message-read" data-other-user="{{userId}}">{{unreadMessages ../_id}} new messages</i></small>
                                                {{/if}}
                                            </a>
                                        {{/if}}
                                    {{/with}}
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <label>Important Notifications &amp; Todos</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{>notifications}}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-4">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#providerAssigned" aria-controls="providerAssigned" role="tab" data-toggle="tab">ASGN'D JOBS</a>
                        </li>
                        <li role="presentation">
                            <a href="#providerAllUsers" aria-controls="providerAllUsers" role="tab" data-toggle="tab">USERS</a>
                        </li>
                        <li role="presentation">
                            <a href="#providerRecentChats" aria-controls="providerRecentChats" role="tab" data-toggle="tab">RECENT CONV.</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="providerAssigned">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    <ul class="nav mailbox-nav">
                                        {{#each userChannels}}
                                            {{#with channelJob jobId}}
                                                <li>
                                                    <a href="{{pathFor 'dashboard'}}/?jobId={{_id}}" class="mark-job-msg-read" data-job-id="{{_id}}">
                                                        {{#if unreadJobMessages ../_id}}
                                                            <span class="pull-right badge">{{unreadJobMessages ../_id}}</span>
                                                        {{/if}}
                                                        <small><i>#{{readableID}}</i></small>
                                                        <p class="budgetFont">{{title}}</p>
                                                    </a>
                                                </li>
                                            {{/with}}
                                        {{else}}
                                            <p>There are no job related channels right now.</p>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="providerAllUsers">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    {{>ReactiveDatatable tableData=allUsers options=allUserOptions}}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="providerRecentChats">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    <ul class="nav mailbox-nav">
                                        {{#each userChats}}
                                            {{#with otherUser participants}}
                                                <li>
                                                    <a href="{{pathFor 'dashboard'}}/?userId={{this.userId}}" class="mark-message-read" data-other-user="{{userId}}">
                                                        {{#if unreadMessages ../_id}}
                                                            <span class="pull-right badge badge-default">
                                                                {{unreadMessages ../_id}}
                                                            </span>
                                                        {{/if}}
                                                        <small><i>#{{readableID}}</i></small>
                                                        <p class="budgetFont">
                                                            {{firstName}} {{lastName}}
                                                            &nbsp;
                                                            {{#if userOnline userId}}
                                                                <i class="fa fa-circle"></i>
                                                            {{/if}}
                                                        </p>
                                                    </a>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a aria-controls="home" role="tab" data-toggle="tab">DISCUZ</a>
                        </li>
                    </ul>
                    <br>
                </div>
                {{#if jobSelected}}
                    {{>messages}}
                {{else}}
                    {{#if userSelected}}
                        {{>messages}}
                    {{else}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Select an assigned job from the left panel and you can discuss directly with the corresponding assigned provider.</p>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div> -->
        <!-- <div class="row">
            {{#with myProfile}}
                <div class="col-md-4">
                    <label>You are</label>
                    {{>profileSmall}}
                </div>
            {{/with}}
        </div> -->
        <!-- <div class="row">
            <div class="col-xs-12">
                <h4>Scheduled Dates of Assigned Jobs</h4>
                <hr>
                {{>providerCalendar}}
            </div>
        </div> -->
    {{/if}}
    {{#if isInRole 'accountant'}}
        <div class="row">
            <div class="col-md-4">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#accountantAllUsers" aria-controls="accountantAllUsers" role="tab" data-toggle="tab">USERS</a>
                        </li>
                        <li role="presentation">
                            <a href="#providerRecentChats" aria-controls="providerRecentChats" role="tab" data-toggle="tab">RECENT CONV.</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="accountantAllUsers">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    {{>ReactiveDatatable tableData=allUsers options=allUserOptions}}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="providerRecentChats">
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body assigned-jobs-list" id="style-1">
                                    <ul class="nav mailbox-nav">
                                        {{#each userChats}}
                                            {{#with otherUser participants}}
                                                <li>
                                                    <a href="{{pathFor 'dashboard'}}/?userId={{this.userId}}" class="mark-message-read" data-other-user="{{userId}}">
                                                        {{#if unreadMessages ../_id}}
                                                            <span class="pull-right badge badge-default">
                                                                {{unreadMessages ../_id}}
                                                            </span>
                                                        {{/if}}
                                                        <small><i>#{{readableID}}</i></small>
                                                        <p class="budgetFont">{{firstName}} {{lastName}}</p>
                                                        {{#if userOnline userId}}
                                                            &nbsp;<i class="fa fa-circle"></i>
                                                        {{else}}
                                                            &nbsp;<i class="fa fa-circle fa-offline"></i>
                                                        {{/if}}
                                                    </a>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a aria-controls="home" role="tab" data-toggle="tab">DISCUZ</a>
                        </li>
                    </ul>
                    <br>
                </div>
                {{#if userSelected}}
                    {{>messages}}
                {{else}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Select user from the left panel and you can discuss directly.</p>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <!-- <div class="row">
            <hr>
            {{#with myProfile}}
                <div class="col-md-4">
                    <label>You are</label>
                    {{>accountantSmall}}
                </div>
            {{/with}}
        </div> -->
    {{/if}}
    {{#if isInRole 'admin'}}
        <div class="panel panel-light">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="sampleChart">{{sampleChart}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div id="weekJobs">{{lastWeekJobs}}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="adminChart">{{createChart}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="tryOut">{{tryoutchart}}</div>
                    </div>
                </div>
            </div>
        </div> -->
    {{/if}}
</template>

<template name="myGoogleMap">
    <div class="map-container">
        <input type="text" id="place1" class="form-control">
        <div id="myMap"></div>
    </div>
</template>

<template name="providerCalendar">
    <div id="provider-jobs-calendar"></div>
</template>
<template name="buyerCalendar">
    <div id="buyer-jobs-calendar"></div>
</template>