<template name="dashboard">
    <div class="row">
                        <div class="col-md-3">
                            
                            <!-- START WIDGET SLIDER -->
                            <div class="widget widget-default widget-carousel">
                                <div class="owl-carousel owl-theme" id="owl-example" style="opacity: 1; display: block;">
                                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1458px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 243px;"><div>                                    
                                        <div class="widget-title">Total Visitors</div>                                                                        
                                        <div class="widget-subtitle">27/08/2014 15:23</div>
                                        <div class="widget-int">3,548</div>
                                    </div></div><div class="owl-item" style="width: 243px;"><div>                                    
                                        <div class="widget-title">Returned</div>
                                        <div class="widget-subtitle">Visitors</div>
                                        <div class="widget-int">1,695</div>
                                    </div></div><div class="owl-item" style="width: 243px;"><div>                                    
                                        <div class="widget-title">New</div>
                                        <div class="widget-subtitle">Visitors</div>
                                        <div class="widget-int">1,977</div>
                                    </div></div></div></div>
                                    
                                    
                                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div> 
                            </div>         
                            <!-- END WIDGET SLIDER -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET MESSAGES -->
                            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                                <div class="widget-item-left">
                                    <span class="fa fa-envelope"></span>
                                </div>                             
                                <div class="widget-data">
                                    <div class="widget-int num-count">48</div>
                                    <div class="widget-title">New messages</div>
                                    <div class="widget-subtitle">In your mailbox</div>
                                </div>
                            </div>                            
                            <!-- END WIDGET MESSAGES -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET REGISTRED -->
                            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-address-book.html';">
                                <div class="widget-item-left">
                                    <span class="fa fa-user"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">375</div>
                                    <div class="widget-title">Registred users</div>
                                    <div class="widget-subtitle">On your website</div>
                                </div>                            
                            </div>                            
                            <!-- END WIDGET REGISTRED -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET CLOCK -->
                            <div class="widget widget-info widget-padding-sm">
                                <div class="widget-big-int plugin-clock">03<span>:</span>12</div>                            
                                <div class="widget-subtitle plugin-date">Tuesday, November 8, 2016</div>                         
                                <div class="widget-buttons widget-c3">
                                    <div class="col">
                                        <a href="#"><span class="fa fa-clock-o"></span></a>
                                    </div>
                                    <div class="col">
                                        <a href="#"><span class="fa fa-bell"></span></a>
                                    </div>
                                    <div class="col">
                                        <a href="#"><span class="fa fa-calendar"></span></a>
                                    </div>
                                </div>                            
                            </div>                        
                            <!-- END WIDGET CLOCK -->
                            
                        </div>
                    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#if isInRole 'buyer, corporate-manager'}}
                <div class="row tile_count">
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <a href="{{pathFor 'myJobs'}}">
                            <span class="count_top"><i class="fa fa-user"></i> Jobs Posted</span>
                            <div class="count">{{buyerJobsCount}}</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <a href="{{pathFor 'buyerPaidJobs'}}">
                            <span class="count_top"><i class="fa fa-clock-o"></i> Jobs Completed</span>
                            <div class="count">{{buyerCompletedJobsCount}}</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Amount Spent</span>
                        <div class="count green">$ {{amountSpent}}</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Account Balance</span>
                        <div class="count">$ {{accountBalance}}</div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                        {{#with myProfile}}
                            <a href="{{pathFor 'buyer'}}">
                                <span class="count_top"><i class="fa fa-user"></i> Reviews ({{buyerReviewCount}})</span>
                                <div class="count">
                                    <!-- {{>starsRating rating=buyerRatingPoints size="lg"}} -->
                                    <span class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-value="{{buyerRatingPoints}}"></span>
                                </div>
                            </a>
                        {{/with}}
                    </div>
                </div>
                <hr>
                <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <a href="{{pathFor 'profiles'}}">Providers: </a><br>
                        <a href="{{pathFor 'buyerAssignedJobs'}}">Jobs in progress: {{buyerAssignedJobsCount}}</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{#with buyerDetails}}<a href="{{pathFor 'buyerNotifications'}}">New Notifications: {{newNotificationsCount}}</a>{{/with}}<br>
                        <a href="{{pathFor 'mailBox' tab="mails"}}">New Messages: {{newMessagesCount}}</a>
                    </div>
                </div>
                <hr> -->
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Scheduled Dates of Assigned Jobs</h4>
                        {{>buyerCalendar}}
                    </div>
                </div>
            {{else}}
                {{#if isInRole 'provider, corporate-provider'}}
                    <div class="row tile_count">
                        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                            <a href="{{pathFor 'appliedJobs'}}">
                                <span class="count_top"><i class="fa fa-user"></i> Jobs Applied</span>
                                <div class="count">{{providerJobsCount}}</div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                            <a href="{{pathFor 'providerCompletedJobs'}}">
                                <span class="count_top"><i class="fa fa-user"></i> Jobs Completed</span>
                                <div class="count">{{providerCompletedJobsCount}}</div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-clock-o"></i> Amount Earned</span>
                            <div class="count">$ {{amountEarned}}</div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-user"></i> Account Balance</span>
                            <div class="count">$ {{accountBalance}}</div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                            {{#with myProfile}}
                                <a href="{{pathFor 'profile'}}">
                                    <span class="count_top"><i class="fa fa-user"></i> Reviews ({{providerReviewCount}})</span>
                                    <div class="count">
                                        <!-- {{>starsRating rating=providerRatingPoints size="lg"}} -->
                                        <span class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-value="{{providerRatingPoints}}"></span>
                                    </div>
                                </a>
                            {{/with}}
                        </div>
                    </div>
                    <!-- <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="{{pathFor 'jobs'}}">Open Jobs: {{getPublishedCount 'jobs'}}</a><br>
                            <a href="{{pathFor 'recommendedJobs'}}">Recommended Jobs: {{recommendedJobsCount}}</a><br>
                            <a href="{{pathFor 'invitedJobs'}}">Invited Jobs: {{invitedJobsCount}}</a><br>
                            <a href="{{pathFor 'providerAssignedJobs'}}">Jobs in progress: {{providerAssignedJobsCount}}</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{#with providerProfile}}<a href="{{pathFor 'providerNotifications'}}">New Notifications: {{newNotificationsCount}}</a>{{/with}}<br>
                            <a href="{{pathFor 'mailBox' tab="mails"}}">New Messages: {{newMessagesCount}}</a>
                        </div>
                    </div> -->
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Scheduled Dates of Assigned Jobs</h4>
                            {{>providerCalendar}}
                        </div>
                    </div>
                {{else}}
                    {{#if isInRole 'corporate-admin'}}
                        <div class="row tile_count">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Jobs Posted</span>
                                <div class="count">0</div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Jobs Complted</span>
                                <div class="count">0</div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Amount Spent</span>
                                <div class="count">$ 0</div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-clock-o"></i> Amount Earned</span>
                                <div class="count">$ 0</div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Account Balance</span>
                                <div class="count">$ {{accountBalance}}</div>
                            </div>
                        </div>
                    {{else}}
                        {{#if isInRole 'admin'}}
                            <div class="row tile_count">
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-user"></i> No. of Users</span>
                                    <div class="count green">{{getPublishedCount 'userCount'}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-user"></i> No. of Buyers</span>
                                    <div class="count green">{{buyersCount}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-user"></i> No. of Providers</span>
                                    <div class="count green">{{providersCount}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-user"></i> Jobs Posted</span>
                                    <div class="count">{{getPublishedCount 'adminJobs'}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-clock-o"></i> Jobs Completed</span>
                                    <div class="count">{{getPublishedCount 'allCompletedJobs'}}</div>
                                </div>
                            </div>
                            <!-- <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>Number of Users Registered Today: {{todayUserCount}}</h6>
                                    <h6>Number of Buyer Profiles Created Today: {{todayBuyerCount}}</h6>
                                    <h6>Number of Provider Profiles Created Today: {{todayProviderCount}}</h6>
                                </div>
                            </div> -->
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="adminChart">{{createChart}}</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="sampleChart">{{sampleChart}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="weekJobs">{{lastWeekJobs}}</div>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        <!-- <div class="col-sm-12">
            {{>myGoogleMap}}
        </div> -->
    </div>
</template>

<template name="myGoogleMap">
    <div class="map-container">
        <input type="text" id="place1" class="form-control">
        <div id="myMap"></div>
    </div>
</template>

<template name="providerCalendar">
    <div id="provider-jobs-calendar"></div>
</template>
<template name="buyerCalendar">
    <div id="buyer-jobs-calendar"></div>
</template>