<template name="dashboard">
    <!-- {{#if isInRole 'buyer, dispatcher'}}
        <div class="row">
            {{#with myProfile}}
                <div class="col-md-4">
                    <label>You are</label>
                    {{#if isInRole 'buyer'}}
                        {{>buyerSmall}}
                    {{/if}}
                    {{#if isInRole 'dispatcher'}}
                        {{>dispatcherSmall}}
                    {{/if}}
                </div>
            {{/with}}
            <div class="col-md-8">
                <label>Todo important</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{>notifications}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Scheduled Dates of Assigned Jobs</h4>
                {{>buyerCalendar}}
            </div>
        </div>
    {{/if}}
    {{#if isInRole 'provider'}}
        <div class="row">
            {{#with myProfile}}
                <div class="col-md-4">
                    <label>You are</label>
                    {{>profileSmall}}
                </div>
            {{/with}}
            <div class="col-md-8">
                <label>Todo important</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{>notifications}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Scheduled Dates of Assigned Jobs</h4>
                {{>providerCalendar}}
            </div>
        </div>
    {{/if}}
    {{#if isInRole 'accountant'}}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget widget-default widget-item-icon">
                            <div class="widget-data">
                                <div class="widget-int num-count"></div>
                                <div class="widget-title"></div>
                                <div class="widget-subtitle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-default widget-item-icon">
                            <div class="widget-data">
                                <div class="widget-int num-count"></div>
                                <div class="widget-title"></div>
                                <div class="widget-subtitle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-default widget-item-icon">
                            <div class="widget-data">
                                <div class="widget-int num-count"></div>
                                <div class="widget-title"></div>
                                <div class="widget-subtitle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-default widget-item-icon">
                            <div class="widget-data">
                                <div class="widget-int num-count"></div>
                                <div class="widget-title"></div>
                                <div class="widget-subtitle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            {{#with myProfile}}
                <div class="col-md-4">
                    <label>You are</label>
                    {{>accountantSmall}}
                </div>
            {{/with}}
        </div>
    {{/if}} -->
    {{#if isInRole 'admin'}}
        <div class="panel panel-light">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="sampleChart">{{sampleChart}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div id="weekJobs">{{lastWeekJobs}}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="adminChart">{{createChart}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="tryOut">{{tryoutchart}}</div>
                    </div>
                </div>
            </div>
        </div> -->
    {{/if}}
</template>

<template name="myGoogleMap">
    <div class="map-container">
        <input type="text" id="place1" class="form-control">
        <div id="myMap"></div>
    </div>
</template>

<template name="providerCalendar">
    <div id="provider-jobs-calendar"></div>
</template>
<template name="buyerCalendar">
    <div id="buyer-jobs-calendar"></div>
</template>