<template name="deposit">
	<h5>Deposit Funds</h5>
    <div class="panel panel-default">
        <div class="panel-body">
            Account Balance: $ {{accountBalance}}
            <br><br>
            <div id="payeezy-button" style="margin: 10px 0" onclick="document.getElementById('pay_now_form_148f147dea').submit()">
                <form action="https://demo.globalgatewaye4.firstdata.com/pay" id="pay_now_form_148f147dea" method="post">
                    <input name="x_login" type="hidden" value="HCO-UTL-D-966" />
                    <input name="x_show_form" type="hidden" value="PAYMENT_FORM" />
                    <input name="x_fp_sequence" type="hidden" value="14686623761534527076" />
                    <input name="x_fp_hash" type="hidden" value="PNB-1.0-9a9d6d4b206fa02637f979843da3959c5e64aa9a" />
                    <input name="x_amount" type="hidden" value="" />
                    <input name="x_currency_code" type="hidden" value="USD" />
                    <input name="x_test_request" type="hidden" value="TRUE" />
                    <input name="x_relay_response" type="hidden" value="" />
                    <input name="donation_prompt" type="hidden" value="" />
                    <input name="button_code" type="hidden" value="Pay Now UTL DEMO0080 Payment Page" />
                    <div class="cpwrap">
                        <button type="button">Deposit Funds</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h5>Transactions</h5>
                    <hr>
                    {{>ReactiveDatatable tableData=previousDeposits options=previousDepositOptions}}
                </div>
            </div>
        </div>
    </div>
</template>