<template name="invoice">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							{{#with providerDetails}}
								<strong>Provider</strong>
								<h6><a href="{{pathFor 'profile'}}">{{firstName}} {{lastName}}</a></h6>
								<small>{{title}}</small> <br>
								<small>{{location}}</small> <br>
								<small>{{contactNumber}}</small> <br>
								<small>{{userName}}</small> <br>
							{{/with}}
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							{{#with buyerDetails}}
								<strong>Buyer</strong>
								<h6><a href="{{pathFor 'buyer'}}">{{firstName}} {{lastName}}</a></h6>
								<small>{{title}}</small> <br>
								<small>{{location}}</small> <br>
								<small>{{contactNumber}}</small> <br>
								<small>{{userName}}</small> <br>
							{{/with}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{{#with invoiceDetails}}
								<small>Invoice Date: {{this.date}}</small> <br>
								<small>Invoice Status: {{this.invoiceStatus}} (Provider account credited.)</small>
								<hr>
								{{#with jobDetails}}
									<div class="col-xs-12">
										<small><i># {{readableID}}</i></small><br>
										<a class="budgetFont" href="{{pathFor 'job'}}">{{title}}</a>
										<br>
										<small>
			                                {{#if $eq servicelocation 'Remote Job'}}
			                                    {{servicelocation}}
			                                {{else}}
			                                    {{#if assignedProvider}}
			                                        {{location}}
			                                    {{else}}
			                                        {{#if fullLocation.sublocality}} {{fullLocation.sublocality}},{{/if}} {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}
			                                    {{/if}}
			                                {{/if}}
			                            </small>
										<br>
										Accepted Budget
										{{#with budgetDetails _id}}
											{{#if $eq this.appType 'application'}}
                                                <table class="table table-striped table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment Type</th>
                                                            <th>Buyer Cost</th>
                                                            <th>Provider Earns</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                {{this.paymentType}}
                                                                {{#if $eq this.paymentType 'Fixed Pay'}}
                                                                    <a href data-balloon="Pay fixed amount of {{../freelancer_nets}} USD" data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
                                                                {{/if}}
                                                                {{#if $eq this.paymentType 'Per Hour'}}
                                                                    <a href data-balloon="Pay {{../hourlyrate}} USD for {{../maxhours}} hours." data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
                                                                {{/if}}
                                                                {{#if $eq this.paymentType 'Per Device'}}
                                                                    <a href data-balloon="Pay {{../devicerate}} USD for {{../maxdevices}} devices." data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
                                                                {{/if}}
                                                                {{#if $eq this.paymentType 'Blended'}}
                                                                    <a href data-balloon="Pay {{../payforfirsthours}} USD for {{../firsthours}} hours and then {{../payfornexthours}} USD for the next {{../nexthours}} hours." data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
                                                                {{/if}}
                                                            </td>
                                                            <td>{{../your_cost}} USD</td>
                                                            <td>{{../freelancer_nets}} USD</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            {{/if}}
                                            {{#if $eq appType 'counteroffer'}}
                                                <table class="table table-striped table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment Type</th>
                                                            <th>Buyer Cost</th>
                                                            <th>Provider Earns</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                {{#if $eq counter_type 'blended'}}
                                                                    Blended
                                                                    <a href data-balloon=""></a>
                                                                {{/if}}
                                                                {{#if $eq counter_type 'per_device'}}
                                                                    Per Device
                                                                {{/if}}
                                                                {{#if $eq counter_type 'per_hour'}}
                                                                    Per Hour
                                                                    <a href data-balloon="Pay {{hourly_rate}} USD per hour for {{max_hours}} hours" data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
                                                                {{/if}}
                                                                {{#if $eq counter_type 'fixed_pay'}}
                                                                    Fixed Pay
                                                                {{/if}}
                                                            </td>
                                                            <td>{{buyer_cost}} USD</td>
                                                            <td>{{freelancer_nets}} USD</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            {{/if}}
                                        {{/with}}
                                        {{#if expensesRequested _id}}
                                            <hr>
                                            Expenses:
                                            <table class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Amount</th>
                                                        <th>Buyer Cost</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each expenses}}
                                                        <tr>
                                                            <td>{{expense_amount}} USD</td>
                                                            <td>{{buyer_cost}} USD</td>
                                                            <td>{{expense_description}}</td>
                                                            <td>
                                                                {{#if $eq request_status 'pending'}}
                                                                    Pending
                                                                {{/if}}
                                                                {{#if $eq request_status 'accepted'}}
                                                                    Accepted
                                                                {{/if}}
                                                                {{#if $eq request_status 'rejected'}}
                                                                    Rejected
                                                                {{/if}}
                                                            </td>                        
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        {{/if}}
                                        {{#if bonusRequested _id}}
                                            <hr>
                                            Budget Increase:<br>
                                            <table class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Payment Type</th>
                                                        <th>Buyer Cost</th>
                                                        <th>Provider Earns</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each budgetIncreases }}
                                                        <tr>
                                                            <td>
                                                            	{{request_type}}
                                                            	{{#if $eq request_type 'Fixed Pay'}}
	                                                                <a href data-balloon="Pay fixed amount of {{fixed_amount}} USD" data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
	                                                            {{/if}}
	                                                            {{#if $eq request_type 'Per Hour'}}
	                                                                <a href data-balloon="Pay {{hourly_rate}} USD for {{max_hours}} hours." data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
	                                                            {{/if}}
	                                                            {{#if $eq request_type 'Per Device'}}
	                                                                <a href data-balloon="Pay {{device_rate}} USD for {{max_devices}} devices." data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
	                                                            {{/if}}
	                                                            {{#if $eq request_type 'Blended'}}
	                                                                <a href data-balloon="Pay {{first_hours}} USD for {{first_max_hours}} hours and then {{next_hours}} USD for the next {{next_max_hours}} hours." data-balloon-pos="up"><i class="fa fa-info-circle"></i></a>
	                                                            {{/if}}
                                                            </td>
                                                            <td>{{this.buyer_cost}} USD</td>
                                                            <td>{{this.total_amount}} USD</td>
                                                            <td>
                                                                {{#if $eq this.request_status 'pending'}}
                                                                    Pending
                                                                {{/if}}
                                                                {{#if $eq this.request_status 'accepted'}}
                                                                    Accepted
                                                                {{/if}}
                                                                {{#if $eq this.request_status 'rejected'}}
                                                                    Rejected
                                                                {{/if}}
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        {{/if}}
										<hr>
										Grand Total:<br>
										<h5>Buyer Cost: {{buyerCost}} USD</h5>
										<h5>Provider Earns: {{projectBudget}} USD</h5>
										<h5>UTL Fees: {{utlCommission _id}} USD (5%)</h5>
										<hr>
									</div>
									<div class="col-xs-12">
										Time Sheets
										<table class="table table-hover table-striped">
											<thead>
												<tr>
													<th>Check In</th>
													<th>Check Out</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												{{#each timeLogs _id}}
													<tr>
														<td>{{in}}</td>
														<td>{{out}}</td>
														<td>{{total}}</td>
													</tr>
												{{/each}}
											</tbody>
										</table>
										<strong>Total [{{totalHours}}]</strong>
									</div>
								{{/with}}
							{{/with}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>