<template name="invoice">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h5 class="pull-left">{{invoiceId}}</h5>
			<button class="btn btn-info pull-right printInvoice">Print</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							{{#with providerDetails}}
								<strong>From:</strong>
								<h6>{{firstName}} {{lastName}}</h6>
								<small>{{title}}</small> <br>
								<small>{{location}}</small> <br>
								<small>{{contactNumber}}</small> <br>
								<small>{{userName}}</small> <br>
							{{/with}}
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							{{#with buyerDetails}}
								<strong>To:</strong>
								<h6>{{firstName}} {{lastName}}</h6>
								<small>{{title}}</small> <br>
								<small>{{location}}</small> <br>
								<small>{{contactNumber}}</small> <br>
								<small>{{userName}}</small> <br>
							{{/with}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{{#with invoiceDetails}}
								<small>Invoice Date: {{this.date}}</small> <br>
								<small>Invoice Status: {{this.invoiceStatus}}</small>
								<hr>
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th>Project Title</th>
											<th>Budget Details</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											{{#with jobDetails}}
												<td>{{title}}</td>
												{{#with budgetDetails _id}}
													<td>
														{{#if $eq this.app_type 'application'}}
															Application Type: Application <br>
															Total From Client: $ {{../your_cost}} USD <br>
															UTL Comission: $ {{utlComission ../your_cost}} USD <br>
															Provider Net: $ {{../projectBudget}} USD
														{{/if}}
														{{#if $eq this.app_type 'counteroffer'}}
															Application Type: Counter Offer <br>
															Total From Client: $ {{this.buyer_cost}} USD <br>
															UTL Comission: $ {{utlComission this.buyer_cost}} USD <br>
															Provider Net: $ {{this.freelancer_nets}} USD
														{{/if}}
													</td>
												{{/with}}
											{{/with}}
										</tr>
									</tbody>
								</table>
							{{/with}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>