<template name="withdraw">
	<h5>Withdraw Funds</h5>
	<div class="panel panel-default">
        <div class="panel-body">
            Account Balance: $ {{accountBalance}}
            <br><br>
            <a href="https://www.dwolla.com/login" class="btn btn-primary">Withdraw from Dwolla</a>
            <!-- <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h5>Previous Transactions (Withdrawls)</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S. No</th>
                                <th>Payment Method</th>
                                <th>Amout</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Payezee</td>
                                <td>$ 90.00</td>
                                <td>Mon May 16 2016 11:09:29 GMT+0530 (IST)</td>
                                <td>Pending</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Credit Card</td>
                                <td>$ 90.00</td>
                                <td>Mon May 28 2016 04:09:29 GMT+0530 (IST)</td>
                                <td>Success</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </div>
    </div>
</template>