<template name="withdraw">
	<h5>Withdraw Funds</h5>
	<div class="panel panel-default">
		<div class="panel-body">
			{{#if dwollaCustomer}}
				{{#if fundingSourceUrl}}
					<form id="requestDwollaPay">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="form-group">
									<input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" class="form-control" step="0.01" id="requestAmount" placeholder="Enter Amount To Withdraw" min="1" required><br>
									<button type="submit" class="btn btn-primary btn-sm submitWithdrawReq" disabled="true">Submit</button>
								</div>
							</div>
						</div>
						<div id="spinner">
							{{>spinner}}
						</div>
					</form>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					    <div class="alert alert-info enoughBalance" hidden>
			                <strong>You don't have sufficient account balance to make this request.</strong>
			            </div>
			        </div>
		        {{else}}
		        	<div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <script src="https://cdn.dwolla.com/1/dwolla.js"></script>
                                <button class="btn btn-primary btn-sm startIav">Initiate Account Verification</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="initiateProIav"></div>
                        </div>
                    </div>
		        {{/if}}
		    {{else}}
		    	<h4>Create Dwolla Account</h4>
		    	{{#if currentUser.isDeveloper}}
		    		<form id="pro_register_dwolla">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="date_of_birth">Date of Birth *</label>
                                    <input type="text" id="date_of_birth" class="form-control" placeholder="Date of Birth" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="social_security_no">Social Security No. *</label>
                                    <input type="text" id="social_security_no" class="form-control" placeholder="Last Four Digits of Your SSN" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="bank_account_no">Bank Account No. *</label>
                                    <input type="text" id="bank_account_no" class="form-control" placeholder="Bank Account No." required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="routing_number">Routing No. *</label>
                                    <input type="text" id="routing_number" class="form-control" placeholder="Routing No." required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Account Type *</label><br>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="account_type" value="checking"> Checking
                                    </label>&nbsp;
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="account_type" value="savings"> Savings
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
		    	{{else}}
		    		You need to create your profile before registering with Dwolla. <a href="{{pathFor 'profileNew'}}">Click here</a> to create your provider profile.
		    	{{/if}}
	        {{/if}}
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Transfer ID</th>
							<th>Date</th>
							<th>Amount</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{{#each customerTransfers}}
							<tr>
								<td>{{this.id}}</td>
								<td>{{this.created}}</td>
								<td>{{this.amount.value}} USD</td>
								<td>{{this.status}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>