<template name="dispatcherSmall">
    <div class="panel panel-default {{#if $eq this.status 'active'}} activeProfile {{else}} inactiveProfile {{/if}}">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-assigned">
                <span class="pull-right rateit"></span>
                <small><i># {{readableId}}</i></small>
                <p class="budgetFont">
                    <a href="{{pathFor 'dispatcher'}}">{{firstName}} {{lastName}}</a>
                    &nbsp;
                    {{#unless $eq userId $.Meteor.userId}}
                        {{#if userOnline userId}}
                            <i class="fa fa-circle"></i>
                        {{/if}}
                    {{/unless}}
                </p>
                <h5 class="widget-user-desc">{{title}}</h5>
                <small>{{#if fullLocation.sublocality}} {{fullLocation.sublocality}},{{/if}} {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}</small>
            </div>
            <div class="widget-user-image">
                <a href="{{pathFor 'dispatcher'}}">
                    {{#if customImageUrl}}
                        <div class="avatar center-block">
                            <img class="img-circle" src="{{customImageUrl}}"/>
                        </div>
                    {{else}}
                        <img src="/images/avatar.png" alt="">
                    {{/if}}
                </a>
            </div>
            <div class="box-footer">    
                {{#if $eq userId currentUser._id}}
                    <div class="row">
                        <div class="col-xs-6 border-right">
                            <div class="description-block text-center">
                                <a href="{{pathFor 'jobNew'}}">
                                    <h5 class="description-header"><i class="fa fa-paper-plane"></i></h5>
                                    <span class="description-text">Post a Job</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="description-block text-center">
                                <a href="">
                                    <h5 class="description-header"><i class="fa fa-thumbs-up"></i></h5>
                                    <span class="description-text">{{favCount}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{else}}                
                    <div class="row">
                        <div class="col-xs-6 border-right">
                            <div class="description-block text-center">
                                {{#with dispatcher}}
                                    <a href="{{pathFor 'dispatcherJobs'}}">
                                        <h5 class="description-header"><i class="fa fa-paper-plane"></i></h5>
                                        <span class="description-text">View Jobs</span>
                                    </a>
                                {{/with}}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="description-block text-center">
                                <a href="{{pathFor 'dispatcher'}}">
                                    <h5 class="description-header"><i class="fa fa-comments"></i></h5>
                                    <span class="description-text">View Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>
