<template name="assignJob">
    <div class="row">
        <div class="col-sm-12">
            <h5>You are routing this job to {{#with selectedProvider}}<a href="{{pathFor 'profile'}}">{{this.firstName}} {{this.lastName}}.</a> A notification will be sent to the provider to either confirm or reject the routed job.{{/with}}</h5>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Create Your Job Post</h4>
                </div>
                <div class="panel-body">
                    {{#autoForm id="inviteJob" collection="Jobs" type="insert"}}
                        {{>jobFields}}
                        <div class="form-group">
                            <input type="text" name="individualprovider" value="{{providerName}}" id="{{providerId}}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary inviteIndividual">Submit</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>