<template name="buyerAssignedJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#each buyerAssignedJobs}}
				{{>jobSmall}}
			{{else}}
				<p>There are no assigned jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if Template.subscriptionsReady}}
                {{#if hasMoreJobs}}
                    <a href class="load-more btn btn-primary">Load More</a>
                {{/if}}
            {{else}}
                <div class="jobsloading">{{>spinner}}</div>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=assignedJobs options=assignedJobsOptions}}
</template>