<template name="buyerPendingApprovalJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#each buyerPendingApprovalJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You have no jobs that are pending payments at this moment.</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if Template.subscriptionsReady}}
                {{#if hasMoreJobs}}
                    <a href class="load-more btn btn-primary">Load More</a>
                {{/if}}
            {{else}}
                <div class="jobsloading">{{>spinner}}</div>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=pendingApproval options=pendingApprovalOptions}}
</template>