<template name="buyerAssignedJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs: <a href="{{pathFor 'myJobs'}}">All ({{postedJobCount}})</a> &#124;  <a href="{{pathFor 'buyerOpenJobs'}}">Open ({{buyerOpenCount}})</a> &#124; <a href="{{pathFor 'buyerRoutedJobs'}}">Routed ({{buyerRoutedCount}})</a> &#124; Assigned ({{buyerAssignedCount}})&#124; <a href="{{pathFor 'buyerCompletedJobs'}}">Completed ({{buyerCompletedCount}})</a> &#124; <a href="{{pathFor 'buyerPaymentPendingJobs'}}">Payment Pending ({{buyerPaymentPendingCount}})</a> &#124; <a href="{{pathFor 'buyerPaidJobs'}}">Paid ({{buyerPaidCount}})</a> &#124; <a href="{{pathFor 'deactivatedJobs'}}">Deactivated ({{deactivatedCount}})</a></p>
		</div>
		<div class="col-sm-12">
			{{#each buyerAssignedJobs}}
				{{>jobSmall}}
			{{else}}
				<hr>
				<p>There are no assigned jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
</template>