<template name="deactivatedJobs">
	<div class="row">
		<div class="col-sm-9">
			<p>My Jobs:
				<a href="{{pathFor 'myJobs'}}">All - {{postedJobCount}}</a> &#124;
				<a href="{{pathFor 'buyerOpenJobs'}}">Open - {{buyerOpenCount}}</a> &#124;
				<a href="{{pathFor 'buyerRoutedJobs'}}">Routed - {{buyerRoutedCount}}</a> &#124;
				<a href="{{pathFor 'buyerAssignedJobs'}}">Assigned - {{buyerAssignedCount}}</a> &#124;
				<a href="{{pathFor 'buyerPaidJobs'}}">Paid - {{buyerPaidCount}}</a> &#124;
				Deactivated - {{deactivatedCount}}
			</p>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="search-box" placeholder="search deactivated jobs" />
		</div>
		<div class="col-sm-12">
			<hr>
			{{#each deactivatedJobs}}
				{{>jobSmall}}
			{{else}}
				<p>There are not dectivated jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
</template>