<template name="invitedJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#if currentUser}}
				{{#each invitedJobs}}
					{{>jobSmall}}
				{{else}}
					<p>You have not been routed any jobs yet.</p>
				{{/each}}
			{{/if}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if hasMoreJobs}}
                <a href class="load-more btn btn-primary">Load More</a>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=invitedJobs options=invitedJobsOptions}}
</template>