<template name="invitedJobs">
	<div class="row">
		<div class="col-sm-12">
			<p> 
				Jobs: <a href="{{pathFor 'jobs'}}">Open - {{openJobsCount}}</a> &#124; 
				<a href="{{pathFor 'recommendedJobs'}}">Recommended - {{recommendedJobsCount}}</a> &#124;
				Invited - {{invitedJobsCount}}
			</p>
		</div>
		<div class="col-sm-12">
			<hr>
		</div>
		<div class="col-sm-12">
			{{#if currentUser}}
				{{#each invitedJobs}}
					{{>jobSmall}}
				{{else}}
					<p>You have not been routed any jobs yet.</p>
				{{/each}}
			{{/if}}
		</div>
	</div>
</template>