<template name="job">
	<div id="job" class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					{{>jobExpiredAlert}}
					{{#if isInRole 'admin'}}
					    {{>jobAdminEditLink}}
					    {{>jobStatusToggle}}  
					    {{>jobSuggestedTweet}}
					{{/if}}
					{{>jobStatusAlert}}
					{{>jobFeatured}}
					<div class="row">
						<div class="col-sm-12">
							<h2>
								{{title}}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							{{#if servicelocation}}
								<span class="label label-primary"><i class="fa fa-map-marker"></i>&nbsp;{{servicelocation}}</span>
								{{#if location}}
									{{location}}
								{{/if}}
							{{/if}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<i class="fa fa-calendar fa-fw"></i> Posted on {{formatDate createdAt}}<hr>
							<i class="fa fa-user fa-fw"></i> By {{userName}}<hr>
							{{#if featured}}
								<hr>
								<i class="fa fa-trophy fa-fw"></i> Featured Until {{formatDate featuredThrough}}<hr>
							{{/if}}
							<div>
								<a id="pvt-mail" class="btn btn-info">
									<i class="fa fa-envelope"></i> Mail
								</a>
							</div>
						</div>
						<div class="col-sm-9">
							{{>jobLabels}}
							{{#if hasLabel}}
								<hr>
							{{/if}}
							<h4>Skills Required</h4>
							{{skillsrequired}}
							<hr>
							<h4>Description</h4>
							{{{htmlDescription}}}
							<hr>
							<h4>Service Schedule</h4>
							{{#if exactdate}}
								On: {{formatDate exactdate}}
							{{/if}}
							{{#if betweendates}}
								Between: {{betweendates}}								
							{{/if}}
							{{#if ratebasis}}
								<hr>
								<h4>Budget</h4>
								Payment type: {{ratebasis}}<br>
								{{#if hourlyrate}}
									{{hourlyrate}} USD per hour for {{maxhours}} hours.
									<br>Net: {{freelancer_nets}} USD
									{{else}}
										{{#if payforfirsthours}}
											{{payforfirsthours}} USD for the first {{firsthours}} hours, and then {{payfornexthours}} USD for the next {{nexthours}} hours.
											<br>Net: {{totalfromclient}} USD
											{{else}}
												{{#if rateperdevice}}
													{{rateperdevice}} USD for {{maxdevices}} devices.
													<br>Net: {{totalfromclient}} USD
													{{else}}
														{{#if fixedamount}}
															Net: {{fixedamount}} USD.
														{{/if}}
												{{/if}}
										{{/if}}
								{{/if}}
								<hr>
							{{/if}}
							{{#if contactperson}}
								<hr>
								<h4>Service Location</h4>
								Address: {{location}}<br>
								Contact Details: <br>
								{{contactperson}}<br>
								{{contactemail}}<br>
								{{contactphone}}
							{{/if}}
							{{#if tasks}}
								<hr>
								<h4>Tasks Assigned</h4>
								<ul>
									{{#each tasks}}
										<li>Freelancer must {{taskname}} and {{taskdescription}}</li>
									{{/each}}
								</ul>
							{{/if}}
							{{#if shipment}}
								<hr>
								<h4>Shipments to site</h4>
								<ul>
									{{#each shipment}}
										<li>{{itembeingshipped}} via 
											{{#if shipmentcarriername}}
												{{shipmentcarriername}}
											{{else}}
												{{shipmentcarrier}}
											{{/if}} 
											with tracking ID {{shipmenttracking}}
										</li>
									{{/each}}
								</ul>
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-9">
							<ul class="nav nav-pills nav-justified">
								<li class="active"><a data-toggle="tab" href="#discussion">Post a Query</a></li>
								<li><a data-toggle="tab" href="#apply">Apply</a></li>
								<li><a data-toggle="tab" href="#counter-offer">Counter Offer</a></li>
							</ul>
							<div class="tab-content">
								<div id="discussion" class="tab-pane fade in active">
									{{> commentsBox id=_id}}
								</div>
								<div id="apply" class="tab-pane fade">
									<div class="btn-group">
										<br>
										<p>Applied by {{appliedByCount}} user(s).</p>
										{{#if isInRole 'provider'}}
											<button class="btn btn-primary applyJob">Apply</button>
										{{else}}
											<h6>You must be a provider to apply for this job.</h6>
										{{/if}}
									</div>
								</div>
								<div id="counter-offer" class="tab-pane fade">
									<h3>Counter offer</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{#if $eq userId $.Meteor.userId}}
								<div class="pull-right">
									&nbsp;
									<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
								</div>
								{{#if $eq status "active"}}
									<div class="pull-right">
										<a id="job-deactivate" class="btn btn-danger">
											<i class="fa fa-times"></i> Deactivate
										</a>
									</div>
								{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
