<template name="job">
	<div id="job" class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					{{>jobExpiredAlert}}
					{{#if isInRole 'admin'}}
					    {{>jobAdminEditLink}}
					    {{>jobStatusToggle}}  
					    {{>jobSuggestedTweet}}
					{{/if}}
					{{>jobStatusAlert}}
					<div class="row">
						<div class="col-sm-12">
							<h2>
								{{title}}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							{{#if servicelocation}}
								<span class="label label-primary"><i class="fa fa-map-marker"></i>&nbsp;{{servicelocation}}</span>
								{{#if location}}
									{{location}}
								{{/if}}
							{{/if}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<i class="fa fa-calendar fa-fw"></i> Posted on {{formatDate createdAt}}<hr>
							{{#with buyer}}<i class="fa fa-user fa-fw"></i> By <a href="{{pathFor 'buyer'}}">{{userName}}</a>{{/with}}<hr>
						</div>
						<div class="col-sm-9">
							{{>jobLabels}}
							{{#if hasLabel}}
								<hr>
							{{/if}}
							<h4>Skills Required</h4>
							{{skillsrequired}}
							<hr>
							<h4>Description</h4>
							{{{htmlDescription}}}
							<hr>
							<h4>Service Schedule</h4>
							{{#if exactdate}}
								On: {{formatDate exactdate}}
							{{/if}}
							{{#if betweendates}}
								Between: {{betweendates}}								
							{{/if}}
							{{#if ratebasis}}
								<hr>
								<h4>Budget</h4>
								Payment type: {{ratebasis}}<br>
								{{#if hourlyrate}}
									{{hourlyrate}} USD per hour for {{maxhours}} hours.
									<br>Net: {{freelancer_nets}} USD
									{{else}}
										{{#if payforfirsthours}}
											{{payforfirsthours}} USD for the first {{firsthours}} hours, and then {{payfornexthours}} USD for the next {{nexthours}} hours.
											<br>Net: {{totalfromclient}} USD
											{{else}}
												{{#if rateperdevice}}
													{{rateperdevice}} USD for {{maxdevices}} devices.
													<br>Net: {{totalfromclient}} USD
													{{else}}
														{{#if fixedamount}}
															Net: {{fixedamount}} USD.
														{{/if}}
												{{/if}}
										{{/if}}
								{{/if}}
							{{/if}}
							{{#if contactperson}}
								<hr>
								<h4>Service Location</h4>
								Address: {{location}}<br>
								Contact Details: <br>
								{{contactperson}}<br>
								{{contactemail}}<br>
								{{contactphone}}
							{{/if}}
							{{#if tasks}}
								<hr>
								<h4>Tasks Assigned</h4>
								<ul>
									{{#each tasks}}
										<li>Freelancer must {{taskname}} and {{taskdescription}}</li>
									{{/each}}
								</ul>
							{{/if}}
							{{#if shipment}}
								<hr>
								<h4>Shipments to site</h4>
								<ul>
									{{#each shipment}}
										<li>{{itembeingshipped}} via 
											{{#if shipmentcarriername}}
												{{shipmentcarriername}}
											{{else}}
												{{shipmentcarrier}}
											{{/if}} 
											with tracking ID {{shipmenttracking}}
										</li>
									{{/each}}
								</ul>
							{{/if}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-9">
							<ul class="nav nav-pills nav-justified">
								<li class="active"><a data-toggle="tab" href="#discussion">Post a Query</a></li>
								<li>
									<a data-toggle="tab" href="#apply">
										{{#if currentUser.isDeveloper}}
											Apply
										{{else}}
											{{#if jobPostedBuyer}}
												View Applicants ({{applicationsCount}})
											{{else}}
												Applications
											{{/if}}
										{{/if}}
									</a>
								</li>
								<li>
									<a data-toggle="tab" href="#counter-offer">
										{{#if currentUser.isDeveloper}}
											Counter Offer
										{{else}}
											{{#if jobPostedBuyer}}
												View Counter Offers ({{counterOfferCount}})
											{{else}}
												Couter Offers
											{{/if}}
										{{/if}}
									</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="discussion" class="tab-pane fade in active">
									{{> commentsBox id=_id}}
								</div>
								<div id="apply" class="tab-pane fade">
									<div class="panel">
										<br>
										{{#if isInRole 'provider, corporate-provider'}}
											<p>{{applicationsCount}} user(s) have applied for this job so far.</p>
											{{#if currentUser.isDeveloper}}
												<button class="btn btn-primary applyJob">Apply</button>
											{{else}}
												<h6>You must create your profile before you can apply for this job. <a href="{{pathFor 'profileNew'}}">Click here</a> to create your profile.</h6>
											{{/if}}
										{{else}}
											{{#if jobPostedBuyer}}
												<div class="list-group" width=100%>
													{{#each appliedProviders}}
														<a class="list-group-item" href="{{pathFor 'profile'}}" style="text-decoration: none">
															<!-- <span class="pull-left thumb-sm">
																<img class="thumb-sm" src="{{this.customImageUrl}}" alt="{{this.name}}">
															</span>
															<span>
																<h5>{{this.name}}</h5>
																<h6>{{this.title}}</h6>
															</span> -->
															<span>
																<h4>{{this.userId}}</h4>
															</span>
															<span class="pull-right">
																<h5><i class="fa fa-calendar"></i> {{this.applied_at}}</h5>
															</span>
															<span>
																<button class="btn btn-success btn-sm acceptApplication">Accept</button>
																<button class="btn btn-danger btn-sm rejectApplication">Reject</button>
															</span>
														</a>
													{{else}}
														<h6>No providers have applied for this job yet.</h6>
													{{/each}}
												</div>
											{{else}}
												<p>{{applicationsCount}} user(s) have applied for this job so far.</p>
											{{/if}}
										{{/if}}
									</div>
								</div>
								<div id="counter-offer" class="tab-pane fade">
									<br>
									{{#if isInRole 'provider, corporate-provider'}}
										<p>{{counterOfferCount}} user(s) have countered this offer so far.</p>
										<h4>Payment Details:</h4>
										Payment type: {{ratebasis}}<br>
										{{#if hourlyrate}}
											{{hourlyrate}} USD per hour for {{maxhours}} hours.
											<br>Net: {{freelancer_nets}} USD
											{{else}}
												{{#if payforfirsthours}}
													{{payforfirsthours}} USD for the first {{firsthours}} hours, and then {{payfornexthours}} USD for the next {{nexthours}} hours.
													<br>Net: {{totalfromclient}} USD
													{{else}}
														{{#if rateperdevice}}
															{{rateperdevice}} USD for {{maxdevices}} devices.
															<br>Net: {{totalfromclient}} USD
															{{else}}
																{{#if fixedamount}}
																	Net: {{fixedamount}} USD.
																{{/if}}
														{{/if}}
												{{/if}}
										{{/if}}
										<h4>Would you like to counter this?</h4>
										<div class="panel panel-default">
											<div class="panel-body">
												<form id="counter_offer_form">
													<div class="row">
														<div class="col-sm-6">
															<label>Payment Type</label>
															<select class="form-control" name="counter_type" id="counter_type" required>
																<option selected="selected">Select one</option>
																<option value="fixed_pay">Fixed Pay</option>
																<option value="per_hour">Per hour</option>
																<option value="per_device">Per device</option>
																<option value="blended">Blended</option>
															</select>
														</div>
													</div>
													<hr>
													<div id="fixed-pay-counter" hidden>
														<div class="row">
															<div class="col-sm-4">
																<label for="fixed_amount">Fixed Amount</label>
																<input type="number" class="form-control" id="fixed_amount" step="any" min="1">
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="fixed_total">Total Amount</label>
																<input type="number" class="form-control" id="fixed_total" name="total_amount" readonly="true" step="any" min="1">
															</div>
															<div class="col-sm-4">
																<label for="utl_fees">UTL Fees</label>
																<input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4" hidden="true">
																<label>Paid By</label><br>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="provider" checked="checked"> Provider
																</label>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="buyer"> Buyer
																</label>
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="buyer_fixed_cost">Buyer's Cost</label>
																<input type="number" class="form-control" id="buyer_fixed_cost" name="buyer_cost" step="any" min="1" readonly="true">
															</div>
															<div class="col-sm-4">
																<label for="freelancer_fixed_nets">Freelancer Nets</label>
																<input type="number" id="freelancer_fixed_nets" name="freelancer_nets" class="form-control" step="any" min="1" readonly="true">
															</div>
														</div>
													</div>
													<div id="hourly-counter" hidden>
														<div class="row">
															<div class="col-sm-4">
																<label for="hourly_rate">Hourly Rate (USD)</label>
																<input type="number" class="form-control" id="hourly_rate" step="any" min="1">
															</div>
															<div class="col-sm-4">
																<label for="max_hours">Maximum Hours</label>
																<input type="number" class="form-control" id="max_hours" step="any" min="1">
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="hourly_total">Total Amount</label>
																<input type="number" class="form-control" name="total_amount" id="hourly_total" readonly="true" step="any" min="1">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-sm-4">
																<label for="utl_fees">UTL Fees</label>
																<input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-sm-4" hidden="true">
																<label>Paid By</label><br>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="provider" checked="checked"> Provider
																</label>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="buyer"> Buyer
																</label>
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="buyer_cost">Buyer's Cost</label>
																<input type="number" class="form-control" name="buyer_cost" id="buyer_hourly_cost" step="any" min="1" readonly="true">
															</div>
															<div class="col-sm-4">
																<label for="freelancer_hourly_nets">Freelancer Nets</label>
																<input type="number" id="freelancer_hourly_nets" name="freelancer_nets" class="form-control" step="any" min="1" readonly="true">
															</div>
														</div>
													</div>
													<div id="per-device-counter" hidden>
														<div class="row">
															<div class="col-sm-4">
																<label for="device_rate">Device Rate (USD)</label>
																<input type="number" class="form-control" id="device_rate" step="any" min="1">
															</div>
															<div class="col-sm-4">
																<label for="max_devices">Maximum devices</label>
																<input type="number" class="form-control" id="max_devices" step="any" min="1">
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="device_total">Total Amount</label>
																<input type="number" class="form-control" name="total_amount" id="device_total" readonly="true" step="any" min="1">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-sm-4">
																<label for="utl_fees">UTL Fees</label>
																<input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-sm-4" hidden="true">
																<label>Paid By</label><br>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="provider" checked="checked"> Provider
																</label>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="buyer"> Buyer
																</label>
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="buyer_device_cost">Buyer's Cost</label>
																<input type="number" class="form-control" name="buyer_cost" id="buyer_device_cost" step="any" min="1" readonly="true">
															</div>
															<div class="col-sm-4">
																<label for="freelancer_device_nets">Freelancer Nets</label>
																<input type="number" id="freelancer_device_nets" name="freelancer_nets" class="form-control" step="any" min="1" readonly="true">
															</div>
														</div>
													</div>
													<div id="blended-counter" hidden>
														<div class="row">
															<div class="col-sm-3">
																<label for="first_hours">Pay USD</label>
																<input type="number" class="form-control" id="first_hours" step="any" min="1">
															</div>
															<div class="col-sm-3">
																<label for="first_max_hours">total for the first</label>
																<input type="number" class="form-control" id="first_max_hours" step="any" min="1">
															</div>
															<div class="col-sm-3">
																<label for="next_hours">hour(s) and then USD</label>
																<input type="number" class="form-control" id="next_hours" step="any" min="1">
															</div>
															<div class="col-sm-3">
																<label for="next_max_hours">per hour for upto</label>
																<input type="number" class="form-control" id="next_max_hours" step="any" min="1">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-sm-4" hidden="true">
																<label for="blended_total">Total Amount</label>
																<input type="number" class="form-control" name="total_amount" id="blended_total" readonly="true" step="any" min="1">
															</div>
															<div class="col-sm-4">
																<label for="utl_fees">UTL Fees</label>
																<input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-sm-4" hidden="true">
																<label>Paid By</label><br>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="provider"> Provider
																</label>
																<label class="radio-inline">
																	<input type="radio" name="paidby" value="buyer"> Buyer
																</label>
															</div>
															<div class="col-sm-4" hidden="true">
																<label for="buyer_blended_cost">Buyer's Cost</label>
																<input type="number" class="form-control" name="buyer_cost" id="buyer_blended_cost" step="any" min="1" readonly="true">
															</div>
															<div class="col-sm-4">
																<label for="freelancer_blended_nets">Freelancer Nets</label>
																<input type="number" id="freelancer_blended_nets" class="form-control" name="freelancer_nets" step="any" min="1" readonly="true">
															</div>
														</div>
													</div>
													<br>
													<div class="row">
														<div class="col-sm-12">
															<div class="button-group">
																<button class="btn btn-primary counterOffer">Counter Offer</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									{{else}}
										{{#if jobPostedBuyer}}
											<div class="list-group">
												{{#each counterOfferedProviders}}
													<a class="list-group-item" href="{{pathFor 'profile'}}" style="text-decoration: none">
														<!-- <span class="pull-left thumb-sm">
															<img class="thumb-sm" src="{{this.customImageUrl}}" alt="{{this.name}}">
														</span>
														<span>
															<h5>{{this.name}}</h5>
															<h6>{{this.title}}</h6>
														</span> -->
														<span>
															<h4>{{this.userId}}</h4>
															{{#if this.countered_at}}
																<h5 class="pull-right"><i class="fa fa-calendar"></i>&nbsp;{{formatDate this.countered_at}}</h5>
															{{/if}}
															{{#if this.fixed_amount}}
																<h5>Fixed Amount: {{this.fixed_amount}}</h5>
															{{/if}}
															{{#if this.hourly_rate}}
																<h5>Hourly Rate: {{this.hourly_rate}}</h5>
															{{/if}}
															{{#if this.max_hours}}
																<h5>Maximum Hours: {{this.max_hours}}</h5>
															{{/if}}
															{{#if this.device_rate}}
																<h5>Rate per Device: {{this.device_rate}}</h5>
															{{/if}}
															{{#if this.max_devices}}
																<h5>Maximum Devices: {{this.max_devices}}</h5>
															{{/if}}
															{{#if this.first_hours}}
																<h5>{{this.first_hours}} USD for the first {{this.first_max_hours}} hours and then {{this.next_hours}} USD for the next {{this.next_max_hours}} hours.</h5>
															{{/if}}
														</span>
														<span>
															<button class="btn btn-success btn-sm acceptApplication">Accept</button>
															<button class="btn btn-danger btn-sm rejectApplication">Reject</button>
														</span>
													</a>
												{{else}}
													<h6>No providers have counter offered for this job yet.</h6>
												{{/each}}
											</div>
										{{else}}
											<p>{{counterOfferCount}} user(s) have countered this offer so far.</p>
										{{/if}}
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{#if $eq userId $.Meteor.userId}}
								<div class="pull-right">
									&nbsp;
									<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
								</div>
								{{#if $eq status "active"}}
									<div class="pull-right">
										<a id="job-deactivate" class="btn btn-danger">
											<i class="fa fa-times"></i> Deactivate
										</a>
									</div>
								{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
