<template name="job">
	<div id="job" class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					{{>jobExpiredAlert}}
					{{#if isInRole 'admin'}}
					    {{>jobAdminEditLink}}
					    {{>jobStatusToggle}}  
					    {{>jobSuggestedTweet}}
					{{/if}}
					{{>jobStatusAlert}}
					<div class="row">
						<div class="col-sm-12">
							<h2>
								{{title}}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							{{#if servicelocation}}
								<span class="label label-primary"><i class="fa fa-map-marker"></i>&nbsp;{{servicelocation}}</span>
								{{#if location}}
									{{location}}
								{{/if}}
							{{/if}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<i class="fa fa-calendar fa-fw"></i> Posted on {{formatDate createdAt}}<hr>
							<i class="fa fa-user fa-fw"></i> By {{userName}}<hr>
							{{#if featured}}
								<hr>
								<i class="fa fa-trophy fa-fw"></i> Featured Until {{formatDate featuredThrough}}<hr>
							{{/if}}
							<div>
								<a id="pvt-mail" class="btn btn-info">
									<i class="fa fa-envelope"></i> Mail
								</a>
							</div>
						</div>
						<div class="col-sm-9">
							{{>jobLabels}}
							{{#if hasLabel}}
								<hr>
							{{/if}}
							<h4>Skills Required</h4>
							{{skillsrequired}}
							<hr>
							<h4>Description</h4>
							{{{htmlDescription}}}
							<hr>
							<h4>Service Schedule</h4>
							{{#if exactdate}}
								On: {{formatDate exactdate}}
							{{/if}}
							{{#if betweendates}}
								Between: {{betweendates}}								
							{{/if}}
							{{#if ratebasis}}
								<hr>
								<h4>Budget</h4>
								Payment type: {{ratebasis}}<br>
								{{#if hourlyrate}}
									{{hourlyrate}} USD per hour for {{maxhours}} hours.
									<br>Net: {{freelancer_nets}} USD
									{{else}}
										{{#if payforfirsthours}}
											{{payforfirsthours}} USD for the first {{firsthours}} hours, and then {{payfornexthours}} USD for the next {{nexthours}} hours.
											<br>Net: {{totalfromclient}} USD
											{{else}}
												{{#if rateperdevice}}
													{{rateperdevice}} USD for {{maxdevices}} devices.
													<br>Net: {{totalfromclient}} USD
													{{else}}
														{{#if fixedamount}}
															Net: {{fixedamount}} USD.
														{{/if}}
												{{/if}}
										{{/if}}
								{{/if}}
								<hr>
							{{/if}}
							{{#if contactperson}}
								<hr>
								<h4>Service Location</h4>
								Address: {{location}}<br>
								Contact Details: <br>
								{{contactperson}}<br>
								{{contactemail}}<br>
								{{contactphone}}
							{{/if}}
							{{#if tasks}}
								<hr>
								<h4>Tasks Assigned</h4>
								<ul>
									{{#each tasks}}
										<li>Freelancer must {{taskname}} and {{taskdescription}}</li>
									{{/each}}
								</ul>
							{{/if}}
							{{#if shipment}}
								<hr>
								<h4>Shipments to site</h4>
								<ul>
									{{#each shipment}}
										<li>{{itembeingshipped}} via 
											{{#if shipmentcarriername}}
												{{shipmentcarriername}}
											{{else}}
												{{shipmentcarrier}}
											{{/if}} 
											with tracking ID {{shipmenttracking}}
										</li>
									{{/each}}
								</ul>
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-9">
							<ul class="nav nav-pills nav-justified">
								<li class="active"><a data-toggle="tab" href="#discussion">Post a Query</a></li>
								<li>
									<a data-toggle="tab" href="#apply">
										{{#if currentUser.isDeveloper}}
											Apply
										{{else}}
											{{#if jobPostedBuyer}}
												View Applicants ({{appliedByCount}})
											{{else}}
												Applications
											{{/if}}
										{{/if}}
									</a>
								</li>
								<li>
									<a data-toggle="tab" href="#counter-offer">
										{{#if currentUser.isDeveloper}}
											Counter Offer
										{{else}}
											{{#if jobPostedBuyer}}
												View Counter Offers ({{counterOfferCount}})
											{{else}}
												Couter Offers
											{{/if}}
										{{/if}}
									</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="discussion" class="tab-pane fade in active">
									{{> commentsBox id=_id}}
								</div>
								<div id="apply" class="tab-pane fade">
									<div class="panel">
										<br>
										{{#if isInRole 'provider'}}
											<p>{{appliedByCount}} user(s) have applied for this job so far.</p>
											{{#if currentUser.isDeveloper}}
												<button class="btn btn-primary applyJob">Apply</button>
											{{else}}
												<h6>You must create your profile before you can apply for this job. <a href="{{pathFor 'profileNew'}}">Click here</a> to create your profile.</h6>
											{{/if}}
										{{else}}
											{{#if jobPostedBuyer}}
												<div class="list-group" width=100%>
													{{#each appliedProviders}}
														<a class="list-group-item" href="{{pathFor 'profile'}}" style="text-decoration: none">
															<span class="pull-left thumb-sm">
																<img class="thumb-sm" src="{{this.customImageUrl}}" alt="{{this.name}}">
															</span>
															<span>
																<h5>{{this.name}}</h5>
																<h6>{{this.title}}</h6>
															</span>
															<span>
																<button class="btn btn-success btn-sm">Accept</button>
																<button class="btn btn-danger btn-sm">Reject</button>
															</span>
														</a>
													{{else}}
														<h6>No providers have applied for this job yet.</h6>
													{{/each}}
												</div>
											{{else}}
												<p>{{appliedByCount}} user(s) have applied for this job so far.</p>
											{{/if}}
										{{/if}}
									</div>
								</div>
								<div id="counter-offer" class="tab-pane fade">
									<br>
									{{#if isInRole 'provider'}}
										Payment type: {{ratebasis}}<br>
										{{#if hourlyrate}}
											{{hourlyrate}} USD per hour for {{maxhours}} hours.
											<br>Net: {{freelancer_nets}} USD
											{{else}}
												{{#if payforfirsthours}}
													{{payforfirsthours}} USD for the first {{firsthours}} hours, and then {{payfornexthours}} USD for the next {{nexthours}} hours.
													<br>Net: {{totalfromclient}} USD
													{{else}}
														{{#if rateperdevice}}
															{{rateperdevice}} USD for {{maxdevices}} devices.
															<br>Net: {{totalfromclient}} USD
															{{else}}
																{{#if fixedamount}}
																	Net: {{fixedamount}} USD.
																{{/if}}
														{{/if}}
												{{/if}}
										{{/if}}
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{#if $eq userId $.Meteor.userId}}
								<div class="pull-right">
									&nbsp;
									<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
								</div>
								{{#if $eq status "active"}}
									<div class="pull-right">
										<a id="job-deactivate" class="btn btn-danger">
											<i class="fa fa-times"></i> Deactivate
										</a>
									</div>
								{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
