<template name="jobNew">
    <div class="row">
        <div class="col-sm-12">
            <p>You can either choose to publish to the portal or to your favorite providers or to any particular service provider. Upon publish, your account will be debited with proposed budget. You may edit the job and change the budget until the job is assigned to a provider. Once assigned you cannot edit.</p>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#autoForm id="jobNew" collection="Jobs" type="insert"}}
                        {{>jobFields}}
                        {{>submitButtons}}
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="submitButtons">
    <!-- <hr> -->
    <label>Whom would you like to publish?</label>
    <div class="radio">
        <label>
            <input type="radio" name="publishJob" value="allProviders" checked> Publish to all
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="publishJob" value="favProviders"> Publish to fav's
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="publishJob" value="selectedProviders"> Publish to chosen providers
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="publishJob" value="assignToProvider">Assign to a provider
        </label>
    </div>
    <div id="publishIndividual" class="panel panel-white panel-collapse collapse" hidden>
        <div class="panel-body">
            {{> afQuickField name="invitedproviders"}}
        </div>
    </div>
    <div id="assignToAProvider" class="panel panel-white panel-collapse collapse" hidden>
        <div class="panel-body">
            {{>afQuickField name="individualProvider"}}
        </div>
    </div>
    <button class="btn btn-sm btn-primary" data-balloon="Post job" data-balloon-pos="up" id="submitJob" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> OK wait...">Submit</button>
</template>

<template name="jobEdit">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit Job Post</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{#autoForm id="jobEdit" collection="Jobs" doc=job type="update"}}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> OK wait..."><i class="fa fa-floppy-o"></i> Update</button>
                                <button id="cancel" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> OK wait..."> Cancel</button>
                            </div>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="duplicateJob">
    <div class="row">
        <div class="col-sm-12">
            <p>You can either choose to publish to the portal or to your favorite providers or to any particular service provider. Upon publish, your account will be debited with proposed budget. You may edit the job and change the budget until the job is assigned to a provider. Once assigned you cannot edit.</p>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#autoForm id="jobNew" collection="Jobs" doc=job type="insert"}}
                        {{>jobFields}}
                        {{>submitButtons}}
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="jobFields">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{> afQuickField name='title' placeholder="This is the first thing providers see. So keep it precise and descriptive."}}
        </div>
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">                    
                    {{>afQuickField name="servicelocation"}}
                </div>
                {{#if afFieldValueIs name="servicelocation" value="Field Job"}}
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="loc" class="control-label">Location Details</label>
                                {{>jobLocationMap}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    {{> afQuickField name='serviceschedule' noselect=true}}
                    <div class="row">
                        {{#if afFieldValueIs name="serviceschedule" value="exactdate"}}
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                {{> afQuickField name="exactdate"}}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                {{> afQuickField name="exacttime"}}
                            </div>
                        {{/if}}
                        {{#if afFieldValueIs name="serviceschedule" value="betweendates"}}
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                {{> afQuickField name="startdate"}}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                {{> afQuickField name="enddate"}}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                {{> afQuickField name="starttime"}}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                {{> afQuickField name="endtime"}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            {{> afQuickField name="ratebasis"}}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            {{#if afFieldValueIs name="ratebasis" value="Fixed Pay"}}
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{> afQuickField name="fixedamount" placeholder="Enter amount"}}
                                    <label class="label-control">UTL Fees</label>
                                    <input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
                                    {{>afQuickField name="paidby"}}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{>afQuickField name="totalfromclient" readonly="true"}}
                                    {{>afQuickField name="your_cost" readonly="true"}}
                                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                                </div>
                            {{/if}}
                            {{#if afFieldValueIs name="ratebasis" value="Per Hour"}}
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{> afQuickField name="hourlyrate" placeholder="Enter amount per hour"}}
                                    {{>afQuickField name="maxhours" placeholder="Maximum hours"}}
                                    <label class="label-control">UTL Fees</label>
                                    <input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
                                    {{>afQuickField name="paidby"}}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{>afQuickField name="totalfromclient" readonly="true"}}
                                    {{>afQuickField name="your_cost" readonly="true"}}
                                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                                </div>
                            {{/if}}
                            {{#if afFieldValueIs name="ratebasis" value="Per Device"}}
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{> afQuickField name="rateperdevice" placeholder="Enter amount per device"}}
                                    {{> afQuickField name="maxdevices" placeholder="Maximum devices"}}
                                    <label class="label-control">UTL Fees</label>
                                    <input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
                                    {{>afQuickField name="paidby"}}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{>afQuickField name="totalfromclient" readonly="true"}}
                                    {{>afQuickField name="your_cost" readonly="true"}}
                                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                                </div>
                            {{/if}}
                            {{#if afFieldValueIs name="ratebasis" value="Blended"}}
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{>afQuickField name="payforfirsthours"}}
                                    {{>afQuickField name="firsthours"}}
                                    {{>afQuickField name="payfornexthours"}}
                                    {{>afQuickField name="nexthours"}}
                                    <label class="label-control">UTL Fees</label>
                                    <input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%">
                                    {{>afQuickField name="paidby"}}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{>afQuickField name="totalfromclient" readonly="true"}}
                                    {{>afQuickField name="your_cost" readonly="true"}}
                                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="alert alert-danger notEnoughBalance" hidden>
                                <strong>You don't have enough account balance. Click on the button to deposit funds.</strong>
                                <div>
                                    <a href="{{pathFor 'deposit'}}" class="btn btn-primary btn-sm">Deposit Funds</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{>afQuickField name="jobtype" type="select" options=parentCategories}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{>afQuickField name="jobSubCategory" type="select" options=childCategories}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            {{> afQuickField name='skillsrequired' placeholder="e.g. Cable Operator, DB Admin, Hardware.."}}
        </div>
    </div>
    {{> afQuickField name='description' rows=12 placeholder="Tell prospective service providers about this job in detail."}}
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <a href="#confidentialDesc" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                            <h5>Confidential Information</h5>
                        </a>
                    </div>
                    <div id="confidentialDesc" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{> afQuickField name='confidentialDescription' rows=4 placeholder="All the information you write here will only be display to the assigned provider."}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" data-toggle="modal" id="uploadDocs" data-target="#uploadJobDocs">Attach Documents</button>
        </div>
        <div class="col-xs-12">
            <div id="uploadJobDocs" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" aria-label="close" type="button"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Select/Upload Documents</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="btn btn-success input-group-btn btn-lbl" data-toggle="tooltip" data-placement="top" style="font-size: 12px;">
                                                <input type="file" class="file_bag" multiple=true> Select from Computer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="control-label">Select from the documents</label>
                                    <br>
                                    <div class="row">
                                        {{#each userDocuments}}
                                            <div class="col-md-3">
                                                <div class="thumbnail" style="position: relative;">
                                                    <span title="Remove" class="close-preview removeUserFile" data-url="{{file_url}}" style="cursor: pointer;">&times;</span>
                                                    <input type="checkbox" name="select_files" value="{{file_url}}" data-url="{{file_url}}" data-file-name="{{file_name}}">
                                                    <img src="{{this}}" style="height:100px;" onerror="this.src='/images/genericFile.jpg'">
                                                    <div class="caption" style="overflow: hidden;word-wrap: break-word;">
                                                        <a href="{{file_url}}" target="_blank">{{this.file_name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                        {{#if userDocuments}}
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <button type="button" class="btn btn-success attachSelected">Attach</button>
                                                    </div>
                                                </div>
                                            </div>
                                        {{else}}
                                            <p>No files found. Please select from computer.</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="spinner">
                {{> spinner}}
            </div>
            {{#each uploadedFiles}}
                <div class="fileUploadProgress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                    aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent_uploaded}}%">{{percent_uploaded}}%</div>
                </div>
            {{/each}}
        </div>
        <div class="fileList">
            {{#each files}}
                <div class="col-md-2">
                    <div class="thumbnail" style="position: relative;">
                        <span title="Remove" class="close-preview remove-job-file" data-url={{this.file_url}} style="cursor: pointer;">&times;</span>
                        <a href="{{this.file_path}}" target="_blank">
                          <img src="{{this}}" style="height:100px;" onerror="this.src='/images/genericFile.jpg'">
                        </a>
                        <div class="caption" style="overflow: hidden;word-wrap: break-word;">
                            <a href="{{this.file_path}}" target="_blank">{{this.file_name}}</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div> 
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {{>afArrayField name="tasks"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {{>afArrayField name="shipment"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="jobLocationMap">
    <div class="map-container">    
        <input type="text" id="loc" data-schema-key="location" name="location" class="form-control" value="{{locationData}}" data-source="location">
    </div>
    <div id="locationDetails">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" name="name" data-schema-key="fullLocation.street" class="form-control" value="{{this.job.fullLocation.street}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Sub Locality</label>
                    <input type="text" name="sublocality" class="form-control" data-schema-key="fullLocation.sublocality" value="{{this.job.fullLocation.sublocality}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Locality</label>
                    <input name="locality" type="text" class="form-control" data-schema-key="fullLocation.locality" value="{{this.job.fullLocation.locality}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="administrative_area_level_1_short" data-schema-key="fullLocation.state" value="{{this.job.fullLocation.state}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" data-schema-key="fullLocation.country" value="{{this.job.fullLocation.country}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Formatted Address</label>
                    <input type="text" class="form-control" name="formatted_address" data-schema-key="fullLocation.formatted_address" value="{{this.job.fullLocation.formatted_address}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Zip</label>
                    <input type="text" class="form-control" name="postal_code" data-schema-key="fullLocation.zip" value="{{this.job.fullLocation.zip}}" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Map Link</label>
                    <input type="text" name="url" data-schema-key="fullLocation.mapLink" class="form-control" value="{{this.job.fullLocation.mapLink}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" name="lat" data-schema-key="fullLocation.latitude" class="form-control" value="{{this.job.fullLocation.latitude}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" name="lng" data-schema-key="fullLocation.longitude" class="form-control" value="{{this.job.fullLocation.longitude}}">
                </div>
            </div>
        </div>
    </div>
</template>