<template name="jobNew">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">UTL's platform is there for your IT related needs.</h4>
                <br>
                <p>Jobs are free to post. Your job post will remain on this site for 90 days.  After 90 days the post will no longer appear on the portal to providers.</p>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Create Your Job Post</h4>
                    </div>
                    <div class="panel-body">
                        {{#autoForm id="jobNew" collection="Jobs" type="insert" }}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary saveAsDraft"><i class="fa fa-bookmark-o"></i> Save as Draft</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-chevron-right"></i> Publish</button>
                            </div>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobEdit">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit Job Post</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{#autoForm id="jobEdit" collection="Jobs" doc=job type="update" }}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
                                <button id="cancel" class="btn btn-default"> Cancel</button>
                            </div>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="assignJob">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">You are assigning this job to {{#with selectedProvider}}<a href="{{pathFor 'profile'}}">{{this.name}}</a>{{/with}}</h4>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Create Your Job Post</h4>
                    </div>
                    <div class="panel-body">
                        {{#autoForm id="jobNew" collection="Jobs" type="insert" }}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary assign"><i class="fa fa-chevron-right"></i> Assign</button>
                            </div>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobFields">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{> afQuickField name='title' placeholder="This is the first thing providers see. So keep it precise and descriptive."}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{> afFormGroup name="jobtype"}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{> afQuickField name='skillsrequired' placeholder="e.g. Cable Operator, DB Admin, Hardware.."}}            
        </div>
    </div>
    {{> afQuickField name='description' rows=8 placeholder="Tell prospective service providers about this job in detail."}}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Upload Documents</label>
            <input type="file" class="form-control" multiple>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <!-- <label class="control-label">Service Location</label><br>
            <label class="radio-inline">
                <input type="radio" name="servicelocation" data-schema-key="servicelocation" value="Remote Job"> Remote Job
            </label>
            <label class="radio-inline">
                <input type="radio" name="servicelocation" data-schema-key="servicelocation" value="Field Job"> Field Job
            </label>   -->
            {{>afQuickField name="servicelocation"}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loc" hidden>
            <div class="form-group">
                <input id="loc" data-schema-key="location" class="form-control typeahead" name="location" type="text" placeholder="City, State, Zip" autocomplete="off" spellcheck="off"  value="{{locationData}}"  data-source="location" maxlength="128" />
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <hr>
    {{> afQuickField name='serviceschedule' noselect=true}}
    <div class="row">
        {{#if afFieldValueIs name="serviceschedule" value="exactdate"}}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                {{> afQuickField name="exactdate"}}
            </div>
        {{/if}}
        {{#if afFieldValueIs name="serviceschedule" value="betweendates"}}
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                {{> afQuickField name="startdate"}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                {{> afQuickField name="enddate"}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                {{> afQuickField name="starttime"}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                {{> afQuickField name="endtime"}}
            </div>
        {{/if}}
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Confidential (Only assigned providers can see this information)</h5>
                </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            {{>afQuickField name="contactperson" placeholder=""}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            {{>afQuickField name="contactemail"}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            {{>afQuickField name="contactphone"}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{> afQuickField name='confidentialDescription' rows=4 placeholder="All the information you write here will only be display to the assigned provider."}}
        </div>
    </div>
    <hr>
    <div class="row">        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            {{> afQuickField name="ratebasis"}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {{#if afFieldValueIs name="ratebasis" value="Fixed Pay"}}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{> afQuickField name="fixedamount" placeholder="Enter amount"}}
                    <label class="label-control">UTL Fees</label>
                    <span><input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%"></span>
                    {{>afQuickField name="paidby"}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{>afQuickField name="totalfromclient" readonly="true"}}
                    {{>afQuickField name="your_cost" readonly="true"}}
                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                </div>
            {{/if}}
            
            {{#if afFieldValueIs name="ratebasis" value="Per Hour"}}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{> afQuickField name="hourlyrate" placeholder="Enter amount per hour"}}
                    {{>afQuickField name="maxhours" placeholder="Maximum hours"}}
                    <label class="label-control">UTL Fees</label>
                    <span><input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%"></span>
                    {{>afQuickField name="paidby"}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{>afQuickField name="totalfromclient" readonly="true"}}
                    {{>afQuickField name="your_cost" readonly="true"}}
                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                </div>
            {{/if}}
            {{#if afFieldValueIs name="ratebasis" value="Per Device"}}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{> afQuickField name="rateperdevice" placeholder="Enter amount per device"}}
                    {{> afQuickField name="maxdevices" placeholder="Maximum devices"}}
                    <label class="label-control">UTL Fees</label>
                    <span><input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%"></span>
                    {{>afQuickField name="paidby"}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{>afQuickField name="totalfromclient" readonly="true"}}
                    {{>afQuickField name="your_cost" readonly="true"}}
                    {{>afQuickField name="freelancer_nets" readonly="true"}}
                </div>
            {{/if}}
            {{#if afFieldValueIs name="ratebasis" value="Blended"}}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{>afQuickField name="payforfirsthours"}}
                    {{>afQuickField name="firsthours"}}
                    {{>afQuickField name="payfornexthours"}}
                    {{>afQuickField name="nexthours"}}
                    <label class="label-control">UTL Fees</label>
                    <span><input type="text" id="utl_fees" class="form-control" readonly="readonly" placeholder="5%"></span>
                    {{>afQuickField name="paidby"}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{>afQuickField name="totalfromclient" readonly="true"}}
                    <label class="label-control">Your Cost</label>
                    <span><input type="text" id="your_cost" name="your_cost" class="form-control" readonly="readonly"></span>
                    <br>
                    <label class="label-control">Freelancer Nets</label>
                    <span><input type="text" id="freelancer_nets" name="freelancer_nets" class="form-control" readonly="readonly"></span><br>
                </div>
            {{/if}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{>afArrayField name="tasks"}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{>afArrayField name="shipment"}}
        </div>
    </div>
    <!-- <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{>afQuickField name="assignToProvider"}}
        </div>
    </div>
    <div class="row selectProviders" hidden>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{#each availableProviders}}
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="selectedProviders" data-schema-key="selectedProviders" value="{{this._id}}">{{#with this}} <a href="{{pathFor 'profile'}}"> {{this.name}}</a>{{/with}}
                    </label>
                </div>
            {{/each}}
        </div>
    </div> -->
    <!-- {{> afQuickField name="fileId"}} -->
</template>