<template name="jobLabels">
    {{#if featured}}<span class="label label-primary"><i class="fa fa-trophy"></i> Featured</span>{{/if}} <br>
    {{#if jobtype}}<span><small><a href="{{#if isInRole 'provider'}}/category/{{jobtype}}{{/if}}{{#if isInRole 'buyer, dispatcher'}}/pro/{{jobtype}}{{/if}}" class="jobTypeFilter">{{jobtype}}</a></small></span>&nbsp;&raquo;&nbsp;<a href="{{#if isInRole 'provider'}}/subcategory/{{jobSCategory}}{{/if}}{{#if isInRole 'buyer, dispatcher'}}/pro/{{jobSCategory}}{{/if}}"><small>{{jobSubCategory}}</small></a>{{/if}}
</template>