<template name="jobSmall">
    <div class="panel panel-default {{#if $eq applicationStatus 'open'}}openJob{{/if}} {{#if $eq applicationStatus 'frozen'}}frozenJob{{/if}} {{#if $eq applicationStatus 'assigned'}}assignedJob{{/if}} {{#if $eq applicationStatus 'completed'}}completedJob{{/if}} {{#if $eq applicationStatus 'pending_payment'}}paymentPendingJob{{/if}} {{#if $eq applicationStatus 'paid'}}paidJob{{/if}} {{#if $eq status 'deactivated'}}deactivatedJob{{/if}}">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <small><i># {{readableID}}</i></small>
                    <p>
                        <a href="{{#if currentUser}}{{pathFor 'job'}}{{else}}/sign-in{{/if}}">{{title}}</a>
                        <br>
                        <small>
                            {{#if $eq servicelocation 'Remote Job'}}
                                {{servicelocation}}
                            {{else}}
                                {{fullLocation.locality}}, {{fullLocation.state}}, {{fullLocation.zip}}
                            {{/if}}
                        </small>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>
                        Budget{{#if freelancer_nets}}&nbsp;-&nbsp;{{freelancer_nets}}&nbsp;USD{{/if}}
                    </h4>
                    <small>
                        {{#if postedByDispatcher}}
                            Posted {{#with dispatcherData}}by <a href="{{pathFor 'dispatcher'}}">{{firstName}} {{lastName}}</a>{{/with}}&nbsp;-&nbsp;{{postedTime}}
                        {{/if}}
                        {{#if postedByBuyer}}
                            Posted {{#with buyerData}}by <a href="{{pathFor 'buyer'}}">{{firstName}} {{lastName}}</a>{{/with}}&nbsp;-&nbsp;{{postedTime}}
                        {{/if}}
                    </small>
                    <br>
                    <small>
                        <!-- <span class="label label-sm {{appStatusLabel}}">Status: {{#if $eq status 'deactivated'}} Deactivated {{else}} {{applicationStatus}}{{/if}}</span>
                        {{#if assignedProvider}}
                            &nbsp;{{#if $eq applicationStatus 'assigned'}}to{{else}}{{#if $eq applicationStatus 'completed'}}by{{/if}}{{/if}}&nbsp;{{#with assignedProfile}} <a href="{{pathFor 'profile'}}">{{this.firstName}} {{this.lastName}}</a>{{/with}}
                        {{/if}}
                        &nbsp;|&nbsp; -->
                        Applications: {{applicationsCount}}
                        {{#if applied}}
                            &nbsp;&#124;&nbsp;(U've Applied)
                        {{/if}}
                        <!-- {{#if selectedProvider}}Routed to 
                            {{#with routedProvider}} 
                                <a href="{{pathFor 'profile'}}">{{this.firstName}} {{this.lastName}}</a>
                            {{/with}}
                        {{else}}
                            
                        {{/if}} -->
                    </small>
                </div>
                {{#if acceptedProvider}}
                    {{#if $eq applicationStatus 'frozen'}}
                        <div class="col-sm-12">
                            <hr>
                            {{#if routed}}
                                <p>Routed job. Confirm.</p>
                            {{else}}
                                <p>Application accepted. Confirm.</p>
                            {{/if}}
                            <button class="margin-top-5 btn btn-primary btn-sm confirmAssignment">Confirm</button>
                            <!-- <button class="margin-top-5 btn btn-primary btn-sm declineAssignment">Decline</button> -->
                        </div>
                    {{/if}}
                    {{#if $eq applicationStatus 'assigned'}}                        
                        {{#if $eq assignmentStatus 'not_confirmed'}}
                            <div class="col-sm-12">
                                <hr>
                                {{#if routed}}
                                    <small>Routed job. Needs confirmation.</small>
                                {{else}}
                                    <small>Application accepted. Job assigned. Needs confirmation.</small><br>
                                {{/if}}
                                <button class="margin-top-5 btn btn-primary btn-sm confirmAssignment">Confirm</button>
                            </div>
                        {{/if}}
                        {{#if $eq assignmentStatus 'confirmed'}}
                            <div class="col-sm-12">
                                <small>U confirmed. Job assigned. Finish all the tasks and fill up your timesheets to submit the job for buyer approval.</small><br>
                                {{#if tasksTSCompleted}}
                                    <button class="margin-top-5 btn btn-primary btn-sm submitAssignment">Submit Job for Approval.</button> | <button class="margin-top-5 btn btn-primary btn-sm">Budget Increase</button>
                                {{/if}}
                            </div>
                        {{/if}}
                        {{#if $eq assignmentStatus 'rejected'}}
                            <div class="col-sm-12">
                                <p>Rejected job done. Please discuss with the buyer for futher details and submit the job for buyer approval.</p>
                                <button class="margin-top-5 btn btn-primary btn-sm submitAssignment">Submit Job for Approval.</button> | <button class="margin-top-5 btn btn-primary btn-sm">Budget Increase</button>
                            </div>
                        {{/if}}
                        {{#if $eq assignmentStatus 'submitted'}}
                            <div class="col-sm-12">
                                <small>Job submitted for approval. Await response.</small>
                            </div>
                        {{/if}}
                    {{/if}}
                    {{#if $eq applicationStatus 'paid'}}
                        <div class="col-sm-12">
                            <hr>
                            Job approved. Account credited.
                            {{#if reviewedBuyer}}
                                Review written. Job successfully closed. <a href="/invoices/{{invoiceId}}">View invoice</a>
                            {{else}}
                                <br>
                                <button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#reviewClient{{_id}}">Rate &amp; Review Buyer</button>
                                <div id="reviewClient{{_id}}" class="panel panel-white panel-collapse collapse">
                                    <div class="panel-body">
                                        <form id="reviewBuyer">
                                            <div class="form-group">
                                                <label for="writeReview">Write a review</label>
                                                <textarea name="reviewMessage" id="writeReview" rows="3" class="form-control"></textarea><br>
                                                <label>Rate buyer</label>&nbsp;<span class="rateit"></span>
                                            </div>
                                            <button class="margin-top-5 btn btn-primary" type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                {{else}}
                    {{#if jobPostedBuyer}}
                        {{#if $eq applicationStatus 'assigned'}}
                            {{#if $eq assignmentStatus 'not_confirmed'}}
                                <div class="col-sm-12">
                                    <hr>
                                    <small>Job assigned. Awaiting confirmation.</small>
                                </div>
                            {{/if}}
                            {{#if $eq assignmentStatus 'confirmed'}}
                                <div class="col-sm-12">
                                    <hr>
                                    <small>Job assigned. Provider confirmed.</small>
                                </div>
                            {{/if}}
                            {{#if $eq assignmentStatus 'submitted'}}
                                <div class="col-sm-12">
                                    <hr>
                                    <p>Job submittted. Approve or reject. Upon approval, the provider's account will be credited with {{projectBudget}} USD. Ensure that all the tasks and timesheets are upto your mark.</p>
                                    <button class="margin-top-5 btn btn-primary btn-sm approveAssignment">Approve</button>
                                    <button class="margin-top-5 btn btn-primary btn-sm rejectAssignment">Reject</button>
                                </div>
                            {{/if}}
                            {{#if $eq assignmentStatus 'rejected'}}
                                <div class="col-sm-12">
                                    <hr>
                                    <small>You have rejected the assignment. Please discuss with the provider and sort it out.</small>
                                </div>
                            {{/if}}
                        {{/if}}
                        {{#if $eq applicationStatus 'paid'}}
                            <div class="col-sm-12">
                                <hr>
                                Job approved. Provider's account credited.
                                {{#if reviewedProvider}}
                                    Review written. Job successfully closed. <a href="/invoices/{{invoiceId}}">View invoice</a>
                                {{else}}
                                    <br>
                                    <button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#reviewExpert{{_id}}">Rate &amp; Review Provider</button>
                                    <div id="reviewExpert{{_id}}" class="panel panel-white panel-collapse collapse">
                                        <div class="panel-body">
                                            <form id="reviewProvider">
                                                <div class="form-group">
                                                    <label for="writeReview">Write a review</label>
                                                    <textarea name="reviewMessage" id="writeReview" rows="3" class="form-control"></textarea><br>
                                                    <label>Rate provider</label><br><span class="rateit"></span>
                                                </div>
                                                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>