<template name="jobs">
    <!-- <div class="row">
        <div class="col-sm-12">
            {{#each jobs}}
                {{>jobSmall}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#if Template.subscriptionsReady}}
                {{#if hasMoreJobs}}
                    <a href class="load-more btn btn-primary">Load More</a>
                {{/if}}
            {{else}}
                <i class="fa fa-spinner fa-pulse"></i>&nbsp;Loading....
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=openJobs options=openJobsOptions}}
</template>