<template name="jobs">
    <div class="row">
        <div class="col-sm-12">
            <p>
                Jobs: Open - {{openJobsCount}} &#124; 
                <a href="{{pathFor 'recommendedJobs'}}">Recommended - {{recommendedJobsCount}}</a> &#124;
                <a href="{{pathFor 'invitedJobs'}}">Invited - {{providerInvitedCount}}</a>
            </p>
            <hr>
        </div>
        <!-- <div class="col-sm-12 col-md-3">
            <input type="text" class="form-control" id="search-box" placeholder="search jobs here" />
        </div> -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#each jobs}}
                {{>jobSmall}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#if Template.subscriptionsReady}}
                {{#if hasMoreJobs}}
                    <a href class="load-more btn btn-primary">Load More</a>
                {{/if}}
            {{else}}
                <div class="jobsloading">{{>spinner}}</div>
            {{/if}}
        </div>
    </div>
</template>