<template name="myJobs">
	<div class="row">
		<div class="col-sm-12">
			<h5>Posted Jobs &#124; <a href="{{pathFor 'buyerRoutedJobs'}}">Routed Jobs</a> &#124; <a href="{{pathFor 'buyerAssignedJobs'}}">Assigned Jobs</a> &#124; <a href="{{pathFor 'buyerCompletedJobs'}}">Completed Jobs</a></h5>
		</div>
		<div class="col-sm-12">
			{{#each jobs}}
				{{>jobSmall}}
			{{else}}
				You haven't posted any jobs.  <a href="{{pathFor 'jobNew'}}">Post a Job</a> if you have one to offer.
			{{/each}}
		</div>
	</div>
</template>