<template name="myJobs">
	<div class="row">
		<div class="col-sm-9">
			<p>My Jobs:
				All - {{postedJobCount}} &#124;
				<a href="{{pathFor 'buyerOpenJobs'}}">Open - {{buyerOpenCount}}</a> &#124;
				<a href="{{pathFor 'buyerInvitedJobs'}}">Invited - {{buyerInvitedCount}}</a> &#124;
				<a href="{{pathFor 'buyerRoutedJobs'}}">Routed - {{buyerRoutedCount}}</a> &#124;
				<a href="{{pathFor 'buyerAssignedJobs'}}">Assigned - {{buyerAssignedCount}}</a> &#124;
				<a href="{{pathFor 'buyerPaidJobs'}}">Paid - {{buyerPaidCount}}</a> &#124;
				<a href="{{pathFor 'deactivatedJobs'}}">Deactivated - {{deactivatedCount}}</a>
			</p>
		</div>
		<!-- <div class="col-sm-3">
			<input type="text" class="form-control" id="search-box" placeholder="search all jobs" />
		</div> -->
		<div class="col-sm-12">
			<hr>
			{{#each buyerJobs}}
				{{>jobSmall}}
			{{else}}
				You haven't posted any jobs.  <a href="{{pathFor 'jobNew'}}">Post a Job</a> if you have one to offer.
			{{/each}}
		</div>
	</div>
</template>