<template name="myJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#each buyerJobs}}
				{{>jobSmall}}
			{{else}}
				You haven't posted any jobs.  <a href="{{pathFor 'jobNew'}}">Post a Job</a> if you have one to offer.
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if Template.subscriptionsReady}}
                {{#if hasMoreJobs}}
                    <a href class="load-more btn btn-primary">Load More</a>
                {{/if}}
            {{else}}
                <div class="jobsloading">{{>spinner}}</div>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=allJobs options=allJobsOptions}}
</template>