<template name="providerAssignedJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs: <a href="{{pathFor 'appliedJobs'}}">Applied ({{appliedJobsCount}})</a> &#124; <a href="{{pathFor 'providerRoutedJobs'}}">Routed ({{routedJobsCount}})</a> &#124; Assigned ({{assignedJobsCount}}) &#124; <a href="{{pathFor 'providerCompletedJobs'}}">Completed ({{completedJobsCount}})</a> &#124;  <a href="{{pathFor 'providerPaymentPendingJobs'}}">Payment Pending ({{proPaymentJobsCount}})</a> &#124; <a href="{{pathFor 'providerPaidJobs'}}">Paid ({{proPaidJobsCount}})</a></p>
		</div>
		<div class="col-sm-12">
			{{#each providerAssignedJobs}}
				{{>jobSmall}}
			{{else}}
				<hr>
				<p>You have no assigned jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
</template>