<template name="providerAssignedJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#each providerAssignedJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You have no assigned jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if hasMoreJobs}}
                <a href class="load-more btn btn-primary">Load More</a>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=assignedJobs options=assignedJobsOptions}}
</template>