<template name="providerAllJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			<h5>My Jobs</h5>
			{{#each providerAllJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You haven't applied for any jobs yet. <a href="{{pathFor 'jobs'}}">Find jobs</a> to apply.</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if hasMoreJobs}}
                <a href class="load-more btn btn-primary">Load More</a>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=allJobs options=allJobsOptions}}
</template>