<template name="providerDeactivatedJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs: 
				<a href="{{pathFor 'providerAllJobs'}}">All - {{providerAllCount}}</a> &#124;
				<a href="{{pathFor 'appliedJobs'}}">Applied - {{appliedJobsCount}}</a> &#124;
				<a href="{{pathFor 'providerAssignedJobs'}}">Assigned - {{assignedJobsCount}}</a> &#124;
				<a href="{{pathFor 'providerPaidJobs'}}">Paid - {{proPaidJobsCount}}</a> &#124;
				Deactivated - {{proDeactivatedCount}}
			</p>
			<hr>
		</div>
		<div class="col-sm-12">
			{{#each providerDeactivatedJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You have no deactivated jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
</template>