<template name="providerPaidJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs:
				<a href="{{pathFor 'providerAllJobs'}}">All - {{providerAllCount}}</a> &#124;
				<a href="{{pathFor 'appliedJobs'}}">Applied - {{appliedJobsCount}}</a> &#124;
				<a href="{{pathFor 'providerRoutedJobs'}}">Routed - {{routedJobsCount}}</a> &#124; 
				<a href="{{pathFor 'providerAssignedJobs'}}">Assigned - {{assignedJobsCount}}</a> &#124;
				Paid - {{proPaidJobsCount}} &#124;
				<a href="{{pathFor 'providerDeactivatedJobs'}}">Deactivated - {{proDeactivatedCount}}</a>
			</p>
			<hr>
		</div>
		<div class="col-sm-12">
			{{#each providerPaidJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You have no assigned jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if hasMoreJobs}}
                <a href class="load-more btn btn-primary">Load More</a>
            {{/if}}
        </div>
    </div>
</template>