<template name="providerPendingApprovalJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#each providerPendingApprovalJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You have no jobs that are pending approval at this moment.</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if hasMoreJobs}}
                <a href class="load-more btn btn-primary">Load More</a>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=pendingApproval options=pendingApprovalOptions}}
</template>