<template name="providerAllJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs:
				All - {{providerAllCount}} &#124;
				<a href="{{pathFor 'invitedJobs'}}">Routed - {{invitedJobsCount}}</a> &#124;
				<a href="{{pathFor 'appliedJobs'}}">Applied - {{appliedJobsCount}}</a> &#124;
				<!-- <a href="{{pathFor 'providerRoutedJobs'}}">Routed - {{routedJobsCount}}</a> &#124; -->
				<a href="{{pathFor 'providerAssignedJobs'}}">Assigned - {{assignedJobsCount}}</a> &#124;
				<a href="{{pathFor 'providerPaidJobs'}}">Paid - {{proPaidJobsCount}}</a>
			</p>
			<hr>
		</div>
		<div class="col-sm-12">
			{{#each providerAllJobs}}
				{{>jobSmall}}
			{{else}}
				<p>You haven't applied for any jobs yet. <a href="{{pathFor 'jobs'}}">Find jobs</a> to apply.</p>
			{{/each}}
		</div>
	</div>
</template>