<template name="providerRoutedJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs: <a href="{{pathFor 'appliedJobs'}}">Applied Jobs ({{appliedJobsCount}})</a> &#124; Routed Jobs ({{routedJobsCount}}) &#124; <a href="{{pathFor 'providerAssignedJobs'}}">Assigned Jobs ({{assignedJobsCount}})</a> &#124; <a href="{{pathFor 'providerPaymentPendingJobs'}}">Payment Pending Jobs ({{proPaymentJobsCount}})</a> &#124; <a href="{{pathFor 'providerCompletedJobs'}}">Completed Jobs ({{completedJobsCount}})</a></p>
		</div>
		<div class="col-sm-12">
			{{#each providerRoutedJobs}}
				{{>jobSmall}}
			{{else}}
				<hr>
				<p>You have no routed jobs at this moment.</p>
			{{/each}}
		</div>
	</div>
</template>