<template name="providerCompletedJobs">
	<div class="row">
		<div class="col-sm-12">
			<p>My Jobs: <a href="{{pathFor 'appliedJobs'}}">Applied ({{appliedJobsCount}})</a> &#124; <a href="{{pathFor 'providerRoutedJobs'}}">Routed ({{routedJobsCount}})</a> &#124; <a href="{{pathFor 'providerAssignedJobs'}}">Assigned ({{assignedJobsCount}})</a> &#124; <a href="{{pathFor 'providerPaymentPendingJobs'}}">Payment Pending ({{proPaymentJobsCount}})</a> &#124; Completed ({{completedJobsCount}})</p>
		</div>
		<div class="col-sm-12">
			{{#each providerCompletedJobs}}
				{{>jobSmall}}
			{{else}}
				<hr>
				<p>You still have not completed any jobs yet.</p>
			{{/each}}
		</div>
	</div>
</template>