<template name="recommendedJobs">
	<!-- <div class="row">
		<div class="col-sm-12">
			{{#if currentUser}}
				{{#each recommendedJobs}}
					{{>jobSmall}}
				{{else}}
					<p>There are not recommended jobs at this moment.</p>
				{{/each}}
			{{/if}}
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            {{#if Template.subscriptionsReady}}
                {{#if hasMoreJobs}}
                    <a href class="load-more btn btn-primary">Load More</a>
                {{/if}}
            {{else}}
                <div class="jobsloading">{{>spinner}}</div>
            {{/if}}
        </div>
    </div> -->
    {{>ReactiveDatatable tableData=recommendedJobs options=recommendedJobsOptions}}
</template>